.agreeable_contract {
  .details {
    div.function-container {
      width: 100%;
    }
  }
  .nda {

    span.nda-pending {
      color: #dddddd;
      font-weight: bold;
      font-size: 16px;
      width: auto;
      margin: 0;
      padding: 3px;
      border: 2px solid #dddddd;
    }
    &.field-01 {
      span.field-name {
        display: inline-block;
        text-align: right;
        margin-right: 20px;
        width: 182px;
        font-size: 18px;
        color: #f6aa00;
        font-weight: 700;
      }
      p {
        padding: 0 25px;
        color: #f6aa00;
        font-size: 16px;
      }
      
    }
    &.addiplist3,
    &.addiplist4 {
      width: 95%;
      margin: 0 auto;
      line-height: 35px;
      p {
        margin-bottom: 15px;
        span {
          width: auto !important;
          margin: 0;
          font-size: 18px;
          font-weight: bold;
          color: #f6aa00;
        }
      }
      ol {
        list-style-type: decimal;
        padding: 0 15px;
        &[type="a"] {
          list-style-type: lower-alpha;
        }
        &[type="i"] {
          list-style-type: lower-roman;
        }
      }
      input, select{
          border:2px solid #ff0000;
      }
      input {
        height:25px;
        line-height: 15px;
        &.input-valid-date {
          width: 120px;
        }
        &.input-sender-name {
          width: 300px;
        }
        &.input-sender-address {
          width: 800px;
        }
        &.input-recipient-name {
          width: 480px;
        }
        &.input-recipient-address {
          width: 800px;
        }
        &.input-pnddo {
          width: 280px;
        }
        &.input-ndd {
          width: 180px;
        }
        &.input-num {
          width: 105px;
        }
      }
    }
  }
  .nda-tab {

    .nda-plaintext-tab {
      display: none;
      &.unilateral-nda {
        display: block;
      }
      &.nda-edit {
        display: block;
        
        span.static-var-data {
          color: #f6aa00;
          font-weight: bold;
          font-size: 18px;
          width: auto;
          margin: 0;
        }
      }
    }
    
    &.listtitle2 {
      span {
        color: #ff0000;
      }
    }
    
    span.recipient-name,
    span.sender-name {
      font-size: 18px;
      color: #f6aa00;
      font-weight: bold;
    }
    input[type="file"].hidden-input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    label.but06 {
      display: inline-block;
      border: 1px solid #00468c;
      width: 100px;
      color: #fff;
      background: #00468c;
      text-align: center;
      height: 28px;
      line-height: 24px;
      cursor: pointer;
      &:hover {
        background: #fff;
        color: #00468c;
      }
    }
    label.but04 {
      padding: 0 10px;
      cursor: pointer;
      &:hover {
        background: #fff;
        color: #f6aa00;
      }
    }
    
  }
  .but03 {
    cursor: pointer;
  }

  .w850{
    width: 850px;
    word-break: break-all;
  }

  @media print
  {
    .top,.tag1,h4,.block2,.ndabut,#footer,input {
      display: none;
    }
    .w1200 {
      width: 950px;
      color: #000;
    }
    .w850{
      width: 550px;
      word-break: break-all;
    }
    .addip > div {
      width: 800px;
    }
    .addiplist.nda span {
      width: auto;
      color: #000;
    }
    .addiplist.nda > span:first-child {
      width: 100px;
    }
    .ndatxt_print {
      display: inline-block;
      margin-top: -30px;
      margin-left: 120px;
    }
    .input_print {
      display: inline-block;
      font-weight: bold;
    }
    .ndatxt, .addip .addiplist.nda span.ndatxt {
      color: #000;
    }
    .cont {
      margin: 0 auto;
      color: #000;
    }
    .mt40 {
      margin: 0;
    }
    .print_footer {
      width: 100%;
    }
    .print_footer.graybg,.graybg div.w1200 {
      background-color: #fff;
    }
    .print_footercont {
      border-right:1px solid #ccc;
      border-bottom:1px solid #ccc;
      border-left:30px solid #ccc; 
      width: 100%;
      margin-left:2px;
      margin: 0 auto;
      position: relative;
    }
    .print_footercont > div {
      display: inline-block;
      vertical-align: middle;
      color: #000;
      line-height: 35px;
    }
    .print_footercont div.footerver {
      position: absolute;
      transform: rotate(-90deg);
      top: 80px;
      left: -83px;
      font-size: 20px;
      color: #fff;
    }
    .print_footercont > div p {
      font-weight: bold;
    }
    table.sign {
      width: 750px;
    }
    .br1.addip{
      margin-bottom:0; 
    }
    ul li {
      margin-bottom: 10px;
    }
    .addiplist4 table.sign{
      margin-top: 80px;
    }
    ul.addiplist4 li {
      color: #000;
    }
    .function-container{
      display: none;
    }
    .tag2 {
      display: none;
    }
    .listtitle2 {
      font-weight: normal;
      text-align: center;
      font-size: 28px;
      color: #fff !important;
      background-color: #bbb !important;
      padding: 20px;
      #nda-title {
        color: #fff !important;
        font-weight: bold;
      }
    }
  }
}
