.secure.contracts {
  .datarecordsadd {
    width: 540px;
    border: 1px solid #eee;
    height: 102px;
    background: #eee;
    vertical-align: top;
    text-align: center;
    img {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  .block1.datarecords {
    width: 100%;
    span {
      margin-top: 0;
    }
  }

  #ip-notary-signature p {
    width: 100%;
  }

  #ip-notary-signature-dropzone {
    width: 100%;
    border: 1px dashed #ccc;
    padding: 15px;
  }

  #proof-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  ul#selected-files-list {
    & li {
      display: block;
      border: 1px solid #ccc;
      padding: 15px;

      & i.fa {
        margin-right: 10px;
      }
    }
  }

  p {
    width: 100%;
    padding: 0;
  }

  /* For contract status */
  .status-label-accepted {
    display: inline-block;
    border: 1px solid #5cb85c;
    width: 100px;
    color: #fff;
    background: #4cae4c;
    text-align: center;
  }

  .status-label-cancelled,
  .status-label-declined {
    display: inline-block;
    border: 1px solid #d4d4d4;
    width: 100px;
    color: #cccccc;
    background: #8c8c8c;
    text-align: center;
  }

  .status-label-pending {
    display: inline-block;
    border: 1px solid #d9534f;
    width: 100px;
    color: #fff;
    background: #d43f3a;
    text-align: center;
  }

  .status-label-issued {
    display: inline-block;
    border: 1px solid #337ab7;
    width: 100px;
    color: #fff;
    background: #2e6da4;
    text-align: center;
  }

  .status-label-received {
    display: inline-block;
    border: 1px solid #f6aa00;
    width: 100px;
    color: #fff;
    background: #f6aa00;
    text-align: center;
  }
}
