.secure .ip-discovery .ip-summary-block {
    & > a > img {
      width: 320px;
      height: 192px;
    }

    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px;
    width: 340px;
    margin: 15px 24px;
    vertical-align: top;
}

.secure .ip-discovery .ip-summary-title {
  height: 2em;
  line-height: 1em;
  margin-top: 10px;
  font-weight: 700;
}

.secure .ip-discovery .ip-summary-keywords {
  height: 2.5em;
  line-height: 1.1em;
  color: #333;
  overflow: hidden;
  margin-top: 0.3em;
  & a {
    margin-left: 5px;
    display: inline-block;
    &:first-child {
      margin-left: 0;
    }
  }
}

.secure .ip-discovery .ip-summary-category {
  height: 2em;
  line-height: 2em;
  color: #999;
}