#dropzone {
  width: 650px;
}

label[for="proof-file"] {
  line-height: 1.25em;
}

.addip {
  & > div {
    &.okpic {
      width: auto;
    }
  }
  .addiplist2 {
    &.valid-date {
      margin-top: -53px;
    }
  }
}

#add-ip-notary {
  #proof-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    & + label {
      strong{
        &.no-hover:hover {
          color: initial;
        }
        &:hover {
          cursor: pointer;
          color: #f6aa00;
        } 
      }
    }
  }
  .block3 div#dropzone  {
    line-height: 36px;
  }
}

