.secure.ip_summaries {
  input[type="file"] {
    display: inline-block;
    &.hidden-input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
      & + label {
        cursor: pointer;
      }
    }
  }

  .preview-pane {
    line-height: 1;
    img {
      @include vertical-align();
      margin: 0;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .block1.datarecords {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    a.remove-ip-notary {
      position: absolute;
      right: 10px;
      top: 0;
      span {
        margin: 0;
        position: relative;
        width: auto;
        right: 0;
      }
    }
  }

  .details {
    .navigation {
      width: 200px;
      .logo {
        width: 100%;
        margin: 0;
      }
      li {
        border: 1px solid #bbb;
        a {
          border-radius: 0;
          border: none;
          background: #fff;
          color: #bbb;
          padding: 0;
        }
        &.active {
          a {
            background: #bbb;
            color: #fff;
          }
        }
      }
    }
    &.active {
      a {
        background: #bbb;
        color: #fff;
      }
    }
  }

  .tab-content {
    .inventor-name {
      margin: 0;
      &:hover {
        cursor: pointer;
      }
    }
    .record-heading {
      color: #00468c;
      font-size: 20px;
      padding: 8px 20px;
      background: #eee;
    }
    .datarecord {
      tr:last-child {
        border-bottom: 1px solid #ccc;
      }
      margin-bottom: 20px;
    }
    .add-to-contact{
      position: relative;
      top: 2px;
      margin-left: 10px;
      font-size: 18px;
      cursor: pointer;
    }
  }

  .radio-inline,
  .checkbox-inline {
    line-height: normal;
    vertical-align: middle;
  }

  .datarecordsadd {
    text-align: center;
    padding: 0;
    img {
      @include vertical-align();
    }
  }

  .addip {
    .addiplist {
      &.inventors-field {
        margin-bottom: 10px;
        span, a {
          vertical-align: top;
        }
      }
      .fields-group {
        width: 820px;
        .inventors_input_container {
          margin-bottom: 20px;
          .inventors_input {
            display: block;
            margin-right: 40px;
            margin-bottom: 10px;
          }
        }

        .patent_ids_input_container {
          .patent_ids_input {
            display: block;
            margin-right: 10px;
            margin-bottom: 10px;
          }
        }

        #add-more-patent_id {
          display: inline-block;
          position: relative;
          top: -5px;
        }
      }
      > span {
        vertical-align: middle;
      }
    }
    .addiplist2 {
      margin: -54px 0 0 450px;
      input {
        width: 380px;
      }
      &.Phase {
        margin-top: -46px;
        input {
          width: auto;
        }
      }
      > span {
        vertical-align: middle;
      }
    }
  }

  .tab-pane.tab-pane-no-margin {
    margin-left: 0;
  }
}

.but-inline {
  margin: 0;
  float: none;
}

span.required-field {
  font-size: 10px;
  color: black;
  line-height: 0.5;
}

p.ip-form-help {
  margin: 0 0 0 215px;
  font-size: 14px;
  color: #aaa;
  padding: 0;
}

.toggle-ip-summary-visibility i.fa {
  font-size: 2em;
}

.link-edit-ip-summary i.fa {
  font-size: 2em;
}
form.link {
  display: inline;
}

#ip-notary-select {
  .modal-dialog {
    width: 800px;
    .modal-content {
      border-radius: 0;
      .modal-body {
        padding: 0;
      }
    }
  }
  td .but04 {
    margin: 0;
    float: none;
  }
}

.secure.ip_summaries .ip-summary-keywords a {
  margin-left: 5px;
  &:first-child {
    margin-left: 0;
  }
}

#add-more-inventor {
  display: inline-block;
  margin-top: 22px;
}

.secure.ip_summaries .with-required {
  position: relative;
  top: 10px;
}

.tbl_patent {
  margin: 15px;
}

.but03_patent {
  font-size: 14px;
  padding: 2px 10px;
}
