tr.unread td:first-child a, tr.unread td:nth-child(2) a, tr.unread td:nth-child(3) a {
  color: #f6aa00;
}

tr.unread .fa.fa-envelope-o {
  font-size: 1em;
}

.new-message-container {
  width: 800px;
  margin: 30px auto 0 auto;
}

textarea.longtext2.user-profile-message-subject {
  margin-top: 15px;
  resize: none;
  height: 35px;
}

.user-profile-message-help {
  text-align: left;
  padding-left: 80px;
  margin: 0 auto 15px auto;
}