[Unit]
Description=The json exporter exposes JSON data in a prometheus format.

[Service]
ExecStart={{ json_exporter_bin }}
PIDFile=/var/run/prometheus/json_exporter.pid
StartLimitInterval=2s
StartLimitBurst=1
User=prometheus
Restart=always

[Install]
WantedBy=default.target