[Unit]
Description=Prometheus JSON exporter

[Service]
ExecStart={{ json_exporter_start_script }}
PIDFile=/var/run/prometheus/json_exporter.pid
StartLimitInterval=2s
StartLimitBurst=1
User=prometheus
Restart=always

[Install]
WantedBy=default.target