<p>Hi <%= @username %>,</p>

<p>You've been added as an admin user on BioIPSeeds. To set your password, please click the link below to set your password. This link is valid for <%= @valid_hours %> hours.</p>

<p><a href="<%= @password_reset_url %>">Set your password</a></p>
