<p>Dear <%= @name %>,</p>

<p>Your application to use the BioIPSeeds platform has been approved.</p>
<p>You can now sign in at <%= @login_url %> with your username and password.</p>

<%= render "_thank_you.html" %>