<p>Dear <%= @recipient_name %>,</p>

<p><%= @sender_name %> has issued an NDA contract to you on BioIPSeeds.</p>

<p>You can view the details of the issued NDA
  <%= link gettext("on this page"),
    to: app_agreeable_contract_url(Ipseeds.Endpoint, :edit, "en", @asset_id) %>.</p>

<%= render "_thank_you.html" %>