<p>Dear <%= @full_name %>,</p>

<p>You have a new message from <%= @sender_name %> (<%= @sender_user.username %>).</p>

<p>You can view your messages
  <%= link gettext("on this page"), to: app_message_url(Ipseeds.Endpoint, :index, "en") %>.</p>

<%= render "_thank_you.html" %>