<p>There is a new user registration waiting for approval.</p>
<p>In order to review the new application, please login to Ipseeds Admin dashboard via <a href="<%= raw @review_link %>">this link</a>.</p>

