<p>Dear <%= @full_name %>,</p>

<p>You have been issued a data contract from <%= @issuer_name %> (<%= @issuer_user.username %>).</p>

<p>You can view your contracts
  <%= link gettext("on this page"),to: app_contract_url(Ipseeds.Endpoint, :index, "en") %>.</p>

<%= render "_thank_you.html" %>