<p>You have a new customer contact message from the BioIPSeeds contact page.</p>

<p>Customer Name: <%= "#{@first_name} #{@last_name}" %></p>

<p>Customer Email: <%= @user_email %></p>

<h3>Customer Message: </h3>
<p><%= @message %></p>