<p>Dear <%= @full_name %>,</p>

<p>We have received a request to reset the password for your BioIPSeeds account.</p>

<p>Please click <%= link gettext("this link"), to: @reset_password_link %> to reset your password.</p>

<p>This link is valid for 24 hours from the time it was sent.</p>

<p>If you did not request to reset your password, or don't want to change it, please delete this message.</p>

<%= render "_thank_you.html" %>