<p>Dear <%= @recipient_name %>,</p>

<p><%= @sender_name %> has changed the status of an NDA issued by you.</p>

<p>You can view the updated NDA
  <%= link gettext("on this page"), 
    to: app_agreeable_contract_url(Ipseeds.Endpoint, :edit, "en", @asset_id) %>.</p>

<%= render "_thank_you.html" %>