<p>Dear <%= @full_name %>,</p>

<p>Thank you for registering for BioIPSeeds.</p>

<p>Your application to use BioIPSeeds has been received by our team and we will begin verification of your application very soon. This may take a few days to complete.</p>

<%= unless @individual_application? do %>
  <p>Industry and Research Institute applicants are required to sign an authorization letter before using BioIPSeeds. Please sign and email one of the documents below to <a href="mailto:support@ipseeds.net">support@ipseeds.net</a>:</p>
  <p>English:
    <a href="<%= @auth_letter_urls[:en] %>">
      BioIPSeeds_Authorization_Letter.pdf
    </a><br>
    中文: <a href="<%= @auth_letter_urls[:zh_tw] %>">BioIPSeeds平台授權書.pdf</a>
  </p>
<% end %>

<p>After your application is approved, you will receive another email from us with a link to start using BioIPSeeds.</p>

<%= render "_thank_you.html" %>