<div class="w1200 cont">
  <div class="table">
    <div class="tag1">
      <%= link to: get_current_explorer_path(@conn, @locale), class: "on" do %>
        <span><%= gettext "Latest Transactions" %></span>
      <% end %>
    </div>
    <table width="1200" border="0" cellspacing="0" cellpadding="0" class="tablestyle1" >
      <tr>
        <td width="65%"><%= gettext "Entry Hash" %></td>
        <td width="15%"><%= gettext "Entry Time" %></td>
      </tr>
      <%= for entry <- @entries do %>
        <tr>
          <td>
            <%= link to: get_current_explorer_detail_path(@conn, @locale, entry["id"]) do %>
              <%= entry["id"] %>
            <% end %>
          </td>
          <td class="text-center"><%= parse_api_timestamp entry["timestamp"] %></td>
        </tr>
      <% end %>
    </table>

  </div>
  <div class="page"><%= pagination_links @conn, @pages, ["en"], path: get_path_function(@conn) %></div>
</div>
