<div class="w1200 cont">
  <div class="table">
    <div class="tag1">
      <%= link to: get_current_explorer_path(@conn, @locale) do %>
        <span><%= gettext "Latest Transactions" %></span>
      <% end %>
      <a href="#" class="on"><span><%= gettext "Transaction Details" %></span></a>
    </div>
    <div class="row">
      <h1 class="detail">TX Information</h1>
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <th>Entry ID</th>
            <td width="80%"><span class="entry_id"><%= @entry_id %></span></td>
          </tr>
          <tr>
            <th>Entry Timestamp</th>
            <td><%= @entry_verify["raw_decode"]["timestamp"] %></td>
          </tr>
          <tr>
            <th>Records</th>
            <td>
              <%= for record <- @entry_verify["raw_decode"]["mutation"]["records"] do %>
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>Key</th>
                    <td width="90%"><%= record["key"]%></td>
                  </tr>
                  <tr>
                    <th>Value</th>
                    <td>********* (hidden)</td>
                  </tr>
                </tbody>
              </table>
              <% end %>
            </td>
          </tr>
          <tr>
            <th>Mutation Hash</th>
            <td class="break-word"><%= @entry_verify["raw_decode"]["mutation_hash"] %></td>
          </tr>
          <tr>
            <th>Mutation Namespace</th>
            <td class="break-word"><%= @entry_verify["raw_decode"]["mutation"]["namespace"] %></td>
          </tr>
          <tr>
            <th>Mutation Metadata</th>
            <td class="break-word">********* (hidden)</td>
          </tr>
          <tr>
            <th>Transaction Metadata</th>
            <td class="break-word"><%= @entry_verify["raw_decode"]["transaction_metadata"] %></td>
          </tr>
          <tr>
            <th>Raw</th>
            <td class="break-word">
              <%= "#{String.slice(@entry_verify["raw"], 0, 30)}..." %>
              (<a class="btn-link btn-show-all" data-whole-raw="<%= @entry_verify["raw"]%>">Click to show all</a>)
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>