<div class="tag1">
  <%= link_unless_current @conn, to: app_contract_path(@conn, :index, @locale), active_class: "on" do %>
    <span><%= gettext "List" %></span>
  <% end %>
  <%= link_unless_current @conn, to: app_contract_path(@conn, :new, @locale), active_class: "on" do %>
    <span><%= gettext "+Issue Data Contract" %></span>
  <% end %>
  <%= link_unless_current @conn, to: app_agreeable_contract_path(@conn, :new, @locale), active_class: "on" do %>
    <span><%= gettext "+Issue NDA" %></span>
  <% end %>
  <%= if details_tab = Map.get(assigns, :detail_tab) do %>
    <%= link_unless_current(
            @conn,
            to: details_tab[:link],
            active_class: "on") do %>
      <span><%= details_tab[:text] %></span>
    <% end %>
  <% end %>
</div>