<div class="w1200 cont">
  <%= if Ipseeds.BrowserHelpers.partially_supported_browser?(@conn) do %>
    <%= render Ipseeds.SharedView, "_partially_supported_browser.html", additional_message: gettext "You will be unable to issue or decrypt contracts in your current browser. Please download one of the following browsers to use this functionality:" %>
  <% end %>
  <div class="table">
    <%= render "_contracts_header.html", assigns %>
    <table width="1200" border="0" cellspacing="0" cellpadding="0" class="tablestyle1" >
			<tr>
				<td width="12%"><%= gettext "Case ID" %></td>
				<td width="28%"><%= gettext "Description" %></td>
        <td width="16%"><%= gettext "Sender" %></td>
				<td width="16%"><%= gettext "Recipient" %></td>
				<td width="10%"><%= gettext "Date" %></td>
				<td width="18%"><%= gettext "Status" %></td>
			</tr>
      <%= for contract <- @contracts do %>
        <tr>
          <td><%= detail_link(contract, :name_short, @conn, @locale) %></td>
          <td class="text-left"><%= detail_link(contract, :name, @conn, @locale) %></td>
          <td><%= sender_name(contract) %></td>
          <td><%= recipient_name(contract) %></td>
          <td><%= api_timestamp_to_datetimestring(contract.tx_time) %></td>
          <td><%= status_tag(contract) %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="page"></div>
</div>

<div id="passphrase-input-modal" class="squared-modal modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <p><%= gettext "Please enter your passphrase to decrypt messages:" %></p>
        <div class="form-group">
        <input type="text" class="form-control" id="passphrase" placeholder="Passphrase..."
               data-invalid-passphrase-error-message="<%= gettext "Invalid passphrase, please try again." %>"
               data-passphrase-mismatch-error-message="<%= gettext "Incorrect passphrase, please try again." %>">
        <span id="passphrase-error" class="help-block hidden danger"></span>
      </div>
      <button id="submit-passphrase-btn" class="btn btn-default">Decrypt Attachment</button>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
