<div class="w1200 cont">
  <%= if Ipseeds.BrowserHelpers.partially_supported_browser?(@conn) do %>
    <%= render Ipseeds.SharedView, "_partially_supported_browser.html", additional_message: gettext "You will be unable to issue or decrypt contracts in your current browser. Please download one of the following browsers to use this functionality:" %>
  <% end %>
  <div class="table">
    <%= render "_contracts_header.html", assigns %>
    <div class="layer contact container-fluid">
      <div class="row">
        <%= form_for @changeset, app_contract_path(@conn, :create, @locale),
                     [multipart: true, id: "issue-contract-form",
                      data: [no_main_file_message: gettext("Please select a file to certify and send"),
                             no_recipient_message: gettext("Please select a contact"),
                             no_ip_message: gettext("Please select an IP Record")]],
                     fn f -> %>
        <div class="col-md-6">
          <h4><%= gettext "To" %></h4>
          <div class="block2">
            <%= contact_select f, :recipient_user_id, @current_user,
                               data: [placeholder: gettext("Select a contact")],
                               style: "width: 100%" %>
          </div>
          <h4><%= gettext "Select IP Notary" %></h4>
          <div class="addblock">
            <input type="hidden" name="linked_ip">
            <a id="add-ip-notary" href="#ip-notary-select" data-toggle="modal">
              <div class="datarecordsadd"><img src="/images/icon09.png"></div>
            </a>
          </div>
          <h4><%= gettext "Files to Encrypt and Send:" %></h4>
          <p id="no-files"><%= gettext "Please select IP Notary and certify digital signature first." %></p>
          <div id="selected-files-details">
            <ul id="selected-files-list"></ul>
          </div>
          <div class="text-center" style="padding-top: 45px;">
            <a href="#">
              <div class="but03" id="contract-submit">Send</div>
            </a>
            <p style="display: none" id="contract-is-submitting">
              <img class="inline-loading" src="<%= static_path @conn, "/images/loading.gif" %>"
                   alt="<%= gettext "Encrypting and Uploading Files..." %>">
              <%= gettext "Encrypting and Uploading Files..." %>
            </p>
          </div>
        </div>
        <div class="col col-md-6" |>
          <div>
            <h4><%= gettext "Send File and Certify Digital Signature" %></h4>
            <div id="select-ip-notary-prompt">
              <p><%= gettext "Please select an IP Notary." %></p>
            </div>
            <div id="ip-notary-signature" style="display:none;">
              <div id="file-signature-match" class="file-signature-alert alert alert-success"
                   style="display: none;">
                <i class="fa fa-check"></i> <%= gettext "File signatures match." %></div>
              <div id="file-signature-not-match" class="file-signature-alert alert alert-danger"
                   style="display: none;">
                <i class="fa fa-close"></i>
                <%= gettext "File signatures do not match. The file you selected is not the same as the file you used to digitally sign the IP Notary. You can continue to send the contract, but the receiver will know the files are not the same." %>
              </div>
              <p>
                <%= gettext "Please upload the file that you used to digitally sign your IP Notary." %>
              </p>
              <p><strong><%= gettext "Original File Signature" %></strong>:
                <span id="original-file-signature"></span></p>
              <p><strong><%= gettext "Selected File Signature" %></strong>:
                <span id="selected-file-signature"></span></p>
              <p><strong><%= gettext "Selected File" %></strong>:
                <span id="selected-file-filename"></span></p>

              <div id="ip-notary-signature-dropzone" class="dropzone text-center">
                <div class="choose-file-link">
                  <input class="box__file" type="file" id="proof-file"/>
                  <label for="proof-file"><strong><%= gettext "Click here" %></strong>
                    <span><%= gettext "or drag and drop your document in the box." %></span>
                  </label>
                </div>
                <br/>
                <span id="hashed-file"><%= gettext "This file will be encrypted and sent to the recipient to certify your IP." %>
                  <br/>
                  <%= file_size_limit_note() %>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<%= render Ipseeds.App.SharedView, "_select_ip_notary.html", assigns %>
