<div class="w1200 cont">
  <%= if Ipseeds.BrowserHelpers.partially_supported_browser?(@conn) do %>
    <%= render Ipseeds.SharedView, "_partially_supported_browser.html", additional_message: gettext "You will be unable to issue or decrypt contracts in your current browser. Please download one of the following browsers to use this functionality:" %>
  <% end %>
  <div class="table">
    <%= render "_contracts_header.html",
               Map.put(assigns, :detail_tab,
                       %{link: app_contract_path(@conn, :show, @locale, @conn.assigns.contract.api_transaction_id),
                        text: gettext("Data Contract Detail") }) %>
    <div class="details">
      <div class="tag2">
        <a class="on" href="#"><span><%= gettext "Data Contract" %></span></a>
      </div>
      <div class="addip">
        <div class="addiplist"><span><%= gettext "Issuer" %></span>
          <a href="<%= app_user_path(@conn, :show, @locale, @contract.issuer.username) %>">
            <%= @issuer_name %>
            (<%= @contract.issuer.username %>)
          </a>
        </div>
        <div class="addiplist"><span><%= gettext "Recipient" %></span>
          <a href="<%= app_user_path(@conn, :show, @locale, @contract.recipient.username) %>">
            <%= @recipient_name %>
            (<%= @contract.recipient.username %>)
          </a>
        </div>
        <div class="addiplist2 Phase"><span><%= gettext "Issue Date" %></span>
          <%= format_datetime @contract.updated_at %>
        </div>
      </div>
      <div class="listtitle2"><%= gettext "Data Contract Details" %></div>
      <div class="addip br1">
        <div class="addiplist3"><span><%= gettext "IP Notary Case ID" %></span>
          <%= @asset.name_short %></div>
        <div class="addiplist3"><span><%= gettext "IP Notary Title" %></span>
          <%= @asset.name %>
        </div>
        <div class="addiplist3"><span><%= gettext "IP Notary Asset ID" %></span>
          <%= @contract.api_sent_asset_id %>
        </div>
        <div class="addiplist3"><span><%= gettext "Transaction Entry Hash" %></span>
          <%= @contract.api_transaction_id %>
        </div>
        <div class="addiplist3"><span><%= gettext "Original Digital Signature (SHA256)" %></span>
          <%= @asset.hash_attachment %>
        </div>
        <%= if @contract.recipient.id != @current_user.id do %>
          <div class="addiplist3"><span><%= gettext "Attached File (encrypted)" %></span>
            <%= @contract.main_attachment.original_filename %>
          </div>
        <%= else %>
          <div style="border: 1px solid #eee; margin-left: 25px; padding: 15px;">
            <div class="alert alert-danger text-center" id="file-verification-failure" style="display: none;">
              <i class="fa fa-close"></i>
              <%= gettext "Digital Signatures Do Not Match! The attached file is not the same as the file used to digitally sign the IP Notary." %>
            </div>
            <div class="alert alert-success text-center" id="file-verification-success" style="display: none;">
              <i class="fa fa-check"></i>
              <%= gettext "Digital Signatures Match! The attached file is the same as the file used to digitally sign the IP Notary." %>
            </div>
            <h4>Download Attached File</h4>
            <p><%= gettext "Please click the button below to verify the attached file. You will be given the option to download the file after verification." %></p>
            <div class="addiplist3"><span><%= gettext "Attached File" %></span>
              <i class="fa fa-file-o"></i>
              <%= @contract.main_attachment.original_filename %>
            </div>
            <p style="display: none" class="text-center" id="file-is-verifying">
              <img class="inline-loading" src="<%= static_path @conn, "/images/loading.gif" %>"
                   alt="<%= gettext "Decrypting and Verifying File..." %>">
              <%= gettext "Decrypting and Verifying File..." %>
            </p>
            <div class="text-center">
              <a class="but03" href="#" id="verify-attached-file-btn" style="display: inline-block;">
                <i class="fa fa-shield"></i>
                <%= gettext "Verify Attached File" %>
              </a>
            </div>
            <div class="addiplist3" id="shared-file-hash-container" style="display: none;">
              <span><%= gettext "Attached File Digital Signature (SHA256)" %></span>
              <span id="shared-file-hash"></span>
            </div>
            <div class="text-center">
              <a class="but03" href="#" id="download-file-btn" style="display: none;">
                <i class="fa fa-download"></i>
                <%= gettext "Download File" %>
              </a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="passphrase-input-modal" class="squared-modal modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <p><%= gettext "Please enter your passphrase:" %></p>
      <div class="form-group">
        <input type="text" class="form-control" id="passphrase"
               placeholder="<%= gettext "Passphrase..." %>"
               data-invalid-passphrase-error-message="<%= gettext "Invalid passphrase, please try again." %>"
               data-passphrase-mismatch-error-message="<%= gettext "Incorrect passphrase, please try again." %>">
        <span id="passphrase-error" class="help-block hidden danger"></span>
      </div>
      <button id="submit-passphrase-btn" class="btn btn-default">
        <%= gettext "Decrypt and Verify File" %>
      </button>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
