<%= form_for @changeset, @action, [class: "signin"], fn f -> %>
  <h2><%= gettext "CREATE NEW PASSWORD" %>*</h2>
  <p class="password-requirements">*<%= Ipseeds.ValidationHelpers.password_format_message() %></p>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p><%= gettext "Oops, something went wrong! Please check the errors below:" %></p>
      <ul>
        <%= for {attr, message} <- @changeset.errors do %>
          <li><%= humanize(attr) %>: <%= translate_error(message) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_input f, :reset_password_token %>
  <%= password_input f, :password, placeholder: gettext("Enter your new Password"), class: "form-control",
                     pattern: Ipseeds.ValidationHelpers.password_format, required: true,
                     minlength: Ipseeds.ValidationHelpers.password_min_length %>
  <%= password_input f, :password_confirmation, placeholder: gettext("Confirm your new Password"),
                     class: "form-control", pattern: Ipseeds.ValidationHelpers.password_format, required: true,
                     minlength: Ipseeds.ValidationHelpers.password_min_length  %>
  <%= submit gettext("SUBMIT"), class: "but01" %>
<% end %>
