<div class="w1200 indexp1">
  <h1><%= gettext "The world's leading open innovation & intellectual property exchange" %></h1>
  <%= render "create_password_form.html", changeset: @changeset, action: user_path(@conn, :submit_new_password, @locale) %>
</div>
