<div class="w1200 indexp1">
  <div class="center-box">
    <h2><%= gettext "Forgot Your Password?" %></h2>
    <div class="passbox">
      <%= form_for @changeset, user_path(@conn, :request_reset_password, @locale), fn f -> %>
        <%= if @changeset.action do %>
          <div class="alert alert-danger">
            <p>Oops, something went wrong! Please check the errors below:</p>
            <ul>
              <%= for {attr, message} <- f.errors do %>
                <li><%= humanize(attr) %> <%= translate_error(message) %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="form-group">
          <%= text_input f, :email, placeholder: gettext("Enter Your Account's Email"),
                         class: "form-control", required: true,
                         pattern: Ipseeds.ValidationHelpers.email_format %>
        </div>
        <div align="center">
          <%= submit gettext("Send Reset Instructions"), class: "but03" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
