<div class="w1200 indexp1">
  <div class="center-box">
    <h2><%= gettext "Reset Password Instructions Sent" %></h2>
    <div class="passbox">
      <p><%= gettext "If your email is in our system, you will receive an email with password reset instructions." %></p>
      <p class="text-center"><%= link gettext("Go to sign in page"),
                                      to: session_path(@conn, :new, @locale), class: "but03" %></p>
    </div>
  </div>
</div>
