<%= if alert_message = get_flash(@conn, :alert_message) do %>
  <% alert_type = get_flash(@conn, :alert_type) || "info" %>
  <div class="alert alert-<%= alert_type %>"><%= alert_message %></div>
<% end %>
