<%= for social_site <- [
    %{name: "Facebook", url: "https://www.facebook.com/IPSeeds-899220550204929/", icon: "fb"},
    %{name: "Twitter", url: "https://twitter.com/BioIPseeds", icon: "tw"},
    %{name: "YouTube", url: "https://www.youtube.com/channel/UCLEZe3outPCnf2gwXvHienw", icon: "yt"}
] do %>
  <span>
    <a title="BioIPSeeds <%= social_site.name %>" href="<%= social_site.url %>" target="_blank">
      <img src="<%= static_path(@conn, "/images/#{social_site.icon}.png") %>"/>
    </a>
  </span>
<% end %>