<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Generate og:locale tags -->
  <%= for {property, content} <-fb_locales() do %>
    <%= Phoenix.HTML.Tag.tag(:meta, property: property, content: content) %>
  <% end %>

  <!-- Generate link alternate tags -->
  <%= for {lang, path} <-language_annotations(@conn) do %>
    <%= Phoenix.HTML.Tag.tag(:link, rel: "alternate", hreflang: lang, href: path) %>
  <% end %>

  <title>BioIPSeeds - Admin</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/vendor.css") %>">
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/admin.css") %>">
</head>
<body class="<%= body_classes(@conn) %>">

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= admin_page_path(@conn, :dashboard, @locale) %>">
        <img src="<%= static_path(@conn, "/images/ipseeds.png") %>"/>
        <span>Admin</span>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <%= if @conn.assigns[:current_admin_user] do %>
          <li><%= link gettext("Dashboard"),
                       to: admin_page_path(@conn, :dashboard, @locale) %></li>
          <li><%= link gettext("User Registrations"),
                       to: admin_user_registration_path(@conn, :index, @locale) %></li>
          <%= if Ipseeds.AdminUser.is_superadmin? @current_admin_user do %>
            <li><%= link gettext("Admin Users"),
                       to: admin_admin_user_path(@conn, :index, @locale) %></li>
          <% end %>
          <li><%= link gettext("Logout"),
                     to: public_admin_session_path(@conn, :delete, @locale, @current_admin_user),
                     method: :delete %></li>
        <%= else %>
          <li><%= link gettext("Login"),
                       to: public_admin_session_path(@conn, :new, @locale) %></li>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container" role="main">
  <%= render Ipseeds.LayoutView, "_alerts.html", conn: @conn %>
  <%= render @view_module, @view_template, assigns %>
</div> <!-- /container -->

<%= render Ipseeds.LayoutView, "admin_footer.html", assigns  %>

<script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
<script src="<%= static_path(@conn, "/js/admin.js") %>"></script>
<script>require('web/static/js/admin').init();</script>
</body>
</html>
