<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta property="og:title" content="BioIPSeeds">
  <meta property="og:type" content="web">
  <meta property="og:image" content="<%= static_path(@conn, "/images/1000x600.jpg") %>">
  <!-- Generate og:locale tags -->
  <%= for {property, content} <-fb_locales() do %>
    <%= Phoenix.HTML.Tag.tag(:meta, property: property, content: content) %>
  <% end %>

  <!-- Generate link alternate tags -->
  <%= for {lang, path} <-language_annotations(@conn) do %>
    <%= Phoenix.HTML.Tag.tag(:link, rel: "alternate", hreflang: lang, href: path) %>
  <% end %>

  <title>BioIPSeeds - Open Innovation Powered by Blockchain</title>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/vendor.css") %>">
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
</head>
<body class="<%= body_classes(@conn) %>">
<div class="page-wrap">
  <div id="top" class="top">
    <div class="logo">
      <%= link to: app_ip_discovery_path(@conn, :index, @locale) do %>
        <img src="<%= static_path(@conn, "/images/ipseeds.png") %>"/>
      <% end %>
    </div>
    <%= render "app_user_menu.html", assigns %>
    <div class="number"><span><%= current_date() %></span><%= @asset_count %><span>
      Blockchain Records</span></div>
    <ul class="w1200 nav-top">
      <li class="<%= active_class_controller @conn, Ipseeds.App.IpDiscoveryController %>">
        <%= link gettext("Home"), to: app_ip_discovery_path(@conn, :index, @locale) %>
      </li>
      <li class="<%= active_class_controller @conn, [Ipseeds.App.IpNotaryController,
                                                     Ipseeds.App.IpSummaryController] %>">
        <%= link gettext("IP Notary"), to: app_ip_notary_path(@conn, :index, @locale) %>
      </li>
      <li class="<%= active_class_controller @conn, Ipseeds.App.ContractController %>">
        <%= link to: app_contract_path(@conn, :index, @locale) do %>
          <%= gettext("Contract Issuing") %>
          <%= if @pending_contract_count > 0 do %>
            (<%= @pending_contract_count %>)
          <% end %>
        <% end %>
      </li>
      <li class="<%= active_class_controller @conn, Ipseeds.App.MessageController %>">
        <%= link to: app_message_path(@conn, :index, @locale) do %>
          <%= gettext("Messages") %>
          <%= if @unread_message_count > 0 do %>
            (<%= @unread_message_count %>)
          <% end %>
        <% end %>
      </li>
      <li class="<%= active_class_controller @conn, Ipseeds.App.UserContactController %>">
        <%= link gettext("Contact List"), to: app_user_contact_path(@conn, :index, @locale) %>
      </li>
      <li class="<%= active_class_controller @conn, Ipseeds.App.ExplorerController %>">
        <%= link gettext("Explorer"), to: app_explorer_path(@conn, :index, @locale) %>
      </li>
    </ul>
  </div>
  <%= render Ipseeds.LayoutView, "_alerts.html", conn: @conn %>
  <!--main start-->
  <%= render @view_module, @view_template, assigns %>
  <!--main end-->
  <%= render "app_timeout_modal.html", assigns %>
</div>
<!--end .page-wrap-->
<!--footer-->
<div id="footer" class="graybg">
  <div>
      <span><img src="<%= static_path(@conn, "/images/ipseeds.png") %>"/></span>
      <span><%= link gettext("About"), to: app_page_path(@conn, :about, @locale) %></span>
      <span><%= link gettext("Features"), to: app_page_path(@conn, :features, @locale) %></span>
      <span><%= link gettext("How it works"), to: app_page_path(@conn, :how_it_works, @locale) %></span>
      <span><%= link gettext("FAQ"), to: app_page_path(@conn, :faq, @locale) %></span>
      <span><%= link gettext("Contact"), to: app_contact_us_path(@conn, :new, @locale) %></span>
      <span><%= link gettext("Privacy Policy"), to: app_page_path(@conn, :privacy_policy , @locale) %></span>
      <span><%= link gettext("Terms of Use"), to: app_page_path(@conn, :terms, @locale) %></span>
      <div>© 2017 Digital Treasury Corporation</div>
    </div>
</div>

<%= render_existing Ipseeds.LayoutView, "exagon.html", conn: @conn, locale: @locale %>
<script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
<script>require('web/static/js/app').init();</script>
<%= if Mix.env == :prod do %>
<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
 ga('create', 'UA-127760156-1', 'auto');
 ga('send', 'pageview');
 <%= raw Ipseeds.GaEventTrackingHelpers.sign_in_tracking(@conn, @current_user) %>
 ga('set', 'userId', '<%= @current_user.id %>');
</script>
<% end %>
</body>
</html>
