<div id="sessionExtendModal" class="squared-modal modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <p><%= gettext "Your session will expire in 5 minutes. Please click \"Stay\" to continue using the site." %></p>
      <div align="center">
        <button data-dismiss="modal" id="extend_session" class="but03">
          <%= gettext "Stay" %>
        </button>
        <%= link gettext("Sign out"), to: session_path(@conn, :delete, @locale, @current_user),
                 method: :delete, class: "but03" %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->