<div id="user-menu" class="setting">
  <%= link to: app_user_path(@conn, :show, @locale, @current_user.username),
    id: "btn-profile", title: gettext "My profile" do %>
    <%= @current_user.username %>
    <span class="fa fa-id-card-o"></span>
  <% end %>
  <a id="btn-sign-out" data-toggle="modal" data-target="#logoutModal" 
    class="logout-btn btn btn-link" title="<%= gettext "Sign Out" %>">
    <span class="fa fa-sign-out"></span>
  </a>
</div>

<div id="logoutModal" class="logout squared-modal modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <p class="text-center"><%= gettext "Do you really want to sign out?" %></p>
      <div align="center">
        <button data-dismiss="modal" class="but03 cancel-btn"><%= gettext "Stay" %></button>
        <%= link gettext("Sign out"), to: session_path(@conn, :delete, @locale, @current_user),
                 method: :delete, class: "but03" %>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
