<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:title" content="BioIPSeeds">
    <meta property="og:type" content="web">
    <meta property="og:image" content="<%= static_path(@conn, "/images/1000x600.jpg") %>">

    <!-- Generate og:locale tags -->
    <%= for {property, content} <-fb_locales() do %>
      <%= Phoenix.HTML.Tag.tag(:meta, property: property, content: content) %>
    <% end %>

    <!-- Generate link alternate tags -->
    <%= for {lang, path} <-language_annotations(@conn) do %>
      <%= Phoenix.HTML.Tag.tag(:link, rel: "alternate", hreflang: lang, href: path) %>
    <% end %>

    <title>BioIPSeeds - Open Innovation Powered by Blockchain</title>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/reset.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/vendor.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/public.css") %>">
  </head>

  <body class="<%= body_classes(@conn) %>">
    <div class="page-wrap">
      <div id="top">
        <div class="logo">
          <a href="<%= page_path(@conn, :index, @locale) %>">
            <img src="<%= static_path(@conn, "/images/ipseeds.png") %>"/>
          </a>
        </div>
        <div class="menu">
          <span class="<%= active_class_path @conn, page_path(@conn, :about, @locale), "on" %>">
            <%= gettext("About") |> String.upcase |> link(to: page_path(@conn, :about, @locale)) %>
          </span>
          <span class="<%= active_class_path @conn, page_path(@conn, :features, @locale), "on" %>">
            <%= gettext("Features") |> String.upcase |> link(to: page_path(@conn, :features, @locale)) %>
          </span>
          <span>
            <%= gettext("How It Works") |> String.upcase |> link(to: page_path(@conn, :how_it_works, @locale)) %>
          </span>
          <span class="<%= active_class_path @conn, explorer_path(@conn, :index, @locale), "on" %>">
            <%= gettext("Explorer") |> String.upcase |> link(to: explorer_path(@conn, :index, @locale)) %>
          </span>
        </div>
        <div class="number"><span><%= current_date() %></span><%= @asset_count %><span>
          <%= gettext "Blockchain Records" %></span></div>
      </div>
      <!--main start-->
      <%= render @view_module, @view_template, assigns %>
      <!--main end-->
    </div>
    <!--end .page-wrap-->

    <!--footer-->
    <div id="footer" class="graybg">
      <div>
          <span><img src="<%= static_path(@conn, "/images/ipseeds.png") %>"/></span>
          <span><%= link gettext("About"), to: page_path(@conn, :about, @locale) %></span>
          <span><%= link gettext("FAQ"), to: page_path(@conn, :faq, @locale) %></span>
          <span><%= link gettext("Contact"), to: contact_us_path(@conn, :new, @locale) %></span>
          <span><%= link gettext("Pricing"), to: page_path(@conn, :pricing, @locale) %></span>
          <span><%= link gettext("Privacy Policy"), to: page_path(@conn, :privacy_policy , @locale) %></span>
          <span><%= link gettext("Terms of Use"), to: page_path(@conn, :terms, @locale) %></span>
          <div>© 2017 Digital Treasury Corporation</div>
        </div>
    </div>
    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/public.js") %>"></script>
    <script>require('web/static/js/public').init();</script>
    <%= if Mix.env == :prod do %>
    <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
     ga('create', 'UA-91840689-1', 'auto');
     ga('send', 'pageview');
    </script>
    <% end %>
  </body>
</html>
