<div class="w1200 cont">
  <div class="table">
    <div class="tag1">
      <a href="<%= app_user_contact_path(@conn, :index, @locale) %>"
         class="listlink on"><span><%= gettext "User Contacts" %></span></a>
    </div>
    <div class="layer contact">
      <table width="1200" border="0" cellspacing="0" cellpadding="0" class="tablestyle1 contact">
        <tr>
          <th><%= gettext "Username" %></th>
          <th><%= gettext "Full Name" %></th>
          <th><%= gettext "Date Added" %></th>
          <th class="actions"><%= gettext "Actions" %></th>
        </tr>
        <%= for user_contact <- @user_contacts do %>
          <tr>
            <td><%= link user_contact.contact_user.username,
                         to: app_user_path(@conn, :show, @locale, user_contact.contact_user.username) %>
            </td>
            <td><%= Ipseeds.User.get_name(user_contact.contact_user) %></td>
            <td><%= format_datetime user_contact.inserted_at %></td>
            <td class="actions">
              <a class="but03 but03-sm" data-toggle="modal" 
                data-target="#contactRemoveConfirmModal-<%= user_contact.id %>"><%= gettext("Remove Contact") %></a>
                <div id="contactRemoveConfirmModal-<%= user_contact.id %>" 
                  class="contact-remove-confirm squared-modal modal" tabindex="-1" role="dialog">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <p class="text-center" style="width: auto;"><%= gettext "Do you really want to remove this contact?" %></p>
                      <div align="center">
                        <button data-dismiss="modal" class="but03 cancel-btn"><%= gettext "Cancel" %></button>
                        <a href="#" class="delete-from-contact-list-btn but03" 
                           data-target="#contactRemoveConfirmModal-<%= user_contact.id %>"
                           data-csrf-token="<%= Plug.CSRFProtection.get_csrf_token() %>"
                           data-user-contact-path="<%=
                             app_user_contact_path(@conn, :delete, @locale, user_contact.id) %>"
                           data-default-failure-text="<%= gettext "An unknown error occured. Please try again." %>">
                           <%= gettext "Remove" %></a>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </td>
          </tr>
        <% end %>
        </table>
    </div>
  </div>
</div>

