<%= form_for @changeset, @action, [as: "application_data", class: "form-horizontal"], fn f -> %>
<div class="form-group">
  <%= label f, :title, gettext("Job Title"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_input f, :title, placeholder: gettext("Job Title"), class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= label f, :given_names, gettext("Given Names"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_input f, :given_names, class: "form-control", placeholder: gettext("Given Names") %>
  </div>
</div>
<div class="form-group">
  <%= label f, :last_name, gettext("Last Name"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_input f, :last_name, class: "form-control", placeholder: gettext("Last Name") %>
  </div>
</div>
<div class="form-group">
  <%= label f, :id_type, gettext("ID Type"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= select f, :id_type, Ipseeds.IndividualResearcherApplication.id_types, [prompt: gettext("-- ID Type --"), class: "form-control"] %>
  </div>
</div>
<div class="form-group">
  <%= label f, :id_number, gettext("ID Number"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_input f, :id_number, class: "form-control", placeholder: gettext("ID Number") %>
  </div>
</div>
<div class="form-group">
  <%= label f, :nationality, gettext("Nationality"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= select f, :nationality, countries_list(), [prompt: gettext("-- Nationality --"), class: "form-control"] %>
  </div>
</div>
<div class="form-group">
  <%= label f, :date_of_birth, gettext("Date of Birth"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <div class="input-group date" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-autoclose="true" data-date-start-view="years">
      <%= text_input f, :date_of_birth, [class: "form-control", placeholder: gettext("Date of Birth")] %>
      <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
  </div>
</div>
<div class="form-group">
  <%= label f, :gender, gettext("Gender"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= select f, :gender, Ipseeds.IndividualResearcherApplication.genders, [prompt: gettext("-- Gender --"), class: "form-control"] %>
  </div>
</div>
<div class="form-group">
  <%= label f, :telephone, gettext("Telephone"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_input f, :telephone, class: "form-control", placeholder: gettext("Telephone") %>
  </div>
</div>
<div class="form-group">
  <%= label f, :mobile, gettext("Mobile"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_input f, :mobile, class: "form-control", placeholder: gettext("Mobile") %>
  </div>
</div>
<div class="form-group">
  <%= label f, :address, gettext("Address"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_input f, :address, class: "form-control", placeholder: gettext("Address") %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-default"><%= gettext "Submit" %></button>
    <%= link gettext("Cancel"),
             to: admin_user_registration_path(@conn, :show, @locale, @user_registration),
             class: "btn btn-danger" %>
  </div>
</div>
<% end %>
