<%= form_for @changeset, @action, [as: "application_data", class: "form-horizontal"], fn f -> %>
<div class="form-group">
  <%= label f, :company_name_zh_tw, gettext("公司名稱(中文)"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_input f, :company_name_zh_tw, class: "form-control", placeholder: gettext("公司名稱(中文)") %>
  </div>
</div>
<div class="form-group">
  <%= label f, :company_tax_id, gettext("Tax ID"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_input f, :company_tax_id, class: "form-control", placeholder: gettext("Tax ID") %>
  </div>
</div>
<div class="form-group">
  <%= label f, :company_website, gettext("Website"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_input f, :company_website, class: "form-control", placeholder: gettext("Website") %>
  </div>
</div>
<div class="form-group">
  <%= label f, :company_capital_usd, gettext("Capital Size (USD)"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_input f, :company_capital_usd, class: "form-control", placeholder: gettext("Capital Size (USD)") %>
  </div>
</div>
<div class="form-group">
  <%= label f, :company_listed_status, gettext("Public Listed Status"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= select f, :company_listed_status, Ipseeds.IndustryApplication.listed_statuses, [class: "form-control", prompt: gettext("-- Public Listed Status --")] %>
  </div>
</div>
<div class="form-group">
  <%= label f, :company_employee_count, gettext("Number of Employees"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_input f, :company_employee_count, class: "form-control", placeholder: gettext("Number of Employees") %>
  </div>
</div>
<div class="form-group">
  <%= label f, :company_rnd_personnel_count, gettext("Number of R&D Employees"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_input f, :company_rnd_personnel_count, class: "form-control", placeholder: gettext("Number of R&D Employees") %>
  </div>
</div>
<!-- User Information -->
<div class="form-group">
  <%= label f, :user_title, gettext("User Job Title"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_input f, :user_title, placeholder: gettext("User Job Title"), class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= label f, :user_given_names, gettext("User Given Names"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_input f, :user_given_names, class: "form-control", placeholder: gettext("User Given Names") %>
  </div>
</div>
<div class="form-group">
  <%= label f, :user_last_name, gettext("User Last Name"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_input f, :user_last_name, class: "form-control", placeholder: gettext("User Last Name") %>
  </div>
</div>
<div class="form-group">
  <%= label f, :user_telephone, gettext("User Telephone"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_input f, :user_telephone, class: "form-control", placeholder: gettext("User Telephone") %>
  </div>
</div>
<div class="form-group">
  <%= label f, :user_address, gettext("User Address"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_input f, :user_address, class: "form-control", placeholder: gettext("User Address") %>
  </div>
</div>
<!-- End User Information -->
<!-- Contact Information -->
<div class="form-group">
  <%= label f, :contact_title, gettext("Contact Job Title"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_input f, :contact_title, placeholder: gettext("Contact Job Title"), class: "form-control" %>
  </div>
</div>
<div class="form-group">
  <%= label f, :contact_given_names, gettext("Contact Given Names"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_input f, :contact_given_names, class: "form-control", placeholder: gettext("Contact Given Names") %>
  </div>
</div>
<div class="form-group">
  <%= label f, :contact_last_name, gettext("Contact Last Name"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_input f, :contact_last_name, class: "form-control", placeholder: gettext("Contact Last Name") %>
  </div>
</div>
<div class="form-group">
  <%= label f, :contact_department, gettext("Contact Department"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_input f, :contact_department, class: "form-control", placeholder: gettext("Contact Department") %>
  </div>
</div>
<div class="form-group">
  <%= label f, :contact_telephone, gettext("Contact Telephone"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_input f, :contact_telephone, class: "form-control", placeholder: gettext("Contact Telephone") %>
  </div>
</div>
<div class="form-group">
  <%= label f, :contact_email, gettext("Contact Email"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_input f, :contact_email, class: "form-control", placeholder: gettext("Contact Email") %>
  </div>
</div>
<div class="form-group">
  <%= label f, :contact_address, gettext("Contact Address"), class: "col-sm-2 control-label" %>
  <div class="col-sm-10">
    <%= text_input f, :contact_address, class: "form-control", placeholder: gettext("Contact Address") %>
  </div>
</div>
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-10">
    <button type="submit" class="btn btn-default"><%= gettext "Submit" %></button>
    <%= link gettext("Cancel"),
             to: admin_user_registration_path(@conn, :show, @locale, @user_registration),
             class: "btn btn-danger" %>
  </div>
</div>
<% end %>
