<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= gettext "User Information" %></h3>
  </div>
  <table class="table">
    <tr>
      <th><%= gettext "Job Title" %></th>
      <td><%= @user_application.title %></td>
    </tr>
    <tr>
      <th><%= gettext "Given Names" %></th>
      <td><%= @user_application.given_names %></td>
    </tr>
    <tr>
      <th><%= gettext "Last Name" %></th>
      <td><%= @user_application.last_name %></td>
    </tr>
    <tr>
      <th><%= gettext "Gender" %></th>
      <td><%= parse_gender(@user_application) %></td>
    </tr>
    <tr>
      <th><%= gettext "Date of birth" %></th>
      <td><%= @user_application.date_of_birth %></td>
    </tr>
    <tr>
      <th><%= gettext "ID Number" %></th>
      <td><%= @user_application.id_number %></td>
    </tr>
    <tr>
      <th><%= gettext "ID Type" %></th>
      <td><%= parse_id_type(@user_application) %></td>
    </tr>
    <tr>
      <th><%= gettext "Nationality" %></th>
      <td><%= parse_nationality(@user_application) %></td>
    </tr>
    <tr>
      <th><%= gettext "Organization" %></th>
      <td><%= @user_application.organization %></td>
    </tr>
    <tr>
      <th><%= gettext "Department" %></th>
      <td><%= @user_application.department %></td>
    </tr>
    <tr>
      <th><%= gettext "Telephone" %></th>
      <td><%= @user_application.telephone %></td>
    </tr>
    <tr>
      <th><%= gettext "Mobile" %></th>
      <td><%= @user_application.mobile %></td>
    </tr>
    <tr>
      <th><%= gettext "Address" %></th>
      <td><%= @user_application.address %></td>
    </tr>
  </table>
</div>
