<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= gettext "Institute Information" %></h3>
  </div>
  <table class="table">
    <tr>
      <th><%= gettext "Institute Name" %></th>
      <td><%= @user_application.institute_name_en %></td>
    </tr>
    <tr>
      <th><%= gettext "機構名稱(中文)" %></th>
      <td><%= @user_application.institute_name_zh_tw %></td>
    </tr>
    <tr>
      <th><%= gettext "Tax ID" %></th>
      <td><%= @user_application.institute_tax_id %></td>
    </tr>
    <tr>
      <th><%= gettext "Website" %></th>
      <td><%= @user_application.institute_website %></td>
    </tr>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= gettext "User Information" %></h3>
  </div>
  <table class="table">
    <tr>
      <th><%= gettext "Job Title" %></th>
      <td><%=@user_application.user_title %></td>
    </tr>
    <tr>
      <th><%= gettext "Given Names" %></th>
      <td><%= @user_application.user_given_names %></td>
    </tr>
    <tr>
      <th><%= gettext "Last Name" %></th>
      <td><%= @user_application.user_last_name %></td>
    </tr>
    <tr>
      <th><%= gettext "Department" %></th>
      <td><%= @user_application.user_department %></td>
    </tr>
    <tr>
      <th><%= gettext "Telephone" %></th>
      <td><%= @user_application.user_telephone %></td>
    </tr>
    <tr>
      <th><%= gettext "Address" %></th>
      <td><%= @user_application.user_address %></td>
    </tr>
  </table>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= gettext "Contact Information" %></h3>
  </div>
  <table class="table">
    <tr>
      <th><%= gettext "Job Title" %></th>
      <td><%= @user_application.contact_title %></td>
    </tr>
    <tr>
      <th><%= gettext "Given Names" %></th>
      <td><%= @user_application.contact_given_names %></td>
    </tr>
    <tr>
      <th><%= gettext "Last Name" %></th>
      <td><%= @user_application.contact_last_name %></td>
    </tr>
    <tr>
      <th><%= gettext "Department" %></th>
      <td><%= @user_application.contact_department %></td>
    </tr>
    <tr>
      <th><%= gettext "Telephone" %></th>
      <td><%= @user_application.contact_telephone %></td>
    </tr>
    <tr>
      <th><%= gettext "Email" %></th>
      <td><%= @user_application.contact_email %></td>
    </tr>
    <tr>
      <th><%= gettext "Address" %></th>
      <td><%= @user_application.contact_address %></td>
    </tr>
  </table>
</div>
