<div class="edit">
  <div class="heading clearfix">
    <h2 class="pull-left"><%= @user_registration.user.username %> <small>(<%= parse_type(@user_registration.application_type) %>)</small></h2>
  </div>
  <div>&nbsp;</div>

  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p><%= gettext "Oops! Something went wrong. Please check the errors below:" %></p>
      <ul>
        <%= for {attr, message} <- @changeset.errors do %>
          <li><%= humanize(attr) %>: <%= translate_error(message) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= render application_edit_template(@user_registration),
             conn: @conn, action: admin_user_registration_path(@conn, :update, @locale, @user_registration),
             locale: @locale, changeset: @changeset, user_registration: @user_registration %>

</div>
