<h1><%= gettext "User Registrations" %></h1>
<table class="table table-bordered table-striped">
  <thead>
    <tr> 
      <th>#</th>
      <th><%= gettext "Username" %></th>
      <th><%= gettext "Membership" %></th> 
      <th><%= gettext "Created at" %></th>
      <th><%= gettext "Approval status" %></th>
      <th><%= gettext "Actions" %></th>
    </tr>
  </thead>
  <tbody>
    <%= for registration <- @page.entries do %>
      <tr>
        <td><%= registration.id %></td>
        <td><%= registration.user.username %></td>
        <td><%= parse_type(registration.application_type) %></td>
        <td><%= registration.inserted_at %></td>
        <td><%= approval_status(registration) %></td>
        <td>
          <%= link gettext("View"), to: admin_user_registration_path(@conn, :show, @locale, registration) %> |
          <%= link gettext("Edit"), to: admin_user_registration_path(@conn, :edit, @locale, registration) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= pagination_links @page %>
