<div class="show">
  <div class="heading clearfix">
    <h2 class="pull-left"><%= @user_registration.user.username %> <small>(<%= parse_type(@user_registration.application_type) %>)</small></h2>
    <div class="action-buttons pull-right">
      <%= unless UserRegistration.is_approved?(@user_registration) do %>
        <%= button gettext("Approve"), to: admin_user_registration_path(@conn, :approve, @locale, @user_registration), class: "btn btn-success approve-registration" %>
      <%= else %>  
      <button class="btn btn-danger disapprove-registration" data-toggle="modal" data-target="#reasonModal"><%= gettext "Disapprove" %></button>
      <% end %>
      <%= link gettext("Edit"),
               to: admin_user_registration_path(@conn, :edit, @locale, @user_registration),
               class: "btn btn-default" %>
    </div>
  </div>
  <div>&nbsp;</div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= gettext "Status" %></h3>
    </div>
    <table class="table">
      <tr>
        <th><%= gettext "Approval Status" %></th>
        <td><%= approval_status(@user_registration) %></td>
      </tr>
      <%= if @user_registration.approved_at do %>
        <tr>
          <th><%= gettext "Approved At" %></th>
          <td><%= @user_registration.approved_at %></td>
        </tr>
        <tr>
          <th><%= gettext "Approved By" %></th>
          <td>
            <%= link to: admin_admin_user_path(@conn, :edit, @locale, @user_registration.approved_by_admin) do %>
              <%= @user_registration.approved_by_admin.username %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <%= if @user_registration.disapproved_at do %>
        <tr>
          <th><%= gettext "Disapproved At" %></th>
          <td><%= @user_registration.disapproved_at %></td>
        </tr>
        <tr>
          <th><%= gettext "Disapproved By" %></th>
          <td>
            <%= link to: admin_admin_user_path(@conn, :edit, @locale, @user_registration.disapproved_by_admin) do %>
              <%= @user_registration.disapproved_by_admin.username %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th><%= gettext "Disapproved Reason" %></th>
          <td><%= @user_registration.disapproved_reason %></td>
        </tr>
      <% end %>
      <tr>
        <th><%= gettext "Submitted At" %></th>
        <td><%= @user_registration.inserted_at %></td>
      </tr>
    </table>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= gettext "Account Information" %></h3>
    </div>
    <table class="table">
      <tr>
        <th><%= gettext "Username" %></th>
        <td><%= @user_registration.user.username %></td>
      </tr>
      <tr>
        <th><%= gettext "Email" %></th>
        <td><%= @user_registration.user.email %></td>
      </tr>
    </table>
  </div>

  <%= render application_detail_template(@user_registration),
             conn: @conn, user_registration: @user_registration,
             user_application: @user_application %>

</div>
<%= if UserRegistration.is_approved?(@user_registration) do %>
<!-- Modal -->
<div class="modal fade" id="reasonModal" tabindex="-1" role="dialog" aria-labelledby="reasonModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_tag admin_user_registration_path(@conn, :disapprove, @locale, @user_registration), id: "disapproved-reason-form" do %>
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="<%= gettext "Close" %>"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="reasonModalLabel"><%= gettext "Disapprove Reason" %></h4>
        </div>
        <div class="modal-body">
          <p class="hidden text-danger"><%= gettext "Please input disapprove reason" %></p>
          <div class="form-group">
            <textarea name="disapproved_reason" class="form-control"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal"><%= gettext "Close" %></button>
          <button type="submit" class="btn btn-primary"><%= gettext "Submit" %></button>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>
