# {{ ansible_managed }}

description "Start {{ app_name }}"
author "Cogini <noc@cogini.com>"

start on runlevel [2345]
stop on runlevel [06]

exec su -s /bin/sh -c 'exec "$0" "$@"' {{ app_user }} -- {{ bin_dir }}/start-app.sh
respawn