<div class="w1200 indexp1">
  <h1><%= gettext "The world's leading open innovation & intellectual property exchange" %></h1>
  <%= if Ipseeds.BrowserHelpers.unsupported_browser?(@conn) do %>
    <%= render Ipseeds.SharedView, "_unsupported_browser.html", additional_message: gettext "You can continue to sign up, but you will be unable to use the BioIPSeeds application. Please download one of the following browsers to use the application:" %>
  <% end %>
  <%= if Ipseeds.BrowserHelpers.partially_supported_browser?(@conn) do %>
      <%= render Ipseeds.SharedView, "_partially_supported_browser.html", additional_message: gettext "You can continue to sign up, but BioIPSeeds functionality will be impaired. Please download one of the following browsers for a better experience:" %>
  <% end %>
  <%= unless is_nil(@failed_changeset) do %>
    <div class="alert alert-danger">
      <p><%= gettext "Oops! Something went wrong. Please check the errors below:" %></p>
      <ul>
        <%= for {attr, message} <- @failed_changeset.errors do %>
          <li><%= humanize(attr) %>: <%= translate_error(message) %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <%= render Ipseeds.LayoutView, "_alerts.html", conn: @conn %>
    <%= form_tag user_registration_path(@conn, :create, @locale), id: "signup-form" do %>
      <h2><%= gettext "Sign Up" %></h2>
      <div class="form-body">
        <h6><%= gettext "Account Information" %></h6>
        <%= render "_please_fill_all_fields.html" %>
        <div class="row">
          <div class="col col-md-offset-2 col-md-8">
            <input type="text" required pattern="<%= Ipseeds.ValidationHelpers.username_format() %>"
                   minlength="<%= Ipseeds.ValidationHelpers.username_min_length() %>"
                   maxlength="<%= Ipseeds.ValidationHelpers.username_max_length() %>"
                   placeholder="<%= gettext "Username" %>" name="user[username]"
                   value="<%= get_field_value @conn, "user", "username" %>"/>
            <p>*<%= gettext "must be at least 6 characters long and can contain only English characters (upper and lower case), numbers and underscores" %></p>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-offset-2 col-md-8">
            <input type="text" required pattern="<%= Ipseeds.ValidationHelpers.email_format() %>"
                   maxlength="<%= Ipseeds.ValidationHelpers.email_max_length() %>"
                   placeholder="<%= gettext "Email" %>" name="user[email]"
                   value="<%= get_field_value @conn, "user", "email" %>"/>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-offset-2 col-md-8">
            <input type="text" required pattern="<%= Ipseeds.ValidationHelpers.email_format() %>"
                   maxlength="<%= Ipseeds.ValidationHelpers.email_max_length() %>"
                   placeholder="<%= gettext "Confirm Email" %>" name="user[email_confirmation]"
                   value="<%= get_field_value @conn, "user", "email_confirmation" %>"/>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-offset-2 col-md-8">
            <input type="password" required pattern="<%= Ipseeds.ValidationHelpers.password_format() %>"
                   minlength="<%= Ipseeds.ValidationHelpers.password_min_length() %>"
                   maxlength="<%= Ipseeds.ValidationHelpers.password_max_length() %>"
                   placeholder="<%= gettext "Password" %>" name="user[password]"/>
            <p>*<%= Ipseeds.ValidationHelpers.password_format_message() %></p>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-offset-2 col-md-8">
            <input type="password" required pattern="<%= Ipseeds.ValidationHelpers.password_format() %>"
                   minlength="<%= Ipseeds.ValidationHelpers.password_min_length() %>"
                   maxlength="<%= Ipseeds.ValidationHelpers.password_max_length() %>"
                   placeholder="<%= gettext "Confirm Password" %>"
                   name="user[password_confirmation]"/>
          </div>
        </div>
        <div class="line3"></div>
        <h6><%= gettext "User Profile" %></h6>
        <div class="warn2">
          <% gettext "The following information will be used for application and verification of membership for Bio IPSeeds Trusted Platform. Please provide detailed, accurate, and the most updated information." %></div>
        <div class="application-type">
          <span></span>
          <label data-toggle="popover" data-trigger="hover" title="<%= gettext "Industry Membership" %>" data-content="<%= gettext "If you are a representative on behalf of a company engaged in biopharma, medical devices, healthcare-related businesses or venture capital, please apply for Industry Membership. Industry membership is subject to an annual fee." %>">
            <%= application_type_radio @conn, :user_registration, :application_type, "industry",
                                       [{:"data-target", "#industry-application"}] %>
            <%= gettext "Industry Membership" %>
          </label>
        </div>
        <div class="application-type">
          <span></span>
          <label data-toggle="popover" data-trigger="hover" title="<%= gettext "Individual Researcher Membership" %>" data-content="<%= gettext "If you are a researcher and will manage your own intellectual properties on this platform, please apply for Individual Researcher Membership." %>">
            <%= application_type_radio @conn, :user_registration, :application_type, "individual",
                                       ["data-target": "#individual-application"] %>
            <%= gettext "Individual Researcher Membership" %> <span class="text-muted">(<%= gettext "for Principal investigators and IP owners only" %>)</span>
          </label>
        </div>
        <div class="application-type">
          <span></span>
          <label data-toggle="popover" data-trigger="hover" title="<%= gettext "Research Institute Membership" %>" data-content="<%= gettext "If you are a representative on behalf of an education and research institute, for example, a university, an industry-academia collaboration center or a technology transfer office, please apply for Research Institute Membership." %>">
            <%= application_type_radio @conn, :user_registration, :application_type, "institute",
                                       [{:"data-target", "#institute-application"}] %>
            <%= gettext "Research Institute Membership" %>
          </label>
        </div>
        <div class="line3"></div>
        <div class="tab-content">
          <div role="tabpanel" class="<%= tab_class @conn, :user_registration, :application_type, "individual" %>" id="individual-application">
            <%= render "new_individual_researcher.html", conn: @conn %>
          </div>
          <div role="tabpanel" class="<%= tab_class @conn, :user_registration, :application_type, "institute" %>" id="institute-application">
            <%= render "new_research_institute.html", conn: @conn %>
          </div>
          <div role="tabpanel" class="<%= tab_class @conn, :user_registration, :application_type, "industry" %>" id="industry-application">
            <%= render "new_industrial_account.html", conn: @conn %>
          </div>
        </div>
        <div class="line3"></div>
        <div class="check terms-of-service">
          <label>
            <%= signup_checkbox @conn, :user_registration, :terms_of_service, required: true %>
            By ticking this box or using the platform and/or
            the service, it indicates that you have read, understood and accepted all contents of
            the agreement. You also consider the contents of the
            <a href="/en/terms#en" target="_blank">agreement</a> reasonable. </label>
        </div>
        <div class="line3"></div>
        <div align="center">
          <button type="submit" class="but03">Submit</button>
        </div>
      </div>
    <% end %>
    </div>
