<h6><%= gettext "User Information" %></h6>
<%= render "_please_fill_all_fields.html" %>
<div class="row">
  <div class="col col-md-offset-1 col-md-10">
    <%= signup_text_input @conn, :individual_researcher_application, :title,
                          [placeholder: gettext("Job Title")]%>
  </div>
</div>
<div class="row">
  <div class="col col-md-5 col-md-offset-1">
    <%= signup_text_input @conn, :individual_researcher_application, :given_names,
                          [placeholder: gettext("Given Names")] %>
  </div>
  <div class="col col-md-5">
    <%= signup_text_input @conn, :individual_researcher_application, :last_name,
                          [placeholder: gettext("Last Name")] %>
  </div>
</div>
<div class="row">
  <div class="col col-md-7 col-md-offset-1">
    <%= signup_text_input @conn, :individual_researcher_application, :id_number,
                          [placeholder: gettext("ID Number")] %>
  </div>
  <div class="col col-md-3">
    <%= signup_select @conn, :individual_researcher_application, :id_type,
                      Ipseeds.IndividualResearcherApplication.id_types, [prompt: gettext("-- ID Type --")] %>
  </div>
</div>
<div class="row">
  <div class="col col-md-offset-1 col-md-4">
    <%= signup_text_input @conn, :individual_researcher_application, :date_of_birth,
                          [placeholder: gettext("Date of Birth"), "data-provide": "datepicker",
        "data-date-format": "yyyy-mm-dd", "data-date-autoclose": true,
        "data-date-start-view": "years"] %>
  </div>
  <div class="col col-md-3">
    <%= signup_select @conn, :individual_researcher_application, :gender,
                      Ipseeds.IndividualResearcherApplication.genders, [prompt: gettext("-- Gender --")] %>
  </div>
  <div class="col col-md-3">
    <%= signup_select @conn, :individual_researcher_application, :nationality,
                      countries_list(), [prompt: gettext("-- Nationality --")] %>
  </div>
</div>
<div class="row">
  <div class="col col-md-offset-1 col-md-10">
    <%= signup_text_input @conn, :individual_researcher_application, :organization,
                          [placeholder: gettext("Organization"),
                           maxlength: Ipseeds.ValidationHelpers.company_branch_max_length(),
                           pattern: Ipseeds.ValidationHelpers.company_branch_format()] %>
    <p>*<%= gettext "can contain only English characters, numbers and spaces (max length 100 characters)" %></p>
  </div>
</div>
<div class="row">
  <div class="col col-md-offset-1 col-md-10">
    <%= signup_text_input @conn, :individual_researcher_application, :department,
                          [placeholder: gettext("Department"),
                           maxlength: Ipseeds.ValidationHelpers.company_branch_max_length(),
                           pattern: Ipseeds.ValidationHelpers.company_branch_format()] %>
    <p>*<%= gettext "can contain only English characters, numbers and spaces (max length 100 characters)" %></p>
  </div>
</div>
<div class="row">
  <div class="col col-md-offset-1 col-md-10">
    <%= signup_text_input @conn, :individual_researcher_application, :telephone,
                          [placeholder: gettext("Telephone")] %>
  </div>
</div>
<div class="row">
  <div class="col col-md-offset-1 col-md-10">
    <%= signup_text_input @conn, :individual_researcher_application, :mobile,
                          [placeholder: gettext("Mobile")] %>
  </div>
</div>
<div class="row">
  <div class="col col-md-offset-1 col-md-10">
    <%= signup_text_input @conn, :individual_researcher_application, :address,
                          [placeholder: gettext("Address")] %>
  </div>
</div>
