<h6><%= gettext "Company Information" %></h6>
<%= render "_please_fill_all_fields.html" %>
<div class="row">
  <div class="col col-md-offset-1 col-md-5">
    <%= signup_text_input @conn, :industry_application, :company_name_en,
                          [placeholder: gettext("Company Name"),
                           maxlength: Ipseeds.ValidationHelpers.company_branch_max_length(),
                           pattern: Ipseeds.ValidationHelpers.company_branch_format()] %>
    <p>*<%= gettext "can contain only English characters, numbers and spaces (max length 100 characters)" %></p>
  </div>
  <div class="col col-md-5">
    <%= signup_select @conn, :industry_application, :company_nationality, countries_list(),
      [prompt: gettext("-- Nationality --")] %>
  </div>
</div>
<div class="row only-needed-for-tw-company hidden">
  <div class="col col-md-offset-1 col-md-5">
    <%= signup_text_input @conn, :industry_application, :company_name_zh_tw,
                          [placeholder: gettext("公司名稱(中文)")] %>
  </div>
  <div class="col col-md-5">
    <%= signup_text_input @conn, :industry_application, :company_tax_id, [placeholder: gettext("統一編號")] %>
  </div>
</div>
<div class="row">
  <div class="col col-md-offset-1 col-md-10">
    <%= signup_text_input @conn, :industry_application, :company_website,
                          [placeholder: gettext("Website")] %>
  </div>
</div>
<div></div>
<div class="line3"></div>
<h6><%= gettext "User Information" %></h6>
<%= render "_please_fill_all_fields.html" %>
<div class="row">
  <div class="col col-md-10 col-md-offset-1">
    <%= signup_text_input @conn, :industry_application, :user_title,
                          [placeholder: gettext("Job Title")] %>
  </div>
</div>
<div class="row">
  <div class="col col-md-5 col-md-offset-1">
    <%= signup_text_input @conn, :industry_application, :user_given_names,
                          [placeholder: gettext("Given Names")] %>
  </div>
  <div class="col col-md-5">
    <%= signup_text_input @conn, :industry_application, :user_last_name,
                          [placeholder: gettext("Last Name")] %>
  </div>
</div>
<div class="row">
  <div class="col col-md-offset-1 col-md-10">
    <%= signup_text_input @conn, :industry_application, :user_department,
                          [placeholder: gettext("Department"),
                           maxlength: Ipseeds.ValidationHelpers.company_branch_max_length(),
                           pattern: Ipseeds.ValidationHelpers.company_branch_format()] %>
    <p>*<%= gettext "can contain only English characters, numbers and spaces (max length 100 characters)" %></p>
  </div>
</div>
<div class="row">
  <div class="col col-md-offset-1 col-md-10">
    <%= signup_text_input @conn, :industry_application, :user_telephone,
                          [placeholder: gettext("Telephone")] %>
  </div>
</div>
<div class="row">
  <div class="col col-md-offset-1 col-md-10">
    <%= signup_text_input @conn, :industry_application, :user_address, [placeholder: gettext("Address")] %>
  </div>
</div>
<div class="line3"></div>
<div class="form-inline">
  <h6><%= gettext "Contact Information" %></h6>
  <div class="checkbox">
    <label><input type="checkbox" class="copy-info" data-target="industry_application"> <%= gettext "Same as the User information" %></label>
  </div>
  <%= render "_please_fill_all_fields.html" %>
</div>
<div class="row">
  <div class="col col-md-10 col-md-offset-1">
    <%= signup_text_input @conn, :industry_application, :contact_title,
    [placeholder: gettext("Job Title")] %>
  </div>
</div>
<div class="row">
  <div class="col col-md-5 col-md-offset-1">
    <%= signup_text_input @conn, :industry_application, :contact_given_names,
                          [placeholder: gettext("Given Names")] %>
  </div>
  <div class="col col-md-5">
    <%= signup_text_input @conn, :industry_application, :contact_last_name,
                          [placeholder: gettext("Last Name")] %>
  </div>
</div>
<div class="row">
  <div class="col col-md-offset-1 col-md-10">
    <%= signup_text_input @conn, :industry_application, :contact_department, [placeholder: gettext("Department")] %>
  </div>
</div>
<div class="row">
  <div class="col col-md-offset-1 col-md-10">
    <%= signup_text_input @conn, :industry_application, :contact_telephone, [placeholder: gettext("Telephone")] %>
  </div>
</div>
<div class="row">
  <div class="col col-md-offset-1 col-md-10">
    <%= signup_text_input @conn, :industry_application, :contact_email, [placeholder: gettext("Email")] %>
  </div>
</div>
<div class="row">
  <div class="col col-md-offset-1 col-md-10">
    <%= signup_text_input @conn, :industry_application, :contact_address, [placeholder: gettext("Address")] %>
  </div>
</div>
