<div class="w1200 indexp1">
  <div class="center-box">
    <h2><%= gettext "Thank You!" %></h2>
    <div class="passbox">
      <h4><%= gettext "Your application has been submitted!" %></h4>
      <p><%= gettext "Your application to use BioIPSeeds has been received by our team and we will begin verification of your application very soon. This may take a few days to complete." %></p>
      <p><%= gettext "After your application is approved, you will be able to start using BioIPSeeds." %></p>
      <p class="text-center"><%= link gettext("Go to sign in page"),
                                      to: session_path(@conn, :new, @locale), class: "but03" %></p>
    </div>
  </div>
</div>
