# {{ ansible_managed }}

description "Start json exporter"
author "Cogini <noc@cogini.com>"

start on runlevel [2345]
stop on runlevel [06]

exec su -s /bin/sh -c 'exec "$0" "$@"' prometheus -- {{ json_exporter_bin }}
respawn