<div class="w1200 cont">
  <div class="mail"><a href="#"><img src='<%= static_path(@conn, "/images/email.png") %>'/></a></div>
  <div class="table">
    <div class="tag1">
      <%= link to: app_ip_notary_path(@conn, :index, @locale) do %>
        <span>List</span>
      <% end %>
      <a href="#" class="on"><span>+Add</span></a>
    </div>
    <div class="details">
      <div class="warnbox">
        <div class="close"><a href="javascript:void 0;" onclick="close_box();"><img src='<%= static_path(@conn, "/images/close.png") %>' /></a></div>
        ATTENTION PLEASE: The IP Seeds Summary allowing the public to access information
      </div>
      <div class="tag2">
        <a href="#add-ip-notary" class="listlink2" aria-controls="add_ip_notary" role="tab" data-toggle="tab"><span>IP Seeds</span></a>
      </div>
      <div class="tab-content">
        <div id="add-ip-notary" class="layer2 tab-pane active" role="tabpanel">
          <h3>OK</h3>
        </div>
      </div>
    </div>
  </div>
</div>
