<%= form_for @changeset, app_ip_notary_path(@conn, :create, @locale),
             [id: "ip-notary-form", data: [
                 change_file_text: gettext("Click to Change File"),
                 processing_text: gettext("Processing...")]], fn f -> %>
  <div class="addip">
    <div class="addiplist">
      <span><%= gettext "Case ID" %></span>
      <%= text_input f, :name_short %>
    </div>

    <div class="addiplist2 valid-date">
      <span><%= gettext "Date" %></span>
      <input type="text" disabled value="<%= default_valid_time() %>">
    </div>

    <div class="addiplist">
      <span><%= gettext "Title" %></span>
      <%= text_input f, :name, class: "longtext" %>
    </div>
  </div>

  <div class="listtitle2"><%= gettext "Proof of ownership of any digital content" %></div>

  <div class="block3">
    <div><img src='<%= static_path(@conn, "/images/sample/finger.png") %>'/></div>
    <div id="dropzone">
      <div class="choose-file-link">
        <input class="box__file" type="file" id="proof-file"/>
        <label for="proof-file"><strong><%= gettext "Click here" %></strong>
          <span><%= gettext "or drag and drop your document in the box." %></span>
        </label>
      </div>
      <br/><span id="hashed-file"><%= gettext "The file will NOT be uploaded. The cryptographic proof is calculated client-side." %>
        <%= file_size_limit_note() %>
      </span>
    </div>
  </div>
  <div align="center">
    <button type="button" class="but03" data-toggle="modal" data-target="#confirmationModal"><%= gettext("Submit") %></button>
  </div>
<% end %>

<div id="confirmationModal" class="squared-modal modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <p><strong><%= gettext "Please note that the information cannot be changed after being submitted to the Blockchain. Please ensure the data is correct without the need for further modification. Are you going to submit your data now?" %></strong></p>
      <div align="center">
        <button data-dismiss="modal" class="but03 cancel-btn"><%= gettext "Continue to edit" %></button>
        <button class="but03 submit-btn"><%= gettext("Submit") %></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
