<div class="w1200 cont">
  <div class="table">
    <%= render Ipseeds.App.SharedView, "ipseeds_menu.html", conn: @conn, locale: @locale, add_path: resource_add_path(@conn, @locale) %>
    <table width="1200" border="0" cellspacing="0" cellpadding="0" class="tablestyle1" >
      <tr>
        <td width="22%"><%= gettext "Case ID" %></td>
        <td width="43%"><%= gettext "Title" %></td>
        <td width="15%"><%= gettext "Entry Time" %></td>
      </tr>
      <%= for ip_notary <- @ip_notaries.entries do %>
      <tr>
        <td><%= link ip_notary[:name_short], to: app_ip_notary_path(@conn, :show, @locale, ip_notary[:asset_id]) %></td>
        <td class="text-left"><%= link ip_notary[:name],
                                       to: app_ip_notary_path(@conn, :show, @locale, ip_notary[:asset_id]) %></td>
        <td><%= parse_api_timestamp ip_notary[:create_time] %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="page"><%= pagination_links @ip_notaries %></div>
</div>
