<div class="w1200 cont">
  <div class="table">
    <%= render Ipseeds.App.SharedView, "ipseeds_menu.html", conn: @conn, locale: @locale, add_path: resource_add_path(@conn, @locale) %>
    <div class="details">
      <%= render Ipseeds.App.SharedView, "ipseeds_sub_menu.html", conn: @conn, locale: @locale %>
      <div id="add-ip-notary" class="layer2">
        <%= if @changeset.action do %>
          <div class="alert alert-danger">
            <p><%= gettext "Oops! Something went wrong. Please check the errors below:" %></p>
            <ul>
              <%= for {attr, message} <- @changeset.errors do %>
                <li><%= Ipseeds.IpNotary.readable_attr(attr) %>: <%= translate_error(message) %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= render "form.html", changeset: @changeset, conn: @conn, locale: @locale %>
      </div>
    </div>
  </div>
</div>