<div class="w1200 cont">
  <div class="table">
    <div class="tag1">
      <%= link to: app_ip_summary_path(@conn, :index, @locale) do %>
        <span><%= gettext "IP Summary" %></span>
      <% end %>
      <%= link to: app_ip_notary_path(@conn, :index, @locale) do %>
        <span><%= gettext "IP Notary" %></span>
      <% end %>
      <a href="#" class="on"><span><%= gettext "Details" %></span></a>
    </div>
    <div class="details">
      <div class="tag2">
        <a class="on" href="#"><span><%= gettext "IP Notary" %></span></a>
      </div>
      <div class="addip">
        <div class="addiplist"><span><%= gettext "Case ID" %></span><%= @ip_notary.name_short %></div>
        <div class="addiplist2 Phase"><span><%= gettext "Date" %></span>
          <%= parse_api_timestamp @ip_notary.create_time %></div>
        <div class="addiplist"><span><%= gettext "Title" %></span><%= @ip_notary.name %></div>
      </div>
      <div class="listtitle2"><%= gettext "Proof of ownership of any digital content" %></div>
      <div class="addip br1">
        <div class="addiplist3"><span><%= gettext "Asset ID" %></span><%= @ip_notary.asset_id %></div>
        <div class="addiplist3">
          <span><%= gettext "SHA256 Hash of Digital File" %></span>
          <%= @ip_notary.hash_attachment %>
        </div>
        <div class="addiplist3">
          <span><%= gettext "Entry Hash" %></span>
          <%= link @ip_notary.tx_id, to: app_explorer_path(@conn, :show, @locale, @ip_notary.tx_id) %>
        </div>
        <div class="addiplist3">
          <span><%= gettext "Registered in our servers since" %></span>
          <%= parse_api_timestamp @ip_notary.create_time %>
        </div>

        <%= if Map.has_key?(@ip_notary, :btc_tx_id) do %>
          <div class="addiplist3">
            <span><%= gettext "Bitcoin Blockchain Tx ID" %></span>
            <%= link_btc_txid @ip_notary.btc_tx_id, to: @ip_notary.btc_tx_check_url, target: "_blank" %>
          </div>
        <% end %>
        
        <div class="addiplist3"><span>&nbsp;</span></div>
        <div class="okpic"><img src="<%= static_path(@conn, "/images/icon10.png") %>"/></div>
      </div>    
    </div>
  </div>
  <div align="center">
    <%= link to: app_ip_notary_path(@conn, :new, @locale) do %>
      <div class="but03"><%= gettext "Add New Records" %></div>
    <% end %>
  </div>
</div>
