$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;
$ipseeds-yellow: #f6aa00;
$nav-height: 80px;
$body-padding: 90px;
$footer-height: 50px;

@import "admin/nav";
@import "admin/footer";
@import "admin/user_registration";

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: $nav-height + 15px;
  margin-bottom: $footer-height;
}

form.link {
  display: inline-block;
}

