@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@import "shared/reset";
@import "shared/ipseeds";
@import "shared/errors";
@import "shared/pagination";
@import "app/ip_discovery";
@import "app/ip_summary";
@import "app/ip_notary";
@import "app/message";
@import "app/footer";
@import "app/contract";
@import "app/agreeable_contract";
@import "shared/terms";
@import "shared/privacy_policy";
@import "shared/alignment";
@import "shared/faq";
@import "shared/contact_us";
@import "shared/about";
@import "shared/features";
@import "shared/how_it_works";
@import "shared/explorer";
@import "shared/wrap";
@import "shared/_membership_labels.scss";

a {
  &:focus, &:hover {
    text-decoration: none;
  }
}

b, strong {
  font-weight: 700;
}

.logout-btn {
  &.btn {
    padding: 0;
    display: inline-block;
    vertical-align: top;
  }
}

.squared-modal {
  .modal-dialog {
    width: 600px;
    top: 100px;
    &.modal-lg {
      width: 1200px;
      top: 0px;
    }
    .modal-content {
      padding: 30px;
      border-radius: 0;
      form {
        display: inline-block;
      }
    }
  }
}

.logout {
  .modal-dialog {
    .modal-content {
      padding-top: 50px;
    }
  }
}

.center-box {
  width: 620px;
  margin: 70px auto;
  border: 1px solid #00468c;
  h2 {
    width: 100%;
    background: #00468c;
    padding: 15px 20px;
  }
  .passbox {
    #preview-passphrase {
      width: 100%;
      padding: 3px 10px;
      border: 1px solid #ccc;
      margin: 20px 0;
      background-color: rgb(218, 218, 218);
      text-align: center;
    }
    a {
      text-decoration: none;
    }
    #show-passphrase-again {
      padding: 3px 20px;
    }
  }
  #confirm-passphrase-tab {
    .passbox {
      h4 {
        line-height: 90px;
      }
    }
  }
}

#setup-passphrase {
  padding-top: 30px;
}

.loading-indicator {
  width: 25px;
}

#user-profile {
  img {
    border: none;
  }
  .details {
    & > .list {
      width: 200px;
    }
  }
  .photo-upload-wrap {
    padding-top: 20px;
    text-align: center;
    .photo-upload {
      padding: 1px 20px;
      font-size: 20px;
      width: auto;
      position: relative;
      display: inline-block;
      border: 1px solid #f6aa00;
      color: #fff;
      background: #f6aa00;
      text-align: center;
      cursor: pointer;
      &:hover {
        background: #fff;
        color: #f6aa00;
      }
      input {
        opacity: 0;
        top: 0;
        right: 0;
        position: absolute;
        cursor: pointer;
      }
    }
    .errors {
      ul {
        list-style: disc;
        font-size: 13px;
        color: red;
        text-align: left;
        padding-left: 30px;
        line-height: normal;
        li {
          border: none;
        }
      }
    }
  }
  .addimages.setimg {
    background-color: transparent;
    position: relative;
    img {
      &.in-queue {
        opacity: 0;
      }
      left: 0;
      top: 0;
      width: 200px;
      height: 200px;
      position: absolute;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
    }
  }
}

ul.tag2 {
  li {
    display: inline-block;
    &.active {
      a > span {
        background: #f6aa00;
      }
    }
  }
}

html input[disabled] {
  background: #eee;
  cursor: not-allowed;
}

img.inline-loading {
  max-width: 24px;
  vertical-align: top;
  margin: 0 5px;
}

div.features,
div.howitworks-top {
  width: 1200px;
  margin: 0 auto;
}
