@import "shared/ipseeds";
@import "shared/pagination";
@import "public/user_registration";
@import "shared/terms";
@import "shared/privacy_policy";
@import "shared/contact_us";
@import "shared/faq";
@import "shared/alignment";
@import "shared/about";
@import "shared/features";
@import "shared/how_it_works";
@import "public/reset_password";
@import "shared/explorer";

.indexp02 {
  width: 100%;
}

.signbut a.but02 {
  &:hover, &:focus {
    text-decoration: none;
  }
}

#signup-form {
  text-align: left;
  max-width: 800px;
  margin: 0 auto 50px;
  border: 1px solid #00468c;
  h2 {
    background: #00468c;
    padding: 15px 20px;
    text-align: center;
    margin-top: 0;
  }
  .form-body {
    padding: 10px 20px;
    h6 {
      margin-bottom: 15px;
    }
    .row {
      margin-bottom: 15px;
      input {
        width: 100%;
      }
    }
    div {
      & > span {
        display: inline-block;
        text-align: right;
        margin-right: 10px;
        width: 80px;
        font-size: 15px;
        color: #000;
        font-weight: 700;
        &.long {
          width: auto;
        }
      }
      input, select {
        margin-right: 20px;
      }
    }
    .tab-pane {
      select {
        height: 33px;
        line-height: 25px;
        width: 100%;
      }
    }
    .line3 {
      margin: 20px 0;
    }
  }
  .warn2, .check {
    width: auto;
  }
  .terms-of-service {
    label {
      text-indent: -22px;
      padding-left: 22px;
      input[type='checkbox'] {
        margin-right: 10px;
      }
    }
  }
}

.datepicker-dropdown {
  thead th {
    font-weight: 700;
  }
  td {
    line-height: normal;
  }
}

.center-box {
  width: 620px;
  margin: 100px auto;
  border: 1px solid #00468c;
  h2 {
    width: 100%;
    background: #00468c;
    padding: 15px 20px;
  }
  .passbox {
    #preview-passphrase {
      width: 100%;
      padding: 3px 10px;
      border: 1px solid #ccc;
      margin: 20px 0;
      background-color: rgb(218, 218, 218);
      text-align: center;
    }
    a {
      text-decoration: none;
    }
    #show-passphrase-again {
      padding: 3px 20px;
    }
  }
  #confirm-passphrase-tab {
    .passbox {
      h4 {
        line-height: 90px;
      }
    }
  }
}

.signin {
  width: 440px;
  input {
    &[type='text'], &[type='password'] {
      width: 220px;
      border-radius: 0;
      display: inline-block;
    }
  }
}

a {
  &:focus, &:hover {
    text-decoration: none;
  }
}

.indexp4 .but03 {
  margin-top: 0;
  margin-bottom: 60px;
}