#!/usr/bin/env bash

echo "--- Checking out code..."
git --work-tree={{ site_dir }} \
    --git-dir={{ repo_dir }} \
    checkout {{ env }} -f

(cd {{ site_dir }} && \
    echo "--- Running deps.get..." && \
    mix deps.clean --unused && \
    mix deps.get --only {{ env }} && \
    echo "--- Running mix compile..." && \
    MIX_ENV={{ env }} mix compile && \
    echo "--- Running npm install and npm prune..." && \
    npm install && npm prune && \
    echo "--- Running brunch build..." && \
    node_modules/.bin/brunch build --production && \
    echo "--- Running mix phoenix.digest..." && \
    MIX_ENV={{ env }} mix phoenix.digest && \
    echo "--- Running migrations..." && \
    MIX_ENV={{ env }} mix {{ app_name }}.migrate)

echo "--- Restarting app..."
sudo service {{ app_name }} restart
echo "--- Done."