<%= form_for @changeset, @action, [multipart: true], fn f -> %>
  <h6><%= gettext "Biography" %></h6>
  <div>
    <span></span>
    <%= textarea f, :biography, style: "resize: vertical; height: 155px; width: 100%;", class: "longtext2", placeholder: gettext("Write a brief biography to introduce yourself, highlight achievements, list credentials and any notable projects with which you are involved.") %>
  </div>
  <div class="line3"></div>
  <h6><%= gettext "Settings" %></h6>
  <div>
    <div class="checkbox">
      <label>
        <%= checkbox f, :profile_show_email %>
        <%= gettext "Show my email to other users" %>
      </label>
    </div>
    <div class="checkbox">
      <label>
        <%= checkbox f, :message_notify_by_email %>
        <%= gettext "New messages notified via email" %>
      </label>
    </div>
  </div>
  <div class="line3"></div>
  <div id="submitArea" align="center">
    <%= submit "Save", class: "but03", id: "submitButton" %>
    <%= link gettext("Public View"), to: app_user_path(@conn, :show, @conn.assigns.locale, @conn.assigns.current_user.username), class: "but03" %>
    <div align="center"><%= gettext "*Only saved changes will be visible on your Public View" %></div>
  </div>
<% end %>
