<div class="w1200" id="user-profile">
  <div class="details">
    <div class="list">
      <h4 class="seth4"><%= gettext "Profile Photo" %></h4>
      <div id="profile-photo-container" class="addimages setimg" style="width: 200px; height: 200px;">
        <img src="<%= user_profile_photo(@user) %>"/>
      </div>
      <div class="photo-upload-wrap">
        <span class="photo-upload">
          <input type="file" name="user[picture]" id="update-profile-photo" data-action="<%= app_user_path(@conn, :update_profile_photo, @locale, @user.username) %>">Change Photo
        </span>
        <small class="small upload-note">*<%= file_size_limit_note() %></small>
        <img src="<%= static_path @conn, "/images/loading.gif" %>" class="loading-indicator" style="display:none" />
        <div class="errors">
        </div>
      </div>
    </div>
    <div class="layer settingform">
      <h6><%= gettext "Account Information" %></h6>
      <div><p>Username: <%= @user.username %></p>
        <p>Email: <%= @user.email %></p>
        <div>
          <a id="reset-password-btn" href="#" class="but05 setbut" data-action="<%= app_user_path(@conn, :reset_password, @locale) %>">Reset Password</a>
          <img src="<%= static_path @conn, "/images/loading.gif" %>" class="loading-indicator" style="display:none" />
        </div>
      </div>
      <div class="line3"></div>
      <%= if @changeset.action do %>
        <div class="alert alert-danger">
          <p><%= gettext "Oops! Something went wrong. Please check the errors below:" %></p>
          <ul>
            <%= for {attr, message} <- @changeset.errors do %>
              <li><%= humanize(attr) %>: <%= translate_error(message) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= render "edit_form.html", conn: @conn,
                                   changeset: @changeset,
                                   action: app_user_path(@conn, :update, @locale, @user.username) %>
    </div>
  </div>
</div>
