<div class="w1200 indexp1" id="setup-passphrase">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" style="display: none;">
    <li role="presentation" class="active"><a href="#setup-passphrase-tab" aria-controls="setup-passphrase" role="tab" data-toggle="tab">Setup Passphrase</a></li>
    <li role="presentation"><a href="#confirm-passphrase-tab" aria-controls="confirm-passphrase" role="tab" data-toggle="tab">Confirm Passphrase</a></li>
  </ul>
	<div class="row">
		<div class="col-sm-12">
			<% error = get_flash(@conn, :error) %>
			<%= if error do %>
				<div class="alert alert-danger" role="alert"><%= error %></div>
			<% end %>
		</div>
	</div>
  <%= form_tag app_user_path(@conn, :create_passphrase, @locale), class: "center-box", id: "submit-passphrase" do %>
    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="setup-passphrase-tab">
        <h2><%= gettext "Setup Passphrase" %></h2>
        <div class="passbox">
          <h4><%= gettext "Make sure to write it down and keep it safe." %></h4>
          <%= raw gettext("The user MUST make note of entered passphase. The passphrase is not<br/>stored anywhere on the system.") %>
          <div class="passboxpic"><img src="/images/icon11.png"/></div>
          <div class="passboxtext">
            <div id="preview-passphrase"></div>
          </div>
          <div align="center">
            <button id="change-passphrase" class="but03">Change Passphrase</button>
            <a href="#confirm-passphrase-tab" aria-controls="confirm-passphrase" role="tab" data-toggle="tab" class="but03">Next</a>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="confirm-passphrase-tab">
        <h2><%= gettext "Confirm Your Passphrase" %></h2>
        <div class="passbox">
          <h4><%= gettext "Please confirm your passphrase" %></h4>
          <div class="passboxpic"><img src="/images/icon11.png"/></div>
          <div class="passboxtext"><input type="text" id="passphrase-confirmation"></div>
          <div align="center">
            <button id="show-passphrase-again" class="but03"><%= gettext "Show me my passphrase" %></button>
            <button type="submit" class="but03"><%= gettext "Confirm" %></button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
