<div class="w1200" id="user-profile">
  <div class="row" style="margin-top: 25px;">
    <div class="col-md-3">
      <div class="list text-center">
        <h4 class="seth4"><%= gettext "Profile Photo" %></h4>
        <div class="addimages setimg" style="width: 200px; height: 200px; display: inline-block">
          <img src="<%= user_profile_photo(@user) %>"/>
        </div>
      </div>
    </div>
    <div class="col-md-9"><div class="settingform">
      <h6><%= gettext "Account Information" %></h6>
      <div>
        <% application_type = Ipseeds.User.get_user_application_type(@user) %>
        <% membership_class = Ipseeds.MembershipHelpers.membership_class(application_type[:name]) %>
        <p><span class="label label-membership label-<%= membership_class %>">
            <%= application_type[:display_name] %>
          </span></p>
        <p><strong><%= gettext "Name" %>:</strong> <%= Ipseeds.User.get_name(@user) %></p>
        <p><strong><%= gettext "Organization" %>:</strong> 
          <%= Ipseeds.User.get_company(@user) %></p>
        <p><strong><%= gettext "Department" %>:</strong> 
          <%= Ipseeds.User.get_branch(@user) %></p>
        <%= if Ipseeds.User.get_website(@user) != "" do %>
        <p><strong><%= gettext "Website" %>:</strong> 
          <%= link Ipseeds.User.get_website(@user), to: Ipseeds.User.get_website(@user) %></p>
        <% end %>  
        <p><strong><%= gettext "Username" %>:</strong> <%= @user.username %></p>
        <%= if @user.profile_show_email do %>
          <p><strong><%= gettext "Email" %>:</strong> <%= @user.email %></p>
        <% end %>
          <%= if @user.id != @current_user.id do %>
            <%= if @is_contact? do %>
              <p><%= gettext "Already on Contact List" %></p>
            <%= else %>
              <div><a href="#" class="but05 setbut add-to-contact-list-btn"
                      data-csrf-token="<%= Plug.CSRFProtection.get_csrf_token() %>"
                      data-user-contact-path="<%= app_user_contact_path(@conn, :create, @locale) %>"
                      data-contact-user-id="<%= @user.id %>"
                      data-success-text="<%= gettext "Added to Contact List (click to view all contacts)" %>"
                      data-contact-index-link="<%= app_user_contact_path(@conn, :index, @locale) %>"
                      data-default-failure-text="<%= gettext "An unknown error occured. Please try again." %>">
                <%= gettext "Add to Contact List" %></a></div>
              <div id="add-to-contact-list-errors">
              </div>
            <% end %>
          <% end %>
            </div>
            <%= if @user.biography != "" && @user.biography != nil do %>
              <div class="line3"></div>
              <h6><%= gettext "Biography" %></h6>
              <pre class="longtext"><%= @user.biography %></pre>
            <% end %>
            <%= unless @user.id == @current_user.id || Ipseeds.BrowserHelpers.partially_supported_browser?(@conn) do %>
              <div class="line3"></div>
              <h6><%= gettext "Send Message" %></h6>
              <div id="user-profile-message-container" class="text-center">
                <textarea id="message-subject" class="longtext2 user-profile-message-subject"
                          placeholder="<%= gettext "Subject" %>" class="long"></textarea>
                <p class="user-profile-message-help">
                  <%= gettext "Please note: the subject is not encrypted." %></p>

                <textarea id="message-content" style="resize: vertical" class="longtext2"
                          placeholder="<%= gettext "Write a message..." %>" class="long"></textarea>
                <%= link gettext("Send"), to: app_message_path(@conn, :create, @locale), method: :post,
                         class: "but03", id: "send-message-from-user-profile-btn",
                         data: [success_message: gettext("Message sent successfully"),
                                no_subject_error_msg: gettext("Message has no subject."),
                                empty_message_error_msg: gettext("Message is empty.")] %>
              </div>
            <% end %>
            <%= if @user.id == @current_user.id do %>
              <div id="submitArea" align="center">
                <%= link gettext("Edit Profile"), to: app_user_path(@conn, :edit, @conn.assigns.locale, @conn.assigns.current_user.username), class: "but03" %>
              </div>
            <% end %>
      </div>
    </div>
  </div>
</div>
