{% if env == 'prod' or env == 'staging' %}
# respond with 444 to all requests that don't match the
# domain at all (e.g. requests for the IP)
server {
    listen 80;
    listen 443 ssl;
    server_name _;

    ssl_certificate {{ certs_dir }}/server.crt;
    ssl_certificate_key {{ certs_dir }}/server.key;
    ssl_password_file {{ certs_dir }}/server.pass;
    ssl_session_timeout 5m;
    return 444;
}

# redirect http requests for URLs matching the domain to https
server {
    listen 80;
    server_name *.{{ domain }} {{ domain }};
    return 302 https://$host$request_uri;
}
{% endif %}

{% if env == 'prod' %}
# redirect requests https://domain.com -> https://www.domain.com
server {
    server_name {{ domain }};
    listen 443 ssl;

    ssl_certificate {{ certs_dir }}/server.crt;
    ssl_certificate_key {{ certs_dir }}/server.key;
    ssl_password_file {{ certs_dir }}/server.pass;
    ssl_session_timeout 5m;
    return 302 https://www.$host$request_uri;
}
{% endif %}

server {
{% if env == 'dev' or env == 'test' %}
    server_name {{ domain }};
    listen 80;
{% else %}
    server_name {{ server_name }};
    listen 443 ssl;

    ssl_certificate {{ certs_dir }}/server.crt;
    ssl_certificate_key {{ certs_dir }}/server.key;
    ssl_password_file {{ certs_dir }}/server.pass;
    ssl_session_timeout 5m;
{% endif %}

    root {{ site_dir }};

    access_log {{ log_dir }}/nginx_access.log json;
    error_log  {{ log_dir }}/nginx_error.log;

    location / {
        try_files $uri @proxy;
    }

    location @proxy {
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_read_timeout 600s;
        proxy_pass http://127.0.0.1:{{ app_port }};
    }
}
