<h3><%= title(@type) %></h3>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= form_for @changeset, action_path(@conn, @token, @type), fn f -> %>

    <%= hidden_input f, :email %>

    <div class="form-group">
      <%= label f, :password, class: "control-label" %>
      <%= password_input f, :password, class: "form-control" %>
      <%= error_tag f, :password %>
    </div>

    <div class="form-group">
      <%= label f, :password_confirmation, class: "control-label" %>
      <%= password_input f, :password_confirmation, class: "form-control" %>
      <%= error_tag f, :password_confirm %>
    </div>

    <div class="form-group">
      <%= submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
  </div>
</div>
