<h1>Forgot password</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @changeset, public_admin_password_reset_path(@conn, :create, @locale), fn f -> %>
      <div class="form-group">
        <%= label f, :email, class: "control-label" %>
        <%= text_input f, :email, class: "form-control" %>
        <%= error_tag f, :email %>
      </div>

      <div class="form-group">
        <%= submit "Submit", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
