<div class="ip-discovery">
  <div class="graybg search">
    <%= form_tag app_ip_discovery_path(@conn, :index, @locale),
                 method: "get", enforce_utf8: false, id: "ip-search", class: "text-center" do %>
      <div class="result">
        <%= gettext "%{entry_range} of about %{total} Results",
                    entry_range: entry_range(@ip_summaries, @current_page, @page_size),
                    total: @total_entries %>
      </div>
      <input placeholder="<%= gettext "Search keywords" %>" type="text" name="search"
             value="<%= @conn.query_params["search"] %>">
      <a href="#">
        <div class="but01"><%= gettext "Search" %></div>
      </a>
    <% end %>
  </div>

  <div class="w1200 subnav">
    <%= categories_menu(@conn) %>
  </div>
  <div class="w1200 ip-summary-container">
    <%= for ip_summary <- @ip_summaries do %>
      <div class="ip-summary-block">
        <%= link to: app_ip_summary_path(@conn, :show, @locale, ip_summary.asset_id) do %>
          <img src="<%= ip_summary.cover_url %>">
          <p class="ip-summary-title"><%= Curtail.truncate(ip_summary.name, length: 75) %></p>
        <% end %>
        <p class="ip-summary-keywords">
          <%= Ipseeds.App.IpSummaryView.parse_keywords(ip_summary, @conn) %>
        </p>
        <p class="ip-summary-category">
          <%= Ipseeds.App.IpSummaryView.parse_category(ip_summary) %>
        </p>
      </div>
    <% end %>
  </div>
  <div class="page">
    <% IO.inspect @conn.query_params %>
    <%= pagination_links(@conn, @scrivener_page, [], Ipseeds.ScrivenerHelpers.query_params(@conn)) %>
  </div>
</div>
