<div class="modal squared-modal" id="previewModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= gettext "Preview IP Summary" %></h4>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="list navigation">
            <div class="logo"><img class="logo-preview" src=""></div>
            <ul class="nav nav-pills nav-stacked" role="tablist">
              <li role="presentation" class="active">
                <a href="#info" role="tab" data-toggle="tab" class="listlink"><%= gettext "Information" %></a>
              </li>
              <li role="presentation">
                <a href="#data-records" role="tab" data-toggle="tab" class="listlink"><%= gettext "Blockchain Records" %></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div role="tabpanel" class="active tab-pane layer tab-pane-no-margin" id="info">
              <table class="tablestyle2" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                <tr>
                  <td width="20%"><%= gettext "Case ID" %></td>
                  <td class="case-id-preview"></td>
                </tr>
                <tr>
                  <td><%= gettext "Date" %></td>
                  <td id="date-preview"></td>
                </tr>
                <tr>
                  <td><%= gettext "Title" %></td>
                  <td id="title-preview"></td>
                </tr>
                <tr>
                  <td><%= gettext "Type" %></td>
                  <td id="type-preview"></td>
                </tr>
                <tr>
                  <td><%= gettext "Inventor(s)" %></td>
                  <td id="inventor-preview"></td>
                </tr>
                <tr>
                  <td><%= gettext "Issuer" %></td>
                  <td>
                    <%= link Ipseeds.User.get_name(@conn.assigns.current_user),
                             to: app_user_path(@conn, :show, @conn.assigns.locale, @conn.assigns.current_user.username) %>
                    <span class="ok"><img src="<%= static_path @conn, "/images/icon07.png" %>"><%= gettext "Verified" %></span>
                  </td>
                </tr>
                <tr>
                  <td><%= gettext "Keywords" %></td>
                  <td id="keyword-preview"></td>
                </tr>
                </tbody>
              </table>
              <div>
                <div class="bigpic" style="width: 100%;">
                  <img class="cover-preview" src="">
                </div>
                <div class="listtitle"><%= gettext "Background" %></div>
                <p id="background-preview"></p>
                <div class="listtitle"><%= gettext "Innovation" %></div>
                <p id="innovation-preview"></p>
                <div class="listtitle"><%= gettext "Application" %></div>
                <p id="application-preview"></p>
                <div class="listtitle"><%= gettext "Advantage" %></div>
                <p id="advantage-preview"></p>
                <div class="listtitle"><%= gettext "State of Development" %></div>
                <p id="sod-preview"></p>
                <div class="listtitle"><%= gettext "Clinical trial" %></div>
                <p id="clinical-preview"></p>
                <div class="listtitle"><%= gettext "Patent Status" %></div>
                <p id="patent_ids-preview"></p>
                <p>Other Patent Information: </p>
                <p id="patent_status-preview"></p>
                <div class="listtitle"><%= gettext "Type of Partnership" %></div>
                <p id="partnership-preview"></p>
              </div>
              <div id="attachment-preview" class="download">
                <span><%= gettext "Reference File" %></span>
                <span><a></a><img src="<%= static_path @conn, "/images/icon06.png" %>"></span>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane layer  tab-pane-no-margin" id="data-records">
              <div class="record-heading"><%= gettext "Primary Records" %></div>
              <table class="tablestyle2 datarecord" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                <tr>
                  <td><%= gettext "Case ID" %></td>
                  <td class="case-id-preview"></td>
                </tr>
                <tr>
                  <td><%= gettext "Asset ID" %></td>
                  <td>AZir3S9ZjJ_SAMPLE_ID_2As9vnHLoDsN9</td>
                </tr>
                <tr>
                  <td><%= gettext "Entry Time" %></td>
                  <td id="entry-time-preview"></td>
                </tr>
                </tbody>
              </table>
              <div class="record-heading"><%= gettext "Affiliated Records" %></div>
              <div id="records-preview"></div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script id="datarecord-preview-template" type="x-tmpl-mustache">
  <table data-asset-id="{{asset_id_full}}" class="tablestyle2 datarecord" 
  border="0" cellpadding="0" cellspacing="0" width="870">
    <tbody>
      <tr>
        <td><%= gettext "Case ID" %></td>
        <td>{{name_short}}</td>
      </tr>
      <tr>
        <td><%= gettext "Asset ID" %></td>
        <td>{{asset_id_full}}</td>
      </tr>
      <tr>
        <td><%= gettext "Entry Time" %></td>
        <td>{{create_time}}</td>
      </tr>
    </tbody>
  </table>

</script>
