<div class="w1200 cont">
  <div class="table">
    <%= render Ipseeds.App.SharedView, "ipseeds_menu.html", conn: @conn, locale: @locale, add_path: resource_add_path(@conn, @locale) %>
    <table width="1200" border="0" cellspacing="0" cellpadding="0" class="tablestyle1" >
      <tr>
        <td><%= gettext "Case ID" %></td>
        <td style="width: 40%;"><%= gettext "Title" %></td>
        <td><%= gettext "Latest Modified Time" %></td>
        <td><%= gettext "Visible to Public?" %></td>
        <td><%= gettext "Edit" %></td>
      </tr>
      <%= for ip_summary <- @ip_summaries.entries do %>
      <tr>
        <td><%= link ip_summary.name_short,
                     to: app_ip_summary_path(@conn, :show, @locale, ip_summary.asset_id) %></td>
        <td class="text-left"><%= link ip_summary.name,
                                       to: app_ip_summary_path(@conn, :show, @locale, ip_summary.asset_id) %></td>
        <td><%= parse_api_timestamp ip_summary.create_time %></td>
        <td>
          <%= if ip_summary[:is_visible] do %>
            <%= link to: app_ip_summary_path(@conn, :hide, @locale, ip_summary.asset_id),
                     method: :patch, class: "toggle-ip-summary-visibility", title: "Hide this IP summary."  do %>
              <i class="fa fa-eye"></i>
            <% end %>
          <%= else %>
            <%= link to: app_ip_summary_path(@conn, :unhide, @locale, ip_summary.asset_id),
                     method: :patch, class: "toggle-ip-summary-visibility", title: "Display this IP summary."  do %>
              <i class="fa fa-eye-slash"></i>
            <% end %>
          <% end %>
        </td>
        <td>
          <form class="link" style="margin-left: 15px;">
          <%= link to: app_ip_summary_path(@conn, :edit, @locale, ip_summary.asset_id), 
                class: "link-edit-ip-summary", title: "Edit this IP summary." do %>
            <i class="fa fa-edit"></i>
          <% end %>
          </form>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="page"><%= pagination_links @ip_summaries %></div>
</div>
