<div class="w1200 cont">
  <div class="table">
    <%= render Ipseeds.App.SharedView, "ipseeds_menu.html", conn: @conn, locale: @locale, add_path: resource_add_path(@conn, @locale) %>
    <div class="details">
      <%= render Ipseeds.App.SharedView, "ipseeds_sub_menu.html", conn: @conn, locale: @locale %>
      <div class="warnbox">
        <div class="close"><a href="#"><img src="<%= static_path @conn, "/images/close.png" %>" /></a></div>
        <%= gettext "ATTENTION PLEASE: Information inside the IP Summary will be visible to other users of BioIPSeeds." %>
      </div>
      <%= if @changeset.action do %>
        <div class="alert alert-danger">
          <p><%= gettext "Oops! Something went wrong. Please check the errors below:" %></p>
          <ul>
            <%= for {attr, message} <- @changeset.errors do %>
              <li><%= readable_attr(attr) %>: <%= translate_error(message) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= form_for @changeset, app_ip_summary_path(@conn, :create, @locale), [id: "ip-summary-form", class: "layer2 addip", multipart: true], fn f -> %>
        <div class="addiplist">
          <span>
            <%= gettext "Logo Images" %>
            <span class="required-field">*required</span>
            <span class="required-field">*<%= file_size_limit_note() %></span>
          </span>
          <div class="addimages preview-pane">
            <img class="logo-preview" src="" alt="logo images"/>
          </div>
          <%= gettext "Large Logo 260 x 260" %>
          <%= file_input f, :icon_url, class: "hidden-input" %>
          <%= label f, :icon_url, class: "but04 but-inline" do %>
            <%= gettext "Change" %>
          <% end %>
        </div>
        <div class="addiplist">
          <span>
            <%= gettext "Cover Images" %>
            <span class="required-field">*required</span>
            <span class="required-field">*<%= file_size_limit_note() %></span>
          </span>
          <div class="addimages cover preview-pane">
            <img class="cover-preview" src="" alt="cover images"/>
          </div><%= gettext "Cover Image 1280x768" %>
          <%= file_input f, :cover_url, class: "hidden-input" %>
          <%= label f, :cover_url, class: "but04 but-inline" do %>
            <%= gettext "Change" %>
          <% end %>
        </div>
        <div class="addiplist">
          <span><%= gettext "Category" %></span>
          <%= select f, :category, categories() %>
        </div>
        <div class="addiplist">
          <span class="with-required">
            <%= gettext "Case ID" %>
            <span class="required-field">*required</span>
          </span>
          <%= text_input f, :name_short %>
          <p class="ip-form-help"><%= gettext "Max: 32 characters" %></p>
        </div>
        <div class="addiplist">
          <span><%= gettext "Date" %></span>
          <input id="ip_summary_date" type="text" disabled value="<%= default_valid_time() %>">
        </div>
        <div class="addiplist2">
          <span><%= gettext "Keywords" %></span>
          <%= text_input f, :keywords, placeholder: "#biotech #genetics" %>
        </div>
        <div class="addiplist">
          <span class="with-required">
            <%= gettext "Title" %>
            <span class="required-field">*required</span>
          </span>
          <%= text_input f, :name, class: "longtext" %>
          <p class="ip-form-help"><%= gettext "Max: 500 characters" %></p>
        </div>
        <div class="addiplist inventors-field">
          <span><%= gettext "Inventor(s)" %></span>
          <div class="fields-group">
            <%= for inventor <- parse_list_from_changeset!(@changeset, :inventors) do %>
              <div class="inventors_input_container">
                <input class="inventors_input inventor_name" type="text" value="<%= inventor["name"] %>"
                       placeholder="Name" />
                <input class="inventors_input inventor_dept" type="text" value="<%= inventor["department"] %>"
                       placeholder="Department" />
              </div>
            <% end %>
            <div class="inventors_input_container">
              <input class="inventors_input inventor_name" type="text" value="" placeholder="Name" />
              <input class="inventors_input inventor_dept" type="text" value="" placeholder="Department" />
            </div>
            <%= hidden_input f, :inventors %>
            <a id="add-more-inventor" href="#">
              <img src="<%= static_path @conn, "/images/icon09.png" %>" />
            </a>
          </div>
        </div>
        <div class="addiplist">
          <span><%= gettext "Department" %></span>
          <%= text_input f, :department, class: "longtext" %>
        </div>
        <div class="addiplist">
          <span><%= gettext "Background" %></span>
          <%= textarea f, :background, class: "longtext" %>
          <p class="ip-form-help"><%= gettext "Max: 2000 characters" %></p>
        </div>
        <div class="addiplist">
          <span><%= gettext "Innovation" %></span>
          <%= textarea f, :innovation, class: "longtext" %>
          <p class="ip-form-help"><%= gettext "Max: 2000 characters" %></p>
        </div>
        <div class="addiplist">
          <span><%= gettext "Application" %></span>
          <%= textarea f, :application, class: "longtext" %>
          <p class="ip-form-help"><%= gettext "Max: 1000 characters" %></p>
        </div>
        <div class="addiplist">
          <span><%= gettext "Advantage" %></span>
          <%= textarea f, :advantage, class: "longtext" %>
          <p class="ip-form-help"><%= gettext "Max: 1000 characters" %></p>
        </div>
        <div class="addiplist">
          <span><%= gettext "State of Development" %></span>
          <label class="radio-inline">
            <%= radio_button f, :state_of_development, "" %>
            <%= gettext "N/A" %>
          </label>
          <label class="radio-inline">
            <%= radio_button f, :state_of_development, "invitro" %>
            <%= gettext "In vitro" %>
          </label>
          <label class="radio-inline">
            <%= radio_button f, :state_of_development, "invivo" %>
            <%= gettext "In vivo" %>
          </label>
          <label class="radio-inline">
            <%= radio_button f, :state_of_development, "preclinical" %>
            <%= gettext "Pre-clinical" %>
          </label>
        </div>
        <div class="addiplist2 Phase">
          <span><%= gettext "Clinical trial" %></span>
          <label class="radio-inline">
            <%= radio_button f, :clinical_trial, "" %>
            <%= gettext "N/A" %>
          </label>
          <label class="radio-inline">
            <%= radio_button f, :clinical_trial, "phase1" %>
            <%= gettext "Phase I" %>
          </label>
          <label class="radio-inline">
            <%= radio_button f, :clinical_trial, "phase2" %>
            <%= gettext "Phase II" %>
          </label>
          <label class="radio-inline">
            <%= radio_button f, :clinical_trial, "phase3" %>
            <%= gettext "Phase III" %>
          </label>
        </div>
        <div class="addiplist">
          <span><%= raw gettext("Patent Status") %></span>
          <div class="fields-group">
            <%= for p_id <- parse_list_from_changeset!(@changeset, :patent_ids) do %>
              <div class="patent_ids_input_container">
                <input class="patent_ids_input" type="text" value="<%= p_id["patent_id"] %>" placeholder="Patent ID" />
              </div>
            <% end %>
            <div class="patent_ids_input_container">
              <input class="patent_ids_input" type="text" value="" placeholder="Patent ID" />
            </div>
            <%= hidden_input f, :patent_ids %>
            <a id="add-more-patent_id" href="#">
              <img src="<%= static_path @conn, "/images/icon09.png" %>" />
            </a>
          </div>
        </div>
        <div class="addiplist">
          <span></span>
          <%= textarea f, :patent_status, class: "longtext", placeholder: "You can enter other information for your patent(s)..." %>
          <p class="ip-form-help"><%= gettext "Max: 1000 characters" %></p>
        </div>
        <div class="addiplist">
          <span><%= gettext "Type of Partnership" %></span>
          <%= hidden_input f, :type_of_partnership %>
          <% partnerships = parse_list_from_changeset!(@changeset, :type_of_partnership) %>
          <label class="checkbox-inline">
            <input type="checkbox" class="partnership_opt" value="codevelopment"
                   <%= if Enum.member?(partnerships, "codevelopment"), do: "checked" %>>
            <%= gettext "Co-development" %>
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" class="partnership_opt" value="techtransfer"
                   <%= if Enum.member?(partnerships, "techtransfer"), do: "checked" %>>
            <%= gettext "Technology transfer" %>
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" class="partnership_opt" value="licenseout"
                   <%= if Enum.member?(partnerships, "licenseout"), do: "checked" %>>
            <%= gettext "License out" %>
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" class="partnership_opt" value="fundraising"
                   <%= if Enum.member?(partnerships, "fundraising"), do: "checked" %>>
            <%= gettext "Fund raising" %>
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" class="partnership_opt" value="other"
                   <%= if get_other_partnership(partnerships), do: "checked" %>>
            <%= gettext "Other" %>
          </label>
          <input id="other_partnership" type="text" value="<%= get_other_partnership(partnerships) %>"
                 class="techinput"/>
        </div>
        <div class="addiplist">
          <span><%= gettext "File Attachment" %></span>
          <%= file_input f, :attachment_url %>
          <%= hidden_input f, :hash_attachment %>
          <span class="required-field">*<%= file_size_limit_note() %></span>
        </div>
        <div class="addiplist"><span><%= gettext "Add Other Blockchain Records" %></span>
          <%= hidden_input f, :tag %>
          <div class="addblock">
            <a id="add-ip-notary" href="#ip-notary-select" data-toggle="modal"><div class="datarecordsadd"><img src="<%= static_path @conn, "/images/icon09.png" %>" /></div></a>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div align="center">
    <a href="#" data-toggle="modal" data-target="#previewModal"><div class="but03"><%= gettext "Preview" %></div></a>
    <a href="#" data-toggle="modal" data-target="#confirmationModal"><div class="but03"><%= gettext "Submit" %></div></a>
  </div>
</div>

<%= render Ipseeds.App.SharedView, "_select_ip_notary.html", assigns %>

<div id="confirmationModal" class="squared-modal modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-center"><strong><%= gettext "Are you going to submit your data now?" %></strong></p>
        <div align="center">
          <button data-dismiss="modal" class="but03 cancel-btn"><%= gettext "Continue to edit" %></button>
          <button class="but03" id="submit-ip-summary"><%= gettext("Submit") %></button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%= render "_add_preview.html", conn: @conn %>
