<div class="w1200 cont">
  <div class="table">
    <div class="tag1">
      <%= link to: app_ip_summary_path(@conn, :index, @locale) do %>
        <span><%= gettext "IP Summary" %></span>
      <% end %>
      <%= link to: app_ip_notary_path(@conn, :index, @locale) do %>
        <span><%= gettext "IP Notary" %></span>
      <% end %>
      <a href="#" class="on"><span><%= gettext "Details" %></span></a>
    </div>
    <div class="details">
      <div class="tag2">
        <a class="on" href="#"><span><%= gettext "IP Summary" %></span></a>
      </div>
      <div class="list navigation">
        <div class="logo"><img src="<%= @ip_summary[:icon_url] %>"></div>
        <ul class="nav nav-pills nav-stacked" role="tablist">
          <li role="presentation" class="active">
            <a href="#info" role="tab" data-toggle="tab" class="listlink"><%= gettext "Information" %></a>
          </li>
          <li role="presentation">
            <a href="#data-records" role="tab" data-toggle="tab" class="listlink">
              <%= gettext "Blockchain Records" %></a>
          </li>
          <%= if Ipseeds.User.is_industry_member?(@current_user) do %>
            <li role="presentation">
              <a href="#rfiq" role="tab" data-toggle="tab" class="listlink"><%= gettext "Request for Information" %></a>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="tab-content">
        <div role="tabpanel" class="active tab-pane layer" id="info">
          <table class="tablestyle2" border="0" cellpadding="0" cellspacing="0" width="870">
            <tbody><tr>
                <td width="20%"><%= gettext "Case ID" %></td>
                <td><%= @ip_summary[:name_short] %></td>
              </tr>
              <tr>
                <td><%= gettext "Date" %></td>
                <td><%= api_timestamp_to_datestring(@ip_summary[:valid_time]) %></td>
              </tr>
              <tr>
                <td><%= gettext "Title" %></td>
                <td><%= @ip_summary[:name] %></td>
              </tr>
              <tr>
                <td><%= gettext "Type" %></td>
                <td><%= parse_category(@ip_summary) %></td>
              </tr>
              <tr>
                <td><%= gettext "Organization" %></td>
                <td><%= Ipseeds.User.get_company(@issuer) %></td>
              </tr>
              <tr>
                <td><%= gettext "Department" %></td>
                <td><%= Ipseeds.User.get_branch(@issuer) %></td>
              </tr>
              <tr>
                <td><%= gettext "Inventor(s)" %></td>
                <td><%= parse_inventor_list @ip_summary %></td>
              </tr>
              <tr>
                <td><%= gettext "Issuer" %></td>
                <td>
                  <%= link "#{Ipseeds.User.get_name(@issuer)} (#{@issuer.username})",
                           to: app_user_path(@conn, :show, @locale, @issuer.username) %>
                  <% application_type = Ipseeds.User.get_user_application_type(@issuer) %>
                  <% membership_class = Ipseeds.MembershipHelpers.membership_class(application_type[:name]) %>
                  <span class="label label-membership label-<%= membership_class %>">
                    <%= application_type[:display_name] %>
                  </span>
                  <%= if @current_user.id != @issuer.id do %> 
                    <%= if @issuer_is_contact? do %> 
                      <span class="add-to-contact" data-toggle="tooltip" data-placement="right"
                        title="<%= gettext "This issuer is already on your contact list!" %>">
                          <i class="fa fa-address-book"></i>
                      </span>
                    <%= else %>
                      <a class="add-to-contact-list-btn" 
                        data-on-profile="true" 
                        data-csrf-token="<%= Plug.CSRFProtection.get_csrf_token() %>" 
                        data-user-contact-path="<%= app_user_contact_path(@conn, :create, @locale) %>" 
                        data-contact-user-id="<%= @issuer.id %>" 
                        data-success-text="<%= gettext "This issuer was added to your contact list successfully!" %>"
                        data-default-failure-text="<%= gettext "An unknown error occured. Please try again." %>">
                          <span class="add-to-contact" data-toggle="tooltip" data-placement="right"
                          title="<%= gettext "Add this issuer to your contact list!" %>">
                            <i class="fa fa-user-plus"></i></span></a>
                    <% end %>
                  <% end %>  
                  <span class="ok"><img src="<%= static_path @conn, "/images/icon07.png" %>"><%= gettext "Verified" %>
                    </span>
                </td>
              </tr>
              <tr>
                <td><%= gettext "Keywords" %></td>
                <td class="ip-summary-keywords"><%= parse_keywords(@ip_summary, @conn) %></td>
              </tr>
            </tbody>
          </table>
          <div>
            <div class="bigpic">
              <img src="<%= @ip_summary[:cover_url] %>">
            </div>
            <div class="listtitle"><%= gettext "Background" %></div>
            <%= parse_text_description(@ip_summary, :background, class: "wrap") %>
            <div class="listtitle"><%= gettext "Innovation" %></div>
            <%= parse_text_description(@ip_summary, :innovation, class: "wrap") %>
            <div class="listtitle"><%= gettext "Application" %></div>
            <%= parse_text_description(@ip_summary, :application, class: "wrap") %>
            <div class="listtitle"><%= gettext "Advantage" %></div>
            <%= parse_text_description(@ip_summary, :advantage, class: "wrap") %>
            <div class="listtitle"><%= gettext "State of Development" %></div>
            <%= parse_state_of_development(@ip_summary) %>
            <div class="listtitle"><%= gettext "Clinical trial" %></div>
            <%= parse_clinical_trial(@ip_summary) %>
            <div class="listtitle"><%= gettext "Patent Status" %></div>
            <table class="tbl_patent"><%= parse_patent_ids_list @ip_summary %></table>
            <p>Other Patent Information: </p>
            <%= parse_text_description(@ip_summary, :patent_status, class: "wrap") %>
            <div class="listtitle"><%= gettext "Type of Partnership" %></div>
            <p><%= parse_partnership(@ip_summary) %></p>
          </div>
          <%= if @ip_summary[:attachment_url] != "" do %>
            <div class="download">
              <span><%= gettext "Reference File" %></span>
              <span><a href="<%= @ip_summary[:attachment_url] %>" target="_blank"><%= parse_attachment_filename(@ip_summary[:attachment_url]) %><img src="<%= static_path @conn, "/images/icon06.png" %>"></a></span>
            </div>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane layer" id="data-records">
          <div class="record-heading"><%= gettext "Primary Records" %></div>
          <table class="tablestyle2 datarecord" border="0" cellpadding="0" cellspacing="0" width="870">
            <tbody>
              <tr>
                <td><%= gettext "Case ID" %></td>
                <td><%= @ip_summary[:name_short] %></td>
              </tr>
              <tr>
                <td><%= gettext "Asset ID" %></td>
                <td><%= @ip_summary[:asset_id] %></td>
              </tr>
              <tr>
                <td><%= gettext "Entry Time" %></td>
                <td><%= api_timestamp_to_datetimestring(@ip_summary[:create_time]) %></td>
              </tr>
            </tbody>
          </table>
          <div class="record-heading"><%= gettext "Affiliated Records" %></div>
          <%= for ip_notary <- @linked_ips do %>
            <table class="tablestyle2 datarecord" border="0" cellpadding="0" cellspacing="0" width="870">
              <tbody>
                <tr>
                  <td><%= gettext "Case ID" %></td>
                  <td><%= ip_notary[:name_short] %></td>
                </tr>
                <tr>
                  <td><%= gettext "Asset ID" %></td>
                  <td><%= ip_notary[:asset_id] %></td>
                </tr>
                <tr>
                  <td><%= gettext "Entry Hash" %></td>
                  <td><%= link ip_notary.tx_id, to: app_explorer_path(@conn, :show, @locale, ip_notary.tx_id) %></td>
                </tr>
                <tr>
                  <td><%= gettext "Entry Time" %></td>
                  <td><%= api_timestamp_to_datetimestring(ip_notary[:create_time]) %></td>
                </tr>
              </tbody>
            </table>
          <% end %>
        </div>
        <%= if Ipseeds.User.is_industry_member?(@current_user) do %>
          <div role="tabpanel" class="tab-pane layer myipp4" id="rfiq">
            <h5><%= gettext "Request for Information / Quotation:" %></h5>
            <div class="myipform">
              <%= if Ipseeds.BrowserHelpers.partially_supported_browser?(@conn) do %>
                <%= render Ipseeds.SharedView, "_partially_supported_browser.html", additional_message: gettext "You are unable to send an encrypted RFIQ with your current browser. Please download one of the following browsers to use this functionality:" %>
              <%= else %>
                <%= if @issuer.id != @current_user.id do %>
                  <div><%= gettext "An encrypted RFIQ message will be sent to the issuer with your details and comments
                  below." %></div>
                  <div><span>Comments</span>
                    <textarea id="rfiq-comments" class="long"></textarea>
                  </div>

                  <div id="sendArea" align="center">
                    <%= link gettext("Send RFIQ"), to: app_message_path(@conn, :create, @locale), method: :post,
                             class: "but03", id: "send-rfiq-btn",
                             data: [success_message: gettext("RFIQ sent successfully.")] %>
                  </div>
                  <%= else %>
                  <p><%= gettext "You cannot send an RFIQ to yourself." %></p>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
