<%= form_tag @action, [class: "signin"] do %>
  <h2><span class="line1"></span><%= gettext "SIGN IN" %><span class="line1"></span></h2>
  <%= text_input :user, :username, placeholder: gettext("Account"), class: "form-control",
    autofocus: true %>
  <%= password_input :user, :password, placeholder: gettext("Password"), class: "form-control" %>
  <%= submit gettext("SUBMIT"), class: "but01" %>
  <div class="line2"></div>
  <div class="forgot">
    <%= link gettext("Forgot your password"), to: user_path(@conn, :forgot_password, @locale) %>
  </div>
  <div>
    <%= raw gettext("Not have an Account yet? Please ") %>
    <%= link(gettext("SIGN UP"), to: user_registration_path(@conn, :new, @locale), class: "but02") %>
  </div>
<% end %>
