<div class="w1200 indexp1">
  <h1><%= gettext "The world's leading open innovation & intellectual property exchange" %></h1>
	<div class="row">
		<div class="col-sm-12">
      <%= render Ipseeds.LayoutView, "_alerts.html", conn: @conn %>
		</div>
	</div>
  <%= if Ipseeds.BrowserHelpers.unsupported_browser?(@conn) do %>
    <%= render Ipseeds.SharedView, "_unsupported_browser.html", additional_message: "Please download one of the following browsers to use this functionality:" %>
  <%= else %>
    <%= if Ipseeds.BrowserHelpers.partially_supported_browser?(@conn) do %>
      <%= render Ipseeds.SharedView, "_partially_supported_browser.html", additional_message: gettext "You can continue to sign in, but BioIPSeeds functionality will be impaired. Please download one of the following browsers for a better experience:" %>
    <% end %>
    <%= render "login_form.html", conn: @conn, locale: @locale,
               action: session_path(@conn, :create, @locale) %>
  <% end %>
</div>
