server {
    listen 80;
    listen 443 ssl;
    server_name _;

    ssl_certificate {{ certs_dir }}/server.crt;
    ssl_certificate_key {{ certs_dir }}/server.key;
    ssl_password_file {{ certs_dir }}/server.pass;
    ssl_session_timeout 5m;
    return 444;
}

server {
    listen 80;
    server_name {{ monitoring_server_name }};
    return 302 https://{{ monitoring_server_name }}$request_uri;
}

server {
    listen 443 ssl;
    server_name {{ monitoring_server_name }};

    ssl_certificate {{ certs_dir }}/server.crt;
    ssl_certificate_key {{ certs_dir }}/server.key;
    ssl_password_file {{ certs_dir }}/server.pass;

    location / {
        auth_basic "prometheus";
        auth_basic_user_file /etc/nginx/htpasswd;
        proxy_pass http://localhost:9090/;
    }

    location /grafana/ {
        proxy_pass http://localhost:3000/;
    }

    location /collectd-post {
        proxy_pass http://localhost:9103/collectd-post;
    }
}
