[Unit]
Description=The collectd exporter allows acceptance of collectd data from collectd nodes.

[Service]
ExecStart={{ collectd_exporter_bin }}
PIDFile=/var/run/prometheus/collectd_exporter.pid
StartLimitInterval=2s
StartLimitBurst=1
User=prometheus
Restart=always

[Install]
WantedBy=default.target