[Unit]
Description=The blackbox exporter allows blackbox probing of endpoints over HTTP, HTTPS, TCP and ICMP.

[Service]
ExecStart={{ blackbox_exporter_bin }} \
-config.file "/etc/prometheus/blackbox_exporter.yml"
PIDFile=/var/run/prometheus/blackbox_exporter.pid
StartLimitInterval=2s
StartLimitBurst=1
User=prometheus
Restart=always

[Install]
WantedBy=default.target