LoadPlugin write_http
<Plugin write_http>
  <Node "{{ collectd_write_http_node_name }}">
    URL "{{ collectd_write_http_url }}"
    Format "{{ collectd_write_http_format }}"
    StoreRates false
  </Node>
</Plugin>
