<h1><%= gettext "Admin Dashboard" %></h1>
<ul>
  <%= if Ipseeds.AdminUser.is_superadmin? @current_admin_user do %>
    <li><%= link gettext("Admin Users"),
                 to: admin_admin_user_path(@conn, :index, @locale) %></li>
    <li><%= link gettext("User Registrations"),
                  to: admin_user_registration_path(@conn, :index, @locale) %></li>
  <% end %>
</ul>