[Unit]
Description={{ app_name}}
After=local-fs.target network.target

[Service]
ExecStart={{ bin_dir }}/start-app.sh
WorkingDirectory={{ site_dir }}
User={{ app_user }}
Group={{ app_group }}
Restart=always

[Install]
WantedBy=multi-user.target