<div class="modal fade" id="ip-notary-select" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= gettext "Select IP Notary" %></h4>
      </div>
      <div class="modal-body">
        <table id="ip-notary-list" width="100%" border="0" cellspacing="0" cellpadding="0" class="tablestyle1" data-source="<%= app_ip_summary_path(@conn, :ip_notaries_list, @locale) %>">
          <tr>
            <td width="22%"><%= gettext "Case ID" %></td>
            <td width="31%"><%= gettext "Title" %></td>
            <td width="15%"><%= gettext "Entry Time" %></td>
            <td width="15%"><%= gettext "Action" %></td>
          </tr>
        </table>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script id="table-row-template" type="x-tmpl-mustache">
  {{#ip_notaries}}
  <tr data-hash-attachment="{{hash_attachment}}">
    <td class="name_short" data-asset-id="{{asset_id}}">{{name_short}}</td>
    <td class="name">{{name}}</td>
    <td class="create_time">{{#formatEntryTime}}{{create_time}}{{/formatEntryTime}}</td>
    <td><button class="but04 select-ip">Select</button></td>
  </tr>
  {{/ip_notaries}}
</script>

<script id="datarecord-template" type="x-tmpl-mustache">
  <div class='block1 datarecords' data-asset-id='{{asset_id_full}}'
    data-asset-hash-attachment='{{hash_attachment}}'>

    <a class='remove-ip-notary' href='#'>
      <span aria-hidden='true'>&times;</span>
    </a>
    <p>{{name_short}}</p>
    {{name}}
  </div>
</script>