<div class="tag2">
  <%= link_unless_current @conn, to: app_ip_summary_path(@conn, :new, @locale) do %>
    <span><%= gettext "IP Summary" %></span>
  <% end %>
  <%= link_unless_current @conn, to: app_ip_notary_path(@conn, :new, @locale) do %>
    <span><%= gettext "IP Notary" %></span>
  <% end %>
</div>
