<div class="tag1">
  <%= link_unless_current @conn, to: app_ip_summary_path(@conn, :index, @locale), active_class: "on" do %>
    <span><%= gettext "IP Summary" %></span>
  <% end %>
  <%= link_unless_current @conn, to: app_ip_notary_path(@conn, :index, @locale), active_class: "on" do %>
    <span><%= gettext "IP Notary" %></span>
  <% end %>
  <%= link_unless_current @conn, to: @add_path, active_class: "on" do %>
    <span><%= gettext "+Add" %></span>
  <% end %>
</div>
