<%= form_for @conn, @action, [as: :session], fn f -> %>

<div class="form-group">
    <%= label f, :username, class: "control-label" %>
    <%= text_input f, :username, placeholder: "Username", class: "form-control", autofocus: true %>
    <%= error_tag f, :username %>
</div>

<div class="form-group">
    <%= label f, :password, class: "control-label" %>
    <%= password_input f, :password, placeholder: "Password", class: "form-control" %>
    <%= error_tag f, :password %>
</div>

<div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
</div>
<% end %>
