<h2><%= gettext "Login" %></h2>

<%= render "form.html", conn: @conn, action: public_admin_session_path(@conn, :create, @locale) %>

<p><%= link gettext("Forgot Password"), to: public_admin_password_reset_path(@conn, :new, @locale) %></p>
