<div class="w1200 cont">
  <%= if Ipseeds.BrowserHelpers.partially_supported_browser?(@conn) do %>
    <%= render Ipseeds.SharedView, "_partially_supported_browser.html", additional_message: gettext "You will be unable to send or decrypt messages in your current browser. Please download one of the following browsers to use this functionality:" %>
  <% end %>
  <div class="table">
    <div class="tag1">
      <%= link to: app_message_path(@conn, :index, @locale), class: "listlink on" do %>
        <span><%= gettext "Messages" %></span>
      <% end %>
      <%= link to: app_message_path(@conn, :new, @locale), class: "listlink" do %>
        <span><%= gettext "+New Message" %></span>
      <% end %>
    </div>
    <div class="layer contact">
      <table width="1200" border="0" cellspacing="0" cellpadding="0" class="tablestyle1 contact">
        <tr>
          <th></th>
          <th><%= gettext "User" %></th>
          <th><%= gettext "Subject" %></th>
          <th><%= gettext "Latest Message At" %></th>
          <th class="actions"><%= gettext "Actions" %></th>
        </tr>
        <%= for c <- @conversations do %>
          <% conversation_path =
                 app_message_path(@conn, :show, @locale, c.user_username, c.subject) %>
          <tr class="<%= if c.unread_count > 0, do: "unread" %>">
            <td style="text-align: center">
              <%= if c.unread_count > 0 do %>
                <%= link to: conversation_path do %>
                  <i class="fa fa-envelope-o"></i>
                  <span><%= c.unread_count %></span>
                <% end %>
              <% end %>
            </td>
            <td><%= link c.user_username, to: conversation_path %></td>
            <td><%= link c.subject, to: conversation_path %></td>
            <td><%= c.last_message_at %></td>
            <td class="actions"><%= link gettext("View"), to: conversation_path, class: "but03 but03-sm" %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>