<div class="w1200 cont">
  <%= if Ipseeds.BrowserHelpers.partially_supported_browser?(@conn) do %>
    <%= render Ipseeds.SharedView, "_partially_supported_browser.html", additional_message: gettext "You will be unable to send or decrypt messages in your current browser. Please download one of the following browsers to use this functionality:" %>
  <% end %>
  <div class="table">
    <div class="tag1">
      <%= link to: app_message_path(@conn, :index, @locale), class: "listlink" do %>
        <span><%= gettext "Messages" %></span>
      <% end %>
      <%= link to: app_message_path(@conn, :new, @locale), class: "listlink on" do %>
        <span><%= gettext "+New Message" %></span>
      <% end %>
    </div>
    <div class="layer contact">
      <%= form_for @changeset, app_message_path(@conn, :create, @locale),
                   [id: "message_form",
                    data: [no_recipient_error_msg: gettext("No recipient selected."),
                           no_subject_error_msg: gettext("Message has no subject."),
                           empty_message_error_msg: gettext("Message is empty.")]], fn f -> %>
        <%= if @changeset.action do %>
          <div class="alert alert-danger">
            <p>Oops, something went wrong! Please check the errors below.</p>
          </div>
        <% end %>

        <%= tag :input, type: :hidden, id: "sender_public_key", value: @current_user_public_key %>
        <div class="mbox_c text-center new-message-container">
          <div class="form-group">
            <%= content_tag :select, id: "message_recipient_user_id", name: "message[recipient_user_id]",
                            class: "form-control" do %>
              <%= content_tag :option, gettext("Please choose a contact"), value: "",
                              disabled: true, selected: true %>
              <%= for contact <- @contacts do %>
                <%= content_tag :option, "#{contact[:name]} (#{contact[:username]})", value: contact[:id],
                                data: [public_key: contact[:public_key]] %>
              <% end %>
            <% end %>
          </div>

          <div class="form-group text-center">
            <%= text_input f, :subject, class: "form-control", placeholder: gettext("Subject") %>
            <span class="help-block text-left"><%= gettext "Please note: the subject is not encrypted." %></span>
            <%= error_tag f, :subject %>
          </div>

          <div class="form-group">
            <%= textarea f, :content, class: "longtext2", placeholder: gettext("Write a message...") %>
            <%= error_tag f, :content %>
          </div>

          <%= submit "Submit", class: "but03" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
