<div class="w1200 cont">
  <h2><%= gettext "Subject:" %> <%= @subject %></h2>
  <div class="table">
    <div class="details">
      <div class="list">
        <div class="mboxp1">
          <img src="<%= static_path(@conn, "/images/ipseeds.png") %>" style="width:200px; border:0;">
          <h3><%= @other_user_name %></h3>
        </div>
      </div>
      <div class="mboxp2">
        <div class="line3" id="message-head" style="margin: 0;"></div>
        <%= for m <- @messages do %>
          <div class="mbox_a">
            <h4><%= @other_user_name %>
              <span><%= format_datetime m.inserted_at %></span></h4>
            <pre id="message-<%= m.id %>" class="mbox"><%= m.recipient_encrypted_content %></pre>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>