<div class="w1200 cont">
  <%= if Ipseeds.BrowserHelpers.partially_supported_browser?(@conn) do %>
    <%= render Ipseeds.SharedView, "_partially_supported_browser.html", additional_message: gettext "You will be unable to send or decrypt messages in your current browser. Please download one of the following browsers to use this functionality:" %>
  <% end %>
  <h2><%= gettext "Subject:" %> <%= @subject %></h2>
  <div class="table">
    <div class="details">
      <div class="list">
        <div class="mboxp1">
          <img src="<%= Ipseeds.App.UserView.user_profile_photo(@other_user) %>" width="200px">
          <h3><%= @other_user_name %></h3>
          <p><%= link @other_user.username,
                      to: app_user_path(@conn, :show, @locale, @other_user.username) %></p>
        </div>
      </div>
      <div class="mboxp2">
        <div id="demo-sent-message" class="mbox_b hidden">
          <h4><%= @current_user_name %>
            <span><%= gettext "A few moments ago" %></span></h4>
          <pre class="mbox re"></pre>
        </div>
        <div class="mbox_c text-center">
          <textarea id="message-content" placeholder="Write a reply..." class="longtext2"></textarea>
          <%= link gettext("Send"), to: app_message_path(@conn, :create, @locale), method: :post,
                   class: "but03", id: "send-message-btn" %>
        </div>
        <div class="line3" id="message-head" style="margin: 0;"></div>
        <%= for m <- @messages do %>
          <div class="<%= message_box_class(m, @current_user) %>">
            <%= if m.sender_user_id == @other_user.id do %>
              <h4><%= @other_user_name %>
                <span><%= format_datetime m.inserted_at %></span></h4>
              <pre id="message-<%= m.id %>" class="mbox encrypted"><%= gettext "-- ENCRYPTED --" %></pre>
            <%= else %>
              <h4><%= @current_user_name %>
                <span><%= format_datetime m.inserted_at %></span></h4>
              <pre id="message-<%= m.id %>" class="mbox re encrypted"><%= gettext "-- ENCRYPTED --" %></pre>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div id="decrypt-messages-modal" class="squared-modal modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <p><%= gettext "Please enter your passphrase to decrypt messages:" %></p>
        <div class="form-group">
        <input type="text" class="form-control" id="passphrase"
               placeholder="<%= gettext "Passphrase..." %>"
               data-invalid-passphrase-error-message="<%= gettext "Invalid passphrase, please try again." %>"
               data-passphrase-mismatch-error-message="<%= gettext "Incorrect passphrase, please try again." %>">
        <span id="passphrase-error" class="help-block hidden danger"></span>
      </div>
      <button id="decrypt-messages-btn" class="btn btn-default">
        <%= gettext "Decrypt Messages" %>
      </button>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->