.application-type {
  label {
    font-weight: 700;
  }
}

.terms-of-service label a {
  &, &:link, &:active, &:hover, &:visited, &:focus {
    text-decoration: underline;
    color: blue;
    word-break: keep-all;
    margin: 0 2px;
  }
}

#signup-form {
  .form-body {
    h6 {
      display: inline-block;
    }
    input[readonly] {
      background-color: #eee;
      opacity: 1;
    }
    .form-inline {
      .checkbox {
        vertical-align: top;
        margin: 9px 0 0 25px;
        input {
          margin: 0;
        }
      }
    }
  }
}

.registration-note {
  margin-bottom: 15px;
  font-size: 14px;
  color: #999;
}
