[server]
root_url = %(protocol)s://%(domain)s:%(http_port)s/grafana/

[security]
# default admin user, created on startup
admin_user = {{ grafana_admin_user }}

# default admin password, can be changed before first start of grafana, or in profile settings
admin_password = {{ grafana_admin_password }}

# used for signing
secret_key = {{ grafana_secret_key }}

[dashboards.json]
enabled = true
path = /var/lib/grafana/dashboards