#!/bin/bash

# No spoofing.
if [ -e /proc/sys/net/ipv4/conf/all/rp_filter ]
then
for filter in /proc/sys/net/ipv4/conf/*/rp_filter
do
echo 1 > $filter
done
fi

# Remove all rules and chains.
iptables -F
iptables -X

# Accept traffic from loopback interface (localhost).
iptables -A INPUT -i lo -j ACCEPT

# Forwarded ports.
{# Add a rule for each forwarded port #}
{% for forwarded_port in firewall_forwarded_tcp_ports %}
iptables -t nat -I PREROUTING -p tcp --dport {{ forwarded_port.src }} -j REDIRECT --to-port {{ forwarded_port.dest }}
iptables -t nat -I OUTPUT -p tcp -o lo --dport {{ forwarded_port.src }} -j REDIRECT --to-port {{ forwarded_port.dest }}
{% endfor %}
{% for forwarded_port in firewall_forwarded_udp_ports %}
iptables -t nat -I PREROUTING -p udp --dport {{ forwarded_port.src }} -j REDIRECT --to-port {{ forwarded_port.dest }}
iptables -t nat -I OUTPUT -p udp -o lo --dport {{ forwarded_port.src }} -j REDIRECT --to-port {{ forwarded_port.dest }}
{% endfor %}

# Open ports.
{# Add a rule for each open port #}
iptables -A INPUT -p tcp -m tcp --dport 22 -j ACCEPT
{% for port in firewall_allowed_tcp_ports %}
{% if port.address is defined %}
iptables -A INPUT -p tcp -m tcp -s {{ port.address }} --dport {{ port.port }} -j ACCEPT
{% else %}
iptables -A INPUT -p tcp -m tcp --dport {{ port.port }} -j ACCEPT
{% endif %}

{% endfor %}

{% for port in firewall_allowed_udp_ports %}
{% if port.address %}
iptables -A INPUT -p udp -m udp -s {{ port.address }} --dport {{ port.port }} -j ACCEPT
{% else %}
iptables -A INPUT -p udp -m udp --dport {{ port.port }} -j ACCEPT
{% endif %}
{% endfor %}

{% if firewall_allow_ping_requests %}
# Accept icmp ping requests.
iptables -A INPUT -p icmp -j ACCEPT
{% endif %}

{% if firewall_allow_ntp_traffic %}
# Allow NTP traffic for time synchronization.
iptables -A OUTPUT -p udp --dport 123 -j ACCEPT
iptables -A INPUT -p udp --sport 123 -j ACCEPT
{% endif %}

# Allow established connections:
iptables -A INPUT -m state --state ESTABLISHED,RELATED -j ACCEPT

{% if firewall_log_dropped_packets %}
# Log other incoming requests (all of which are dropped) at 15/minute max.
iptables -A INPUT -m limit --limit 15/minute -j LOG --log-level 7 --log-prefix "Dropped by firewall: "
{% endif %}

# Drop all other traffic.
iptables -A INPUT -j DROP
