<div class="addiplist4 nda">
<table width="1000" border="0" cellspacing="0" cellpadding="0" class="sign">
  <tr>
    <td width="20%"><%= singner_chacater_field_name(:left, @agreement.type) %></td>
    <td width="30%">
      <span class="sender-name"><%= "#{@nda.sender_name} [#{@nda.sender_nationality}]" %></span>
    </td>
    <td width="20%"><%= singner_chacater_field_name(:right, @agreement.type) %></td>
    <td width="30%"><span class="recipient-name">
      <%= "#{@nda.recipient_name} [#{@nda.recipient_nationality}]" %></span></td>
  </tr>
  <tr>
    <td>*Signed</td>
    <td>
      <img class="signature-preview" width="200" src="<%= "#{@sender_signature_url}" %>" 
        alt="cover images"/>
    </td>
    <td>Signed</td>
    <td><span class="nda-pending">Pending</span></td>
  </tr>
  <tr>
    <td>*Name</td>
    <td><span class="sender-name"><%= "#{@nda.sender_signer_name}" %></span></td>
    <td>Name</td>
    <td><span class="nda-pending">Pending</span></td>
  </tr>
  <tr>
    <td>*Title</td>
    <td><span class="sender-name"><%= "#{@nda.sender_signer_title}" %></span></td>
    <td>Title</td>
    <td><span class="nda-pending">Pending</span></td>
  </tr>
</table>
<div id="confirmationModal" class="squared-modal modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-center"><strong><%= "**Attention please: We will [Cancel] the agreement right after you click following [Yes] button! When the agreement is canclled by you, the recipient can't decline or accept it." %><br/><%= gettext "Are you sure to cancel it?" %></strong></p>
        <div align="center">
          <button data-dismiss="modal" class="but03 cancel-btn"><%= gettext "No, keep it pending." %></button>
          <button id="nda-cancel-submit" class="but03"><%= gettext("Yes, cancel it.") %></button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
<%= form_for @conn, app_agreeable_contract_path(@conn, :cancel, @locale, @asset_id),
      [multipart: true, id: "cancel-agreeable-contract-form", name: "cancel-agreeable-contract-form", 
       method: "patch"], fn _ -> %>        
  <div class="function-container text-center">
    <%= link gettext("Back to Contract List"), to: app_contract_path(@conn, :index, @locale), class: "but03" %>
    <div class="but03 btn-danger"><%= gettext("Print it") %></div>
    <div data-toggle="modal" data-target="#confirmationModal" class="but03 btn-danger">
      <%= gettext("Cancel it") %></div>
    <p class="text-info">* <%= gettext("The contract is currently pending. If the recipient has not yet accepted or declined the contract, you can cancel it by clicking the [Cancel it] button.") %></p>
  </div>
<% end %>

