<%= form_for @changeset, app_agreeable_contract_path(@conn, :update, @locale, @asset_id),
      [multipart: true, id: "accept-agreeable-contract-form", method: "patch"], fn f -> %>
<div class="addiplist4 nda">
<table width="1000" border="0" cellspacing="0" cellpadding="0" class="sign">
  <tr>
    <td width="20%"><%= singner_chacater_field_name(:left, @agreement.type) %></td>
    <td width="30%">
      <span class="sender-name"><%= "#{@nda.sender_name} [#{@nda.sender_nationality}]" %></span>
    </td>
    <td width="20%"><%= singner_chacater_field_name(:right, @agreement.type) %></td>
    <td width="30%"><span class="recipient-name">
      <%= "#{@nda.recipient_name} [#{@nda.recipient_nationality}]" %></span></td>
  </tr>
  <tr>
    <td>*Signed</td>
    <td>
      <img class="signature-preview" width="200" src="<%= "#{@sender_signature_url}" %>" 
        alt="cover images"/>
      
    </td>
    <td>Signed</td>
    <td><%= file_input f, :recipient_signature_url, class: "hidden-input" %>
      <%= label f, :recipient_signature_url, class: "but06" do %>
        <%= gettext "Upload" %>
      <% end %></td>
  </tr>
  <tr>
    <td>*Name</td>
    <td><span class="sender-name"><%= "#{@nda.sender_signer_name}" %></span></td>
    <td>Name</td>
    <td><%= text_input f, :recipient_signer_name, 
      placeholder: "name of the signer", 
      class: "input-signer-name" %></td>
  </tr>
  <tr>
    <td>*Title</td>
    <td><span class="sender-name"><%= "#{@nda.sender_signer_title}" %></span></td>
    <td>Title</td>
    <td><%= text_input f, :recipient_signer_title, 
      placeholder: "title of the signer", 
      class: "input-signer-title" %></td>
  </tr>
</table>
<% end %> 
<div id="confirmationModal-decline" class="squared-modal modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-center"><strong><%= gettext "**Attention please: We will [Decline] the agreement right after you click following [Yes] button! When the agreement is declined, the sender will receive a notification mail about the changed status." %><br/><%= gettext "Are you sure to [decline] the agreement?" %></strong></p>
        <div align="center">
          <button data-dismiss="modal" class="but03 cancel-btn"><%= gettext "No, keep it pending." %></button>
          <button id="nda-decline-submit" class="but03"><%= gettext("Yes, decline it now.") %></button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div id="confirmationModal-accept" class="squared-modal modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <p class="text-center"><strong><%= gettext "**Attention please: We will changed the status of the agreement to [Accepted] right after you click following [Yes] button! When this NDA is accepted by you, the sender will receive a notification mail about the changed status." %><br/><%= gettext "Are you sure to [accept] the agreement?" %></strong></p>
        <div align="center">
          <button data-dismiss="modal" class="but03 cancel-btn"><%= gettext "No, keep it pending." %></button>
          <button id="nda-accept-submit" class="but03"><%= gettext("Yes, accept it now.") %></button>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>

        
<div class="function-container text-center">
<%= form_for @conn, app_agreeable_contract_path(@conn, :decline, @locale, @asset_id),
      [multipart: true, id: "decline-agreeable-contract-form", as: "decline-agreeable-contract-form", 
       method: "patch"], fn _ -> %><% end %>
  <p class="text-info">* <%= gettext("The agreement is pending to wait your accepting or declining now. You can use following [Decline it] or [Accept it] buttons to decline or accept it.") %></p>
  <a href="javascript: window.history.back();" class="but03"><%= gettext("Back") %></a>
  <div data-toggle="modal" data-target="#confirmationModal-decline" class="but03 btn-danger">
    <%= gettext("Decline it") %></div>
  <div data-toggle="modal" data-target="#confirmationModal-accept" class="but03">
    <%= gettext("Accept") %></div>
</div>