<div class="addiplist3 nda nda-plaintext-tab mutual-nda">
  <p>
    THIS AGREEMENT (the “Agreement”) is entered into  
    <%= text_input @f, :"valid_time", placeholder: "date", 
      class: "input-valid-date", 
      value: default_valid_time(), 
      disabled: "",
      "data-provide": "datepicker",
      "data-date-format": "yyyy-mm-dd", 
      "data-date-autoclose": true,
      "data-date-start-view": "years" %>
    by and between
    <%= text_input @f, :sender_name, 
      placeholder: "name of individual/judicial person [registered in country name]", 
      class: "input-sender-name", 
      value: "#{@sender.name} [#{@sender.nationality}]", 
      disabled: "" %> 
    , with address at 
    <%= text_input @f, :sender_address, 
      placeholder: "address of individual/judicial person", 
      class: "input-sender-address", 
      value: @sender.address, 
      disabled: "" %>
     (the “First Party”)<br/>and 
    <%= text_input @f, :"recipient_name", 
      placeholder: "name of individual/judicial person [registered in country name]", 
      class: "input-recipient-name", disabled: "" %>
    with address at 
    <%= text_input @f, :recipient_address, 
      placeholder: "address of individual/judicial person", 
      class: "input-recipient-address", disabled: "" %>
      (the “Second Party”). The First Party and Second Party may be collectively referred to as the “Parties” or individually as a “Party”.
  </p> 

  <p>WHEREAS, the Parties mutually desire to enter frank and open discussions with respect to 
    <%= text_input @f, :mutual_input_apambbr, placeholder: "a potential and mutually beneficial 
      business relationship for the development of new drugs/other", 
      class: "input-apambbr" %> (the “Purpose”); </p>

  <p>WHEREAS, the Parties may exchange through correspondence and during discussions Confidential Information (as defined below) and materials;</p>

  <p>WHEREAS, the Parties, for their mutual benefit and in contemplation of the Purpose, may exchange Confidential Information during the term of their relationship; and</p>

  <p>WHEREAS, the Parties wish to define their respective rights and obligations with respect to such Confidential Information.</p>

  <p>NOW, THEREFORE, in consideration of the mutual undertakings herein, intending to be legally bound, the Parties agree as follows:</p>

  <ol>

    <li>The term “Confidential Information” means information which is of a non-public, proprietary or confidential nature to the disclosing Party and shall include all material, non-public information, written or oral, disclosed, directly or indirectly, through any means of communication or observation by the disclosing Party or any of its affiliates or representatives to or for the benefit of the receiving Party.</li>

    <li>Confidentiality.
      <ol type="a">
        <li>Use. Both Parties agree not to use the Confidential Information in any way, or to manufacture or test any product embodying Confidential Information, except for the Purpose.</li>
        <li>Nondisclosure and No Use Obligations. The receiving Party will maintain in confidence and will not disclose or disseminate any Confidential Information belonging to the disclosing Party. The receiving Party agrees that it shall treat all of disclosing Party’s Confidential Information with at least the same degree of care as the receiving Party accords its own confidential information. The receiving Party further represents that it will use its best efforts to prevent and protect the Confidential Information. If the receiving Party is not an individual, the receiving Party agrees that the receiving Party shall disclose Confidential Information only to those of its employees who need to know such information, and shall cause such employees to hold all Confidential Information of the disclosing Party in strict confidence.</li>
        <li>The receiving Party agrees to take all steps reasonably necessary to protect the secrecy of the Confidential Information, and to prevent the Confidential Information from falling into the public domain or into the possession of unauthorized persons.</li>
        <li>The receiving Party may, however, disclose Confidential Information in accordance with judicial or other governmental order, provided that the receiving Party gives the disclosing Party reasonable notice prior to such disclosure and shall comply with any applicable protective order or equivalent.
        </li>
        <li>Neither this Agreement nor the supply of any information grants the receiving Party any license, interest or right in respect of any intellectual property rights of the disclosing Party.</li>
      </ol>
    </li>

    <li>Limits on Confidential Information.
      <ol type="a">
        <li>Confidential Information shall not be deemed proprietary and the receiving Party shall have no obligation with respect to such information where the information:
          <ol type="i">
            <li>is or subsequently becomes publicly available without the receiving Party’s breach of any obligation owed to the disclosing Party;</li>
            <li>became known to the receiving Party prior to the disclosing Party’s disclosure of such information to the receiving Party;</li>
            <li>became known to the receiving Party from a source other than the disclosing Party other than by the breach of an obligation of confidentiality owed to the disclosing Party;</li>
            <li>is independently developed by the receiving Party as substantiated by record, documentation or other evidence to be provided to the disclosing Party upon its request; or </li>
            <li>is any information which is already known to the receiving Party and which was not subject to any obligation of confidence before it was disclosed to the receiving Party by the disclosing Party.</li>
          </ol>
        </li>
        <li>Notwithstanding the preceding, Confidential Information shall not be deemed to be in the public domain merely because any part of the said information is embodied in general disclosures or because individual features, components or combinations thereof are now or thereafter become known to the public. </li>
      </ol>
    </li>

    <li>Ownership of Confidential Information. The receiving Party agrees that all Confidential Information shall remain the property of the disclosing Party, and that the disclosing Party may use such Confidential Information for any purposes without obligation to the receiving Party. Nothing contained herein shall be construed as granting or implying any transfer of rights to the receiving Party in the Confidential Information, or any patents or other intellectual property protecting or relating to the Confidential Information.</li>

    <li>Term and Termination.
      <ol type="a">
        <li>This Agreement shall terminate as to the exchange of Confidential Information <%= number_input @f, :mutual_input_yr_01, placeholder: "how many", class: "input-num", value: 5 %> years after the effective date hereof.</li>
        <li>Both Parties may terminate the exchange of Confidential Information under this Agreement at any time by providing <%= number_input @f, :mutual_input_days, placeholder: "how many", class: "input-num", value: 30 %> days written notice to the other Party specifically referencing this Agreement.</li>
        <li>Notwithstanding any termination, the obligations of each Party to maintain the confidentiality of the Confidential Information it has received under this Nondisclosure Agreement shall continue for a period of <%= number_input @f, :mutual_input_yr_02, placeholder: "how many", class: "input-num", value: 5 %> years after any termination.</li>
        <li>Upon termination of any relationship between the Parties, the receiving Party will promptly deliver to the disclosing Party, without retaining any copies, all documents and other materials furnished to the receiving Party by the disclosing Party.</li>
      </ol>
    </li>

    <li>Survival of Rights and Obligations.
      <ol type="a">
        <li>This Agreement shall govern all communications between the Parties, and be binding upon, inure to the benefit of, and be enforceable by both Parties, its successors, and assigns.</li>
        <li>The receiving Party understands that its obligations under Section 2 ("Confidentiality") shall survive the termination of any other relationship between the Parties.</li>
        <li>This Agreement may not be assigned by, delegated or transferred without the written approval of the other Party.</li>
      </ol>
    </li>

    <li>Governing Law. This Agreement is governed by, and is to be construed in accordance with, the law of 
      <%= select @f, :mutual_nationality, countries_list(), [prompt: gettext("-- Nationality --")] %>.
      </li>

    <li>Remedies for Breach. Each Party understands and acknowledges that the Confidential Information has been developed or obtained by the other Party by the investment of significant time, effort and expenses. Each Party understands and agrees that in the event of a breach of its obligations hereunder, monetary damages may not be a sufficient remedy and the disclosing Party may seek and obtain a permanent injunction in order to prevent or restrain any such breach by the breaching Party and any and all person acting directly and indirectly with the breaching Party. None of the remedies set forth above shall in any way limit either Party’s remedies available at law or in equity for such breach.</li>

    <li>In the event of any suit, action or proceeding commenced by either of the Parties in any court of competent jurisdiction to enforce any term or provision of this Agreement after default by a Party hereto, the prevailing Party in such suit shall be entitled to receive from the other Party, in addition to any other relief granted, reasonable attorney’s fees and costs.</li>

    <li>Entire Agreement. This Agreement constitutes the entire agreement with respect to the Confidential Information disclosed herein and supersedes all prior or contemporaneous oral or written agreements concerning such Confidential Information. This Agreement shall not be modified except by a written agreement dated subsequent to the date of this Agreement and signed by both Parties.</li>

    <li>Severability. If any provision of this Agreement shall be held by a court of competent jurisdiction to be illegal. Invalid or unenforceable, the remaining provision shall remain in full force and effect.
    </li>

    <li>Each of the Parties warrants and represents that it has carefully read and understood this Agreement and each acknowledges receipt of a copy thereof.</li>

  </ol>
  <p>IN WITNESS WHEREOF, the Parties have executed this Agreement effective as of the date first written above.</p>
</div>