<div class="addiplist3 nda nda-plaintext-tab unilateral-nda nda-edit">
  <p>
    THIS AGREEMENT (the “Agreement”) is entered into this 
    <span class="static-var-data"><%= "#{@nda.show_date}" %></span>
    by and between
    <span class="static-var-data"><%= "#{@nda.sender_name} [#{@nda.sender_nationality}]" %></span>
    , with address at 
    <span class="static-var-data"><%= "#{@nda.sender_address}" %></span>
     (the “Discloser”)<br/>and 
    <span class="static-var-data"><%= "#{@nda.recipient_name} [#{@nda.recipient_nationality}]" %></span>
    with address at 
    <span class="static-var-data"><%= "#{@nda.recipient_address}" %></span>
      (the “Recipient”).
  </p> 

  <p>WHEREAS the Discloser possesses certain ideas and information relating to 
  <span class="static-var-data"><%= "#{@nda.unilateral_input_pnddo}" %></span> that is confidential and proprietary to the Discloser and shall include all material, non-public information, written or oral, disclosed, directly or indirectly, through any means of communication or observation by the Discloser or any of its affiliates or representatives to or for the benefit of the Recipient (“Confidential Information”); </p>

  <p>WHEREAS the Recipient is willing to receive disclosure of the Confidential Information pursuant to the terms of this Agreement for the purpose of 
  <span class="static-var-data"><%= "#{@nda.unilateral_input_ndd}" %></span> (the “Purpose”). </p>

  <p>NOW, THEREFORE, in consideration of the mutual undertakings herein, intending to be legally bound, the Discloser and the Recipient agree as follows:</p>
  <ol>
    <li>
    Disclosure. Discloser agrees to disclose, and Recipient agrees to 
      receive the Confidential Information.</li>
    <li>
      Confidentiality.
      <ol type="a">
        <li>
          Use. Recipient agrees not to use the Confidential Information in any way, 
          or to manufacture or test any product embodying Confidential Information, 
          except for the Purpose.
        </li>
        <li>
          Nondisclosure and No Use Obligations. 
          Recipient will maintain in confidence and 
          will not disclose or disseminate any Confidential Information belonging to the Discloser. 
          Recipient agrees that it shall treat all of Discloser’s Confidential Information 
          with at least the same degree of care as Recipient accords its own confidential information. 
          Recipient further represents that it will use its best efforts to prevent and protect the 
          Confidential Information. If Recipient is not an individual, 
          Recipient agrees that Recipient shall disclose Confidential Information only to those of 
          its employees who need to know such information, and shall cause such employees 
          to hold all Confidential Information of the Discloser in strict confidence.
        </li>
        <li>
          Recipient agrees to take all steps reasonably necessary to protect the secrecy of 
          the Confidential Information, and to prevent the Confidential Information 
          from falling into the public domain or into the possession of unauthorized persons.
        </li>
        <li>
          Recipient may, however, disclose Confidential Information in accordance with judicial or 
          other governmental order, provided that the Recipient gives the Discloser reasonable notice 
          prior to such disclosure and shall comply with any applicable protective order or equivalent.
        </li>
        <li>
          Neither this Agreement nor the supply of any information grants the Recipient any license, 
          interest or right in respect of any intellectual property rights of the Discloser.
        </li>
      </ol>
    </li>
    <li>
      Limits on Confidential Information.
      <ol type="a">
        <li>
          Confidential Information shall not be deemed proprietary and the Recipient shall have no obligation with respect to such information where the information:
          <ol type="i">
            <li>is or subsequently becomes publicly available without Recipient’s breach of any obligation owed to the Discloser;</li>
            <li>became known to the Recipient prior to Discloser’s disclosure of such information to Recipient;</li>
            <li>became known to the Recipient from a source other than the Discloser other than by the breach of an obligation of confidentiality owed to the Discloser; </li>
            <li>is independently developed by Recipient as substantiated by record, documentation or other evidence to be provided to the Discloser upon its request; or </li>
            <li>is any information which is already known to the Recipient and which was not subject to any obligation of confidence before it was disclosed to the Recipient by the Discloser.</li>
          </ol>
        </li>
        <li>
          Notwithstanding the preceding, Confidential Information shall not be deemed to be in the public domain merely because any part of the said information is embodied in general disclosures or because individual features, components or combinations thereof are now or thereafter become known to the public.
        </li>
      </ol>
    </li>
    <li>Ownership of Confidential Information. Recipient agrees that all Confidential Information shall remain the property of Discloser, and that Discloser may use such Confidential Information for any purposes without obligation to Recipient. Nothing contained herein shall be construed as granting or implying any transfer of rights to Recipient in the Confidential Information, or any patents or other intellectual property protecting or relating to the Confidential Information.</li>
    <li>Term and Termination.
      <ol type="a">
        <li>This Agreement shall terminate as to the exchange of Confidential Information 
        <span class="static-var-data"><%= "#{@nda.unilateral_input_yr_01}" %></span> years after the effective date hereof.</li>
        <li>The Recipient and the Discloser may terminate the exchange of Confidential Information under this Agreement at any time by providing <span class="static-var-data"><%= "#{@nda.unilateral_input_days}" %></span> 
        days written notice to the other party specifically referencing this Agreement.</li>
        <li>Notwithstanding any termination, the obligations of each party to maintain the confidentiality of the Confidential Information it has received under this Nondisclosure Agreement shall continue for a period of 
        <span class="static-var-data"><%= "#{@nda.unilateral_input_yr_02}" %></span> years after any termination.</li>
        <li>Upon termination of any relationship between the parties, Recipient will promptly deliver to the Discloser, without retaining any copies, all documents and other materials furnished to Recipient by the Discloser.</li>
      </ol>
    </li>
    <li>Survival of Rights and Obligations.
      <ol type="a">
        <li>
          This Agreement shall govern all communications between the Recipient and the Discloser, and be binding upon, inure to the benefit of, and be enforceable by the following:
          <ol type="i">
            <li>Discloser, its successors, and assigns; and</li>
            <li>Recipient, its successors and assigns.</li>
          </ol>
        </li>
        <li>
          Recipient understands that its obligations under Section 2 ("Confidentiality") shall survive the termination of any other relationship between the parties.
        </li>
        <li>
          This Agreement may not be assigned by, delegated or transferred without the written approval of the Discloser.
        </li>
      </ol>
    </li>
    <li>Governing Law. This Agreement is governed by, and is to be construed in accordance with, 
      the law of <span class="static-var-data"><%= "#{@nda.unilateral_nationality}" %></span>.
      </li>
    <li>Remedies for Breach. The Recipient understands and acknowledges that the Confidential Information has been developed or obtained by the Discloser by the investment of significant time, effort and expenses. The Recipient understands and agrees that in the event of a breach of its obligations hereunder, monetary damages may not be a sufficient remedy and the Discloser may seek and obtain a permanent injunction in order to prevent or restrain any such breach by the Recipient and any and all person acting directly and indirectly with the Recipient. None of the remedies set forth above shall in any way limit the Discloser’s remedies available at law or in equity for such breach.</li>
    <li>In the event of any suit, action or proceeding commenced by the Discloser in any court of competent jurisdiction to enforce any term or provision of this Agreement after default by a Recipient hereto, the prevailing party in such suit shall be entitled to receive from the other party, in addition to any other relief granted, reasonable attorney’s fees and costs.</li>
    <li>Entire Agreement. This Agreement constitutes the entire agreement with respect to the Confidential Information disclosed herein and supersedes all prior or contemporaneous oral or written agreements concerning such Confidential Information. This Agreement shall not be modified except by a written agreement dated subsequent to the date of this Agreement and signed by both parties.</li>
    <li>Severability. If any provision of this Agreement shall be held by a court of competent jurisdiction to be illegal. Invalid or unenforceable, the remaining provision shall remain in full force and effect. </li>
    <li>The Recipient warrants and represents that it has carefully read and understood this Agreement and the Discloser warrants and represents that it has carefully read and understood this Agreement, and each acknowledge receipt of a copy thereof.</li>
  </ol>
  <p>IN WITNESS WHEREOF, the parties have executed this Agreement effective as of the date first written above.</p>
</div>