<div class="w1200 cont">
  <div class="table">
    <%= render Ipseeds.App.ContractView, "_contracts_header.html",
               Map.put(assigns, :detail_tab,
                       %{link: app_agreeable_contract_path(@conn, :edit, @locale, @conn.assigns.asset_id),
                        text: gettext("NDA Detail") }) %>
    <div class="details">
      <div class="tag2">
        <a class="on" href="#"><span><%= gettext "NDA Information" %></span></a>
      </div>
      
      
      <div class="nda-tab listtitle2"><span id="nda-title">
        <%= String.upcase(nda_type_name(@agreement)) %></span> NON-DISCLOSURE AGREEMENT</div>             
        <div class="nda-tab br1 addip">
          
          <%= render_static_plaintext_html @agreement, assigns %>
          
          <%= render "_edit_#{@user_character}_functions.html", assigns %>

        </div>
    </div>
  </div>
</div>
