<div class="w1200 cont">
  <div class="table">
    <%= render Ipseeds.App.ContractView, "_contracts_header.html", assigns %>
    <%= form_for @changeset, app_agreeable_contract_path(@conn, :create, @locale),
                     [multipart: true, id: "issue-agreeable-contract-form",
                      data: [no_main_file_message: gettext("Please select a file to certify and send"),
                             no_recipient_message: gettext("Please select a contact"),
                             no_unilateral_pnddo: gettext("There are some fields haven't filled yet, 
                               please check all of the text_inputs or selectors.")]], 
                     fn f -> %>

        <div class="br1 addip">
          <div class="nda field-01">
            <span class="field-name"><%= gettext("NDA Contract type") %>：</span>
            <%= select(f, :nda_contract_type, 
              ["#{gettext("Unilateral")}": "unilateral", "#{gettext("Mutual")}": "mutual"],
              class: "nda_contract_type") %>
          </div>
          <div class="nda field-01">
            <span class="field-name"><%= gettext("To") %>：</span>
            <%= contact_select f, :recipient_user_id, @current_user, 
              data: [placeholder: gettext("Select a contact")],
              style: "width: 360px;", 
              class: "contact-select"%>
              <p>* The recipient informations will be populated to the following contract 
                when you select a contact.</p>
          </div>
        </div>
      
        <div class="nda-tab listtitle2 mt40"><span id="nda-title">UNILATERAL</span> NON-DISCLOSURE AGREEMENT</div>             
        <div class="nda-tab br1 addip">
          
          <%= render "_form_unilateral_plaintext.html", Map.put(assigns, :f, f)  %>
          <%= render "_form_mutual_plaintext.html", Map.put(assigns, :f, f) %>

          <div class="addiplist4 nda">
            <table width="1000" border="0" cellspacing="0" cellpadding="0" class="sign">
              <tr>
                <td width="20%">DISCLOSER</td>
                <td width="30%">
                  <span class="sender-name"><%= "#{@sender.name} [#{@sender.nationality}]" %></span>
                </td>
                <td width="20%">RECIPIENT</td>
                <td width="30%"><span class="recipient-name">(Empty)</span></td>
              </tr>
              <tr>
                <td>*Signed</td>
                <td>
                  <%= file_input f, :sender_signature_url, class: "hidden-input" %>
                  <%= label f, :sender_signature_url, class: "but06" do %>
                    <%= gettext "Upload" %>
                  <% end %>
                </td>
                <td>Signed</td>
                <td>(Empty)</td>
              </tr>
              <tr>
                <td>*Name</td>
                <td><%= text_input f, :sender_signer_name, 
                  placeholder: "name of the signer", 
                  class: "input-signer-name" %></td>
                <td>Name</td>
                <td>(Empty)</td>
              </tr>
              <tr>
                <td>*Title</td>
                <td><%= text_input f, :sender_signer_title, 
                  placeholder: "title of the signer", 
                  class: "input-signer-title" %></td>
                <td>Title</td>
                <td>(Empty)</td>
              </tr>
            </table>
          </div>
        </div>                

        <div align="center">
            <p class="text-info">* Please fill all of text-inputs with red frame 
              in the above content of the contract.</p>
            <p class="text-info">* <%= file_size_limit_note() %></p>
            <button type="reset" class="but03">Clear</button>
            <div data-toggle="modal" data-target="#confirmationModal" class="but03"><%= gettext("Submit") %></div>
        </div>

        <% end %>
  </div>
  <div id="confirmationModal" class="squared-modal modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <p class="text-center"><strong><%= gettext "Are you going to submit your data now?" %></strong></p>
          <div align="center">
            <button data-dismiss="modal" class="but03 cancel-btn"><%= gettext "Continue to edit" %></button>
            <button id="nda-submit" class="but03"><%= gettext("Submit") %></button>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
