<div class="w1200 cont">
  <div class="table">
    <%= render Ipseeds.App.ContractView, "_contracts_header.html",
               Map.put(assigns, :detail_tab,
                       %{link: app_agreeable_contract_path(@conn, :show, @locale, @conn.assigns.asset_id),
                        text: gettext("NDA Detail") }) %>
    <div class="details">
      <div class="tag2">
        <a class="on" href="#"><span><%= gettext "NDA Information" %></span></a>
      </div>

      <div class="nda-tab listtitle2"><span id="nda-title">
        <%= String.upcase(nda_type_name(@agreement)) %></span> NON-DISCLOSURE AGREEMENT
      </div>
      <div class="nda-tab br1 addip">

        <%= render_static_plaintext_html @agreement, assigns %>

        <div class="addiplist4 nda">
          <table width="1000" border="0" cellspacing="0" cellpadding="0" class="sign">
            <tr>
              <td width="20%"><%= singner_chacater_field_name(:left, @agreement.type) %></td>
              <td width="30%">
                <span class="sender-name"><%= "#{@nda.sender_name} [#{@nda.sender_nationality}]" %></span>
              </td>
              <td width="20%"><%= singner_chacater_field_name(:right, @agreement.type) %></td>
              <td width="30%"><span class="recipient-name">
			      <%= "#{@nda.recipient_name} [#{@nda.recipient_nationality}]" %></span></td>
            </tr>
            <tr>
              <td>Signed</td>
              <td>
                <img class="signature-preview" width="200" src="<%= "#{@sender_signature_url}" %>"
                     alt="cover images"/>
              </td>
              <td>Signed</td>
              <td><img class="signature-preview" width="200" src="<%= "#{@recipient_signature_url}" %>"
                       alt="cover images"/></td>
            </tr>
            <tr>
              <td>Name</td>
              <td><span class="sender-name"><%= "#{@nda.sender_signer_name}" %></span></td>
              <td>Name</td>
              <td><span class="sender-name"><%= "#{@nda.recipient_signer_name}" %></span></td>
            </tr>
            <tr>
              <td>Title</td>
              <td><span class="sender-name"><%= "#{@nda.sender_signer_title}" %></span></td>
              <td>Title</td>
              <td><span class="sender-name"><%= "#{@nda.recipient_signer_title}" %></span></td>
            </tr>
          </table>
        </div>

      </div>
      <div class="print_footer">
        <div class="print_footercont">
          <div class="footerver">VERIFICATION</div>
          <div><img src="http://chart.apis.google.com/chart?cht=qr&chs=200x200&chl=<%= explorer_url(@conn, :show, @locale, @agreement.tx_id) %>"></div>
          <div class="w850">
             <p><%= @asset_id %></p>
             <p><%= api_timestamp_to_datetimestring(@agreement.create_time) %></p>
             <p>Verification</p>
             <p><%= explorer_url(@conn, :show, @locale, @agreement.tx_id) %></p>
          </div>
        </div>
        <div class="function-container text-center">
          <%= link gettext("Back to Contract List"), to: app_contract_path(@conn, :index, @locale), class: "but03" %>
          <a class="but03 btn-danger" onclick="window.print();"><%= gettext("Print it") %></a>
        </div>
      </div>
    </div>
  </div>
</div>