<div class="w700 cont about">
  <h2 class="text-center">About</h2>

  <p>BioIPSeeds is the first blockchain-based P2P platform
    where researchers and companies in biopharmaceutical and life sciences field can exchange early innovative
    concepts. We collect Intellectual Property (IP) projects of small molecules, biologics,
    botanical drugs, regenerative medicine, medical devices, diagnostics, and technology
    platforms. We will continually launch successful projects on technology transfer,
    authorization, and commercialization process worldwide.</p>

  <h2 class="text-center">Vision &amp; Mission</h2>

  <p>BioIPSeeds creates a new model for academia-industry
    interaction by providing an effective, safe and trustful environment. This platform will
    facilitate the translation of innovative concepts to applied knowledge for therapeutics and further
    satisfy unmet medical needs in worldwide. We believe BioIPSeeds will become the
    cornerstone of supporting open innovation for life science industry.</p>

  <h2 class="text-center">Developers</h2>

  <div class="row">
    <div class="col-sm-6 text-center">
      <a class="about-logo dtco-logo" href="https://dtco.co/en/index.html" target="_blank">
        <img src="<%= static_path(@conn, "/images/about_dtco_logo.png") %>">
      </a>
    </div>
    <div class="col-sm-6 text-center">
      <a class="about-logo trpma-logo" href="http://www.trpma.org.tw/index.php/en/" target="_blank">
        <img src="<%= static_path(@conn, "/images/about_TRPMA_logo.png") %>">
      </a>
    </div>
  </div>
</div>	