<div class="w1200 cont faq">
  <h1 class="text-center">FAQ</h1>
  <div class="row">
    <div class="col-xs-2">
      <div class="list-group">
        <a class="list-group-item active" data-tab="faq-registration">Registration</a>
        <a class="list-group-item" data-tab="faq-fees">Fees</a>
        <a class="list-group-item" data-tab="faq-verifications">Verifications</a>
        <a class="list-group-item" data-tab="faq-AnS">Account &amp; Settings</a>
        <a class="list-group-item" data-tab="faq-passphrase">Passphrase</a>
        <a class="list-group-item" data-tab="faq-function">Function</a>
        <a class="list-group-item" data-tab="faq-general">General</a>
      </div>
    </div>
    <div class="col-xs-10">
      <div class="panel-group active" id="faq-registration" role="tablist" aria-multiselectable="true">

        <h2 class="text-left">Registration</h2>

        <div class="panel">
          <div class="panel-heading" role="tab" id="reg-header-01">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-registration" href="#reg-body-01" 
                aria-expanded="true" aria-controls="registration-01">
                Q: What are the requirements as individual researchers/research institutes or
                companies to join BioIPSeeds?
              </a>
            </h4>
          </div>
          <div id="reg-body-01" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="reg-header-01">
            <div class="panel-body">
              A: We welcome the individual researchers/research institutes or companies
              engaged in life science and biopharmaceutical field to become BioIPSeeds
              members.
              <ul class="active-list-style">
                <li>If you are individual researchers and will manage your own intellectual
                properties on this platform, please apply for Individual Researcher
                Membership.</li>
                <li>If you are on behalf of an education and research institute, for example, a
                university, an academia- industry collaboration center or a technology
                transfer office, please apply for Research Institute Membership. Account
                user will need to declare its legitimacy on behalf of his institute.</li>
                <li>If you are on behalf of a company, please apply for Industry Membership.
                Account user will need to declare its legitimacy on behalf of his company.</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab" id="reg-header-02">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-registration" href="#reg-body-02" 
                aria-expanded="true" aria-controls="registration-02">
                Q: How do I create an account?
              </a>
            </h4>
          </div>
          <div id="reg-body-02" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="reg-header-02">
            <div class="panel-body">
              A: You can go to ipseeds.net, click Sign Up and complete your profile. We will
              activate your account after verifying your information in 5 days.
            </div>
          </div>
        </div>

      </div>

      <div class="panel-group" id="faq-fees" role="tablist" aria-multiselectable="true">

        <h2 class="text-left">Fees</h2>
        
        <div class="panel">
          <div class="panel-heading" role="tab" id="fees-header-01">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-fees" href="#fees-body-01" 
                aria-expanded="true" aria-controls="fees-01">
                Q: What is the membership fee?
              </a>
            </h4>
          </div>
          <div id="fees-body-01" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="fees-header-01">
            <div class="panel-body">
              A: Individual researcher and research Institute membership is free. Annual fee of
              industry membership is 4,000 USD.
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab" id="fees-header-02">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-fees" href="#fees-body-02" 
                aria-expanded="true" aria-controls="fees-02">
                Q: How do I pay for my membership fee?
              </a>
            </h4>
          </div>
          <div id="fees-body-02" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="fees-header-02">
            <div class="panel-body">
              After verifying your profile, you will receive a payment notice by e-mail. Please
              follow the instructions to finish the payment and you will be able to access to
              BioIPSeeds.
            </div>
          </div>
        </div>

      </div>

      <div class="panel-group" id="faq-verifications" role="tablist" aria-multiselectable="true">

        <h2 class="text-left">Verifications</h2>
        
        <div class="panel">
          <div class="panel-heading" role="tab" id="verifications-header-01">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-verifications" href="#verifications-body-01" 
                aria-expanded="true" aria-controls="verifications-01">
                Q: Is providing identification to IPSeeds secure?
              </a>
            </h4>
          </div>
          <div id="verifications-body-01" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="verifications-header-01">
            <div class="panel-body">
              A: IPSeeds establishes a Personal Data Protection Act that strictly comprises
              various rules governing the collection, use, disclosure and care of personal data.
              Please read term of use and privacy police.
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab" id="verifications-header-02">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-verifications" href="#verifications-body-02" 
                aria-expanded="true" aria-controls="verifications-02">
                Q: How long does it take IPseeds to verify my profile? Will I get notification?
              </a>
            </h4>
          </div>
          <div id="verifications-body-02" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="verifications-header-02">
            <div class="panel-body">
              A: It will take in 5 days to verify your profile. After we verify profile, you will
              receive the e-mail notification.
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab" id="verifications-header-03">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-verifications" href="#verifications-body-03" 
                aria-expanded="true" aria-controls="verifications-03">
                Q: Why didn&#39;t I receive my email notification?
              </a>
            </h4>
          </div>
          <div id="verifications-body-03" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="verifications-header-03">
            <div class="panel-body">
              A: Please contact us by e-mail.
            </div>
          </div>
        </div>

      </div>

      <div class="panel-group" id="faq-AnS" role="tablist" aria-multiselectable="true">

        <h2 class="text-left">Account &amp; Settings</h2>
        
        <div class="panel">
          <div class="panel-heading" role="tab" id="AnS-header-01">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-AnS" href="#AnS-body-01" 
                aria-expanded="true" aria-controls="AnS-01">
                Q: How do I edit my account settings or profile?
              </a>
            </h4>
          </div>
          <div id="AnS-body-01" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="AnS-header-01">
            <div class="panel-body">
              A: If you need to edit your account user information i.e. company information,
              delegate of user account, or contact information, please contact us by email.
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab" id="AnS-header-02">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-AnS" href="#AnS-body-02" 
                aria-expanded="true" aria-controls="AnS-02">
                Q: What should I do if I have forgotten my IPSeeds member account/passsword?
              </a>
            </h4>
          </div>
          <div id="AnS-body-02" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="AnS-header-02">
            <div class="panel-body">
              A: If you&#39;ve forgotten your password or have trouble to sign in to your account,
              please visit: https://www.ipseeds.net/en/users/forgot_password.
              Enter the email address, and we will send you a link to reset your password.
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab" id="AnS-header-03">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-AnS" href="#AnS-body-03" 
                aria-expanded="true" aria-controls="AnS-03">
                Q: Can BioIPSeeds deactivate my account?
              </a>
            </h4>
          </div>
          <div id="AnS-body-03" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="AnS-header-03">
            <div class="panel-body">
              A: Please understand that we may deactivate your account access to 
              the BioIPSeedson grounds of the term of use, transaction security or any other considerations
              to be deemed appropriate by us. To reactivate your account, please contact us by
              email.
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab" id="AnS-header-04">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-AnS" href="#AnS-body-04" 
                aria-expanded="true" aria-controls="AnS-04">
                Q: Can I cancel my account?
              </a>
            </h4>
          </div>
          <div id="AnS-body-04" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="AnS-header-04">
            <div class="panel-body">
              A: Yes, please contact us by email.
            </div>
          </div>
        </div>

      </div>

      <div class="panel-group" id="faq-passphrase" role="tablist" aria-multiselectable="true">

        <h2 class="text-left">Passphrase</h2>
        
        <div class="panel">
          <div class="panel-heading" role="tab" id="passphrase-header-01">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-passphrase" href="#passphrase-body-01" 
                aria-expanded="true" aria-controls="passphrase-01">
                Q: What is passphrase?
              </a>
            </h4>
          </div>
          <div id="passphrase-body-01" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="passphrase-header-01">
            <div class="panel-body">
              A: Your passphrase is required to use to decrypt messages and files on BioIPSeeds.
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab" id="passphrase-header-02">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-passphrase" href="#passphrase-body-02" 
                aria-expanded="true" aria-controls="passphrase-02">
                Q: How to get my passphrase?
              </a>
            </h4>
          </div>
          <div id="passphrase-body-02" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="passphrase-header-02">
            <div class="panel-body">
              A: BioIPSeeds will generate a unique passphrase at the first time when you sign in.
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab" id="passphrase-header-03">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-passphrase" href="#passphrase-body-03" 
                aria-expanded="true" aria-controls="passphrase-03">
                Q: Why should I save my passphrase?
              </a>
            </h4>
          </div>
          <div id="passphrase-body-03" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="passphrase-header-03">
            <div class="panel-body">
              A: Please make sure you save your passphrase privately. Your passphrase is not
              stored by BioIPSeeds or anywhere on a centralized database. Therefore, the
              same passphrase will NOT issue again.
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab" id="passphrase-header-04">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-passphrase" href="#passphrase-body-04" 
                aria-expanded="true" aria-controls="passphrase-04">
                Q: Forgot your passphrase?
              </a>
            </h4>
          </div>
          <div id="passphrase-body-04" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="passphrase-header-04">
            <div class="panel-body">
              A: Without passphrase, you will no longer be able to decrypt messages or files. If
              you forgot your passphrase, please email us to apply for a new passphrase. You
              will ask to re-request all data contracts. The new passphrase can only decrypt
              the new messages and files.
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab" id="passphrase-header-05">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-passphrase" href="#passphrase-body-05" 
                aria-expanded="true" aria-controls="passphrase-05">
                Q: Why can&#39;t my new passphrase decrypt previously received messages and
                contracts?
              </a>
            </h4>
          </div>
          <div id="passphrase-body-05" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="passphrase-header-05">
            <div class="panel-body">
              A: All the contracts and messages are encrypted based on blockchain technology.
              Only old passphrase can access to decrypt the previous information.
            </div>
          </div>
        </div>

      </div>

      <div class="panel-group" id="faq-function" role="tablist" aria-multiselectable="true">

        <h2 class="text-left">Function</h2>
        
        <div class="panel">
          <div class="panel-heading" role="tab" id="function-header-01">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-function" href="#function-body-01" 
                aria-expanded="true" aria-controls="function-01">
                Q: Why cannot issue data contract/send data?
              </a>
            </h4>
          </div>
          <div id="function-body-01" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="function-header-01">
            <div class="panel-body">
              A: You are required to notarize your data before issuing data contract. If you would
              like to send out the updated information, please remember to notarize again.
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab" id="function-header-02">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-function" href="#function-body-02" 
                aria-expanded="true" aria-controls="function-02">
                Q: How do I edit/update/withdrawal my IP Summary?
              </a>
            </h4>
          </div>
          <div id="function-body-02" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="function-header-02">
            <div class="panel-body">
              A: IPSeeds use the most frontier blockchain technology. All the data cannot be
              edited or withdrawal. You are able to post the updated IP Summary. However, if
              you would like to withdrawal the IP Summary, the only way is to set up the
              privacy of your IP summary.
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab" id="function-header-03">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-function" href="#function-body-03" 
                aria-expanded="true" aria-controls="function-03">
                Q: Does my research data keep secure on BioIPSeeds ?
              </a>
            </h4>
          </div>
          <div id="function-body-03" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="function-header-03">
            <div class="panel-body">
              A: BioIPseeds uses blockchain to secure IP information. IP information is only
              shared between individual researcher and company. All the transaction records
              (every single exchange between both sides) are permanently anchored and
              traceable on blockchain.
            </div>
          </div>
        </div>

      </div>

      <div class="panel-group" id="faq-general" role="tablist" aria-multiselectable="true">

        <h2 class="text-left">General</h2>
        
        <div class="panel">
          <div class="panel-heading" role="tab" id="general-header-01">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-general" href="#general-body-01" 
                aria-expanded="true" aria-controls="general-01">
                Q: What benefits does BioIPSeeds provide?
              </a>
            </h4>
          </div>
          <div id="general-body-01" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="general-header-01">
            <div class="panel-body">
              A: BioIPSeeds offers many advantages:
              <ol class="active-list-style">
                <li>Prove your ownership of early research projects by blockchain.</li>
                <li>Reduce time and cost for project searching.</li>
                <li>Increase efficiency of collaboration by online NDA and IP exchange.</li>
                <li>Provide an effective, safe and trustful environment for academia-industry interaction.</li>
                <li>Build up the global network.</li>
              </ol>
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab" id="general-header-02">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-general" href="#general-body-02" 
                aria-expanded="true" aria-controls="general-02">
                Q: What is P2P platform?
              </a>
            </h4>
          </div>
          <div id="general-body-02" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="general-header-02">
            <div class="panel-body">
              A: Peer to peer platform is a decentralized platform whereby two individuals
              interact directly with each other, without intermediation by a third-party.
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab" id="general-header-03">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-general" href="#general-body-03" 
                aria-expanded="true" aria-controls="general-03">
                Q: What is blockchain?
              </a>
            </h4>
          </div>
          <div id="general-body-03" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="general-header-03">
            <div class="panel-body">
              A: The Economist Magazine 2015 commented “Blockchain technology is a machine
              for creating trust”. This technology is now widely explored by industries of
              finance, healthcare, energy resources, retail business, and among many others.
              The most well-known blockchain technology case is “Bitcoin, indicating its
              security, immutability and traceability. Blockchain redefines how a next-
              generation network should work. For more information about the blockchain,
              please see: <a href="http://en.bitcoin.it/wiki/Block_chain." target="_blank">
              http://en.bitcoin.it/wiki/Block_chain.</a>
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab" id="general-header-04">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-general" href="#general-body-04" 
                aria-expanded="true" aria-controls="general-04">
                Q: What is “IP Notary”?
              </a>
            </h4>
          </div>
          <div id="general-body-04" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="general-header-04">
            <div class="panel-body">
              A: “IP Notary” is a function for proving the ownership by using blockchain to
              notarize your IP and any other data.
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab" id="general-header-05">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-general" href="#general-body-05" 
                aria-expanded="true" aria-controls="general-05">
                Q: What is “IP Summary”?
              </a>
            </h4>
          </div>
          <div id="general-body-05" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="general-header-05">
            <div class="panel-body">
              A: “IP Summary” is a function for posting your non-confidential information of
              your research project to find partners for co-development, license in/out,
              technology transfer as well as fund raising.
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab" id="general-header-06">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-general" href="#general-body-06" 
                aria-expanded="true" aria-controls="general-06">
                Q: What should I do if I am interested in a specific IP Summary?
              </a>
            </h4>
          </div>
          <div id="general-body-06" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="general-header-06">
            <div class="panel-body">
              A: You can click on the “Request for Information” button on the left of IP Summary
              detail page. You can either use “Comment box” to contact the researchers or use
              “Messages” function to send messages to the issuer of IP Summary.
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab" id="general-header-07">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-general" href="#general-body-07" 
                aria-expanded="true" aria-controls="general-07">
                Q: What is “Messages”?
              </a>
            </h4>
          </div>
          <div id="general-body-07" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="general-header-07">
            <div class="panel-body">
              A: You can send messages to other IPSeeds users by using the “Messages” function.
              If you have unread messages, the numbers of unread messages will show up on
              menu item. All the messages are encrypted and only you and the recipient are
              able to decrypt and read the messages.
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab" id="general-header-08">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-general" href="#general-body-08" 
                aria-expanded="true" aria-controls="general-08">
                Q: What is “Contract Issuing”?
              </a>
            </h4>
          </div>
          <div id="general-body-08" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="general-header-08">
            <div class="panel-body">
              A: Interested parties can sign NDA online and exchange confidential information by
              using the “Contract Issuing” function. Signed NDA and all data exchange records
              are anchored on blockchain permanently and immutably.
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab" id="general-header-09">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-general" href="#general-body-09" 
                aria-expanded="true" aria-controls="general-09">
                Q: What is “Contact List”?
              </a>
            </h4>
          </div>
          <div id="general-body-09" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="general-header-09">
            <div class="panel-body">
              A: In order to issue contacts, you have to add the account users in to your contact
              list. Click on the username, and then click on “Add to Contact List”.
            </div>
          </div>
        </div>

        <div class="panel">
          <div class="panel-heading" role="tab" id="general-header-10">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#faq-general" href="#general-body-10" 
                aria-expanded="true" aria-controls="general-10">
                Q: What is “Explorer”?
              </a>
            </h4>
          </div>
          <div id="general-body-10" class="panel-collapse collapse" role="tabpanel" 
            aria-labelledby="general-header-10">
            <div class="panel-body">
              A: You can view all the blockchain transactions on BioIPSeeds in the “Explorer” section.
            </div>
          </div>
        </div>

      </div>  

    </div>
  </div>
  
</div>