<div class="features">
  <h1>A trusted platform to drive open innovation and collaboration</h1>
</div>
<div class="w1200 featuresp2">
  <div id="a1">
    <div class="icon a1"></div>
    <div class="featcon">Member Certification<p>
      Identity of members is confirmed at sign up.</p>
      <span>IPSeeds uses a real name verification system to certify new members. This verification system is also used to prove that the individual, institute or company that applied for membership is real.</span>
    </div>
  </div>
  <div id="a2">
    <div class="featcon">Decentralized Platform<p>
      Increase trust and speed.</p>
      <span>BioIPSeeds uses blockchain technology to be a decentralized platform. A decentralized platform is able to facilitate the process of collaboration and make decisions more quickly.</span>
    </div>
    <div class="icon a2"></div>
  </div>
  <div id="a4">
    <div class="icon a4"></div>
    <div class="featcon">Create Trusted Assets on the Blockchain
      <p>Secure your idea and data by the most powerful network in the world.</p>
      <span>We use cryptography algorithms to generate an unique identifier (Asset ID) for your idea or data and this identifier will be automatically embedded in the blockchain. The cryptographic proof is calculated on client’s side and users don’t need to upload files.</span>
    </div>
  </div>
  <div id="a5">
    <div class="featcon">IPseeds Fingerprint<p>
      Proof of ownership, existence, integrity.</p>
      <span>BioIPSeeds uses blockchain technology to certify who created the intellectual property and idea. The same technology is used to ensure and certify that intellectual property and ideas existed at a certain point in time.</span>
    </div>
    <div class="icon a5"></div>
  </div>
  <div id="a6">
    <div class="icon a6"></div>
    <div class="featcon">Online Signature and Agreement<p>
      Makes collaboration faster and easier.</p>
      <span>A non-disclosure agreement can sign online at anytime, anywhere, on any device. It’s the fastest, the most secure and cost-effective way to get agreements sent or returned within minutes of time instead of a few days.</span>
    </div>
  </div>
  <div id="a7">
    <div class="featcon">Fully Traceable Transactions<p>
      Track any action to its source.</p>
      <span>Each transaction is time-stamped and encrypted on the blockchain so that it cannot be changed afterward. BioIPSeeds is able to record and track the details of any transaction.</span>
    </div>
    <div class="icon a7"></div>
  </div>
</div>