<div class="howitworks-top" role="tabpanel">
  <ul class="nav nav-pills nav-justified " role="tablist">
    <li role="presentation" class="active">
      <a href="#individual" aria-controls="Individual" role="tab" data-toggle="pill">
        <img src="<%= static_path(@conn, "/images/howa.png") %>">
        <p>Individual Researchers / Research Institute</p></a></li>
    <li role="presentation">
      <a href="#industry" aria-controls="Industry" role="tab" data-toggle="pill"><img src="<%= static_path(@conn, "/images/howb.png") %>">
        <p>Industry</p></a></li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="w1200 howitworks tab-pane fade in active" id="individual">
      <div><img src="<%= static_path(@conn, "/images/how1.png") %>">
        <p>Register for Members</p>Every member will be certified in reality. Account user will need to declare its legitimacy on behalf of his institute.
      </div>
      <div><img src="<%= static_path(@conn, "/images/how2.png") %>">
        <p>Notarize Intellectual Property (IP)</p>Research data/IP can be notarized by creating a hash code anchored on blockchain, while researchers still keep all data privately.
      </div>
      <div><img src="<%= static_path(@conn, "/images/how3.png") %>">
        <p>Post IP Projects</p>Researchers will post non-confidential information (IP Summary) for reference with indication of partnership types such as licensing, technology transfer, co-development or fund raising.
      </div>
      <div><img src="<%= static_path(@conn, "/images/how4.png") %>">
        <p>Sign Online NDA</p>Interested parties can sign NDA online for confidential information. Signed NDA is anchored on blockchain permanently and immutably.
      </div>
      <div><img src="<%= static_path(@conn, "/images/how5.png") %>">
        <p>Exchange Data</p>Confidential data will be encrypted and transferred to your designated receiver who has the key to decrypt the data file. All data exchange records is anchored on blockchain permanently and immutably.
      </div>
    </div>
    <div role="tabpanel" class="w1200 howitworks tab-pane fade" id="industry">
      <div><img src="<%= static_path(@conn, "/images/how6.png") %>">
        <p>Register for Members</p>Every member will be certified in reality. Account user will need to declare its legitimacy on behalf of their company.
      </div>
      <div><img src="<%= static_path(@conn, "/images/how7.png") %>">
        <p>Search Intellectual Property (IP) Projects</p>IPSeeds collects IP projects of small molecules, biologics, botanical drugs, regenerative medicine, medical devices, diagnostics, and technology platforms.
      </div>
      <div><img src="<%= static_path(@conn, "/images/how8.png") %>">
        <p>Request for information</p>You can directly request IP Information from researchers or use the "Messages" function to contact researchers.
      </div>
      <div><img src="<%= static_path(@conn, "/images/how4.png") %>">
        <p>Sign Online NDA</p>Interested parties can sign NDA online for confidential information. Signed NDA is anchored on blockchain permanently and immutably.
      </div>
      <div><img src="<%= static_path(@conn, "/images/how5.png") %>">
        <p>Exchange Data</p>Confidential data will be encrypted and transferred to your designated receiver who has the key to decrypt the data file. All data exchange records is anchored on blockchain permanently and immutably.
      </div>
    </div>
  </div>
</div>