<div class="indexp0">
  <h1>Open Innovation Powered by Blockchain<br/><small>A World’s Leading P2P Platform 
for Biomedical IP Sharing</small></h1>
  <div class="signbut">
    <a href="<%= session_path(@conn, :new, @locale) %>" class="but02">SIGN IN</a>
    <a href="<%= user_registration_path(@conn, :new, @locale) %>" class="but02">SIGN UP</a>
  </div>
</div>

<div class="w1200 indexp4">
  <h1>Accelerate Benchwork to Commercialization</h1>
  <a href="<%= page_path(@conn, :features, @locale)%>"><div><div class="icon a1"></div>Member Certification<p>Confirm the reality of members that can enhance trust.</p></div></a>
  <a href="<%= page_path(@conn, :features, @locale)%>"><div><div class="icon a2"></div>Decentralized Design<p>Peer-to-Peer platform</p></div></a>
  <a href="<%= page_path(@conn, :features, @locale)%>"><div><div class="icon a4"></div>Blockchain Online Trustworthy Creation<p>Secure your idea and data by the most powerful net work in the world.</p></div></a>
    <a href="<%= page_path(@conn, :features, @locale)%>"><div><div class="icon a5"></div>IPseeds fingerprint<p>Proof of ownership, existence, integrity.</p></div></a>
  <a href="<%= page_path(@conn, :features, @locale)%>"><div><div class="icon a6"></div>Online Signature and Agreement<p>makes collaboration faster and easier.</p></div></a>
  <a href="<%= page_path(@conn, :features, @locale)%>"><div><div class="icon a7"></div>Stored and Backward Transaction<p>Track any action to its source.</p></div></a>
</div>

<div class="bluebg">
  <div class="w1200 bluethree">
    <h1>Together, We Go Further</h1>
    <div><%= "#{counting_text(@user_count)}" %><br/><span>Members</span></div>
    <div><%= "#{counting_text(@research_case_count)}" %> <br/><span>Research cases</span></div>
    <div><%= "#{counting_text(@asset_count)}" %><br/><span>Blockchain records</span></div>
  </div>
</div>

<div class="indexp02">
  <div class="marquee" id="mycrawler">
    <img src="<%= static_path(@conn, "/images/clients/clients_01.png") %>">
    <img src="<%= static_path(@conn, "/images/clients/clients_02.png") %>">
    <img src="<%= static_path(@conn, "/images/clients/clients_03.png") %>">
    <img src="<%= static_path(@conn, "/images/clients/clients_04.png") %>">
    <img src="<%= static_path(@conn, "/images/clients/clients_05.png") %>">
    <img src="<%= static_path(@conn, "/images/clients/clients_07.png") %>">
    <img src="<%= static_path(@conn, "/images/clients/clients_08.png") %>">
    <img src="<%= static_path(@conn, "/images/clients/clients_09.png") %>">
    <img src="<%= static_path(@conn, "/images/clients/clients_10.png") %>">
    <img src="<%= static_path(@conn, "/images/clients/clients_11.png") %>">
    <img src="<%= static_path(@conn, "/images/clients/clients_12.png") %>">
    <img src="<%= static_path(@conn, "/images/clients/clients_13.png") %>">
    <img src="<%= static_path(@conn, "/images/clients/clients_14.png") %>">
    <img src="<%= static_path(@conn, "/images/clients/clients_15.png") %>">
    <img src="<%= static_path(@conn, "/images/clients/clients_16.png") %>">
    <img src="<%= static_path(@conn, "/images/clients/clients_17.png") %>">
    <img src="<%= static_path(@conn, "/images/clients/clients_19.png") %>">
    <img src="<%= static_path(@conn, "/images/clients/clients_20.png") %>">
    <img src="<%= static_path(@conn, "/images/clients/clients_21.png") %>">
    <img src="<%= static_path(@conn, "/images/clients/clients_22.png") %>">
    <img src="<%= static_path(@conn, "/images/clients/clients_23.png") %>">
    <img src="<%= static_path(@conn, "/images/clients/clients_24.png") %>">
    <img src="<%= static_path(@conn, "/images/clients/clients_25.png") %>">
    <img src="<%= static_path(@conn, "/images/clients/clients_26.png") %>">
    <img src="<%= static_path(@conn, "/images/clients/clients_27.png") %>">
    <img src="<%= static_path(@conn, "/images/clients/clients_28.png") %>">
  </div>
</div>

<div>
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <div class="w1200 fc">
        <img src="<%= static_path(@conn, "/images/flaviencharlon.png") %>" /><p><b>“</b>Intellectual property and scientific research have always had a complex relationship. BioIPSeeds is the first and most advanced use of Blockchain technology in the domain of intellectual property exchange, and I believe this is exactly the type of innovation the academia and the industry needed to push scientific collaboration to the next level.<b>”</b><span><b>Flavien Charlon</b><br/> Blockchain Scientist, Founder and CEO of Coinprism, one of the earliest Blockchain Technology startups, the Color Coin Inventor,<br/>main author of the industry standard Open Assets.</span></p>
        </div>
      </div>
      <div class="item">
        <div class="w1200 fc">
        <img src="<%= static_path(@conn, "/images/head3.png") %>" /><p><b>“</b>As a 30-year veteran of the US Food and Drug Administration and a global regulatory expert, I believe BioIPSeeds is exactly what the industry needs right now. Its innovative platform not only mobilizes academia and medical researchers to be launched into the global marketplace, but it also removes the traditional barriers to entry for companies and investors and gives them an exclusive first-look into the type of research and innovation is focusing on.<b>”</b><span><b>Min Chen</b><br/>Former US FDA Acting Director</span></p>
        </div>
      </div>
      <div class="item">
        <div class="w1200 fc">
        <img src="<%= static_path(@conn, "/images/head2.png") %>" /><p><b>“</b>Thanks to BioIPSeeds, we could have a greater access to very early stage innovations, which we would have probably missed without the help of this platform. Once we will get IP information on promising projects, we will then be able to share with our scientific experts based in Paris these data, and – depending on their feedback – evaluate the opportunity to move our collaboration forward with these researchers.<b>”</b><span><b>Eric Delarge</b><br/>General Manager and Representative Director of Servier Japan</span></p>
        </div>
      </div>
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- Medium Blog RSS START -->
<div class="w1200 blog" data-rss-url="<%= page_path(@conn, :medium_rss_feed, @locale)%>">
  <div class="text-center hidden-container"></div>
  <div class="text-center blog-loading">
    <img  src="<%= static_path(@conn, "/images/loading.gif") %>" />
    <p>Loading from blog...</p>
  </div>
</div><!-- Medium Blog RSS END -->

<!-- Subscribe block START -->
<div class="newsletter">
  <div class="w1200">
    <h1>Sign Up for Our Newsletter</h1>Receive a monthly round-up of the hottest research cases &#38; news
    <div class="newsletterinput">
      <p class="alert alert-success" role="alert" id="subscribe-success-msg">test success</p>
      <p class="alert alert-danger" role="alert" id="subscribe-error-msg">test error</p>
      <input type="email" name="email" placeholder="Please enter your e-mail address to subscribe"><a class="but07" 
        id="subscribe-news" 
        data-subscribe-url="<%= subscribe_path(@conn, :subscribe, @locale)%>"
        data-csrf-token="<%= Plug.CSRFProtection.get_csrf_token() %>">NOTIFY ME</a>
    </div>
  </div>
</div><!-- Subscribe block END -->


<!-- Float Social Media Links START -->
<div class="water">
  <a href="https://www.facebook.com/ipseeds" target="_blank">
    <img src="<%= static_path(@conn, "/images/fb.png") %>" />
  </a>
  <a href="https://twitter.com/IPSeeds" target="_blank">
    <img src="<%= static_path(@conn, "/images/tw.png") %>"/>
  </a>
  <a href="https://medium.com/blog-ipseeds-net" target="_blank">
    <img src="<%= static_path(@conn, "/images/med.png")%>"/>
  </a>
</div><!-- Float Social Media Links END -->


