<!--main start-->
<div class="pricing-cont">
    <div class="w1200 pricing_list">
        <div class="pricing_cont">
            <div>Academic Free</div>
            <div class="line4"></div>
            <div class="money">Free</div>
            <div class="line4"></div>
            <div class="pricing_check">
                <ul>
                    <li><img src="<%= static_path(@conn, "/images/check1.png") %>" />Post IP Projects</li>
                    <li><img src="<%= static_path(@conn, "/images/check1.png") %>" />Notarize Intellectual Property (IP)</li>
                    <li><img src="<%= static_path(@conn, "/images/check1.png") %>" />Send Messages</li>
                    <li><img src="<%= static_path(@conn, "/images/check1.png") %>" />Sign Online NDA</li>
                    <li><img src="<%= static_path(@conn, "/images/check1.png") %>" />Exchange Data</li>
                </ul>
            </div>
            <div class="orgbut" onclick="location.href='<%= user_registration_path(@conn, :new, @locale) %>'">Sign Up</div>
        </div>
        <div class="pricing_cont">
            <div>Industry Premium</div>
            <div class="line4"></div>
            <div class="money"><span>$</span> 4,000 <span>USD</span><small>(annual plan)</small></div>
            <div class="line4"></div>
            <div class="pricing_check">
                <ul>
                    <li><img src="<%= static_path(@conn, "/images/check1.png") %>" />Everything in <span>Free</span></li>
                    <li class="spe"><img src="<%= static_path(@conn, "/images/check2.png") %>" />Search IP Projects</li>
                    <li class="spe"><img src="<%= static_path(@conn, "/images/check2.png") %>" />Request for Confidential<br/>Information</li>
                </ul>
            </div>
            <div class="orgbut" onclick="location.href='<%= user_registration_path(@conn, :new, @locale) %>'">Sign Up</div>
        </div>
    </div>
</div>