<div class="w1200 cont privacy">
  <h1>PRIVACY AND SECURITY POLICY</h1>
  <p>
        Digital Treasury Corporation, (“DTCO”, “we” or “us,”) has created the following Privacy and Security Policy 
	(“Privacy Policy”) to inform you of the following: what information we collect, when we collect it, how and why 
	we collect it, how we use it, how we protect it, how we share it and what choices you have regarding our 
	collection and use of this information.
  </p>

  <p>
	Entering the Sites constitutes your acceptance and agreement to the terms contained in this Privacy Policy. 
	If you do not agree with the terms set forth in this Privacy Policy, please do not enter the Sites.
  </p>

  <h2>WHAT THE PURPOSE OF USE</h2>
  <p><b>
    With regard to your information to be collected by the DTCO, please refer to the list for detail 
    purpose of collection: 
  </b></p>
  <ol>
    <li>Human Resource Management</li>
    <li>Engineering Technical Services Management</li>
    <li>Industrial Administration</li>
    <li>Small and medium enterprises and other industries assistance</li>
    <li>public productive enterprise business</li>
    <li>Public Health and Communicable Disease Control</li>
    <li>Civil Servants Property-Declaration, Recusal due to Interest Conflicts and Campaign Contributions</li>
    <li>Marketing</li>
    <li>Religious, nonprofit organizations business</li>
    <li>Financial institutions collect, process and use the information in respect to regulations and 
      regulatory financial supervision needs.</li>
    <li>Handling financial dispute</li>
    <li>Non-government agency to collect, process and use the personal information in respect to legal obligation</li>
    <li>Contract or quenci-contract or other matters in relation to legal management</li>
    <li>Consumer/Customer management and services</li>
    <li>Consumer protection</li>
    <li>Commercial and technology information</li>
    <li>Account management and debt trading business</li>
    <li>Information (communication) and database management</li>
    <li>Information/communication security and management </li>
    <li>Investigation, statistics and research analysis</li>
    <li>Other advising and consultant services</li>
  </ol>
  <p><b>
    We may change the purpose of use of personal information to the extent that the purpose of use after 
    the change is reasonably deemed duly related to the original purpose of use. When the purpose of use 
    has been changed, the Company shall notify the customer of, or publicly announce the purpose of use 
    after the change. 
  </b></p>


  <h2>WHAT INFORMATION WE COLLECT</h2>
  <p><b>
    Types of Information We Collect:
  </b></p>
  <ol>
    <li>Type for identifying individuals</li>
    <li>Type for identifying finance</li>
    <li>Residence and facilities</li>
    <li>Occupation</li>
    <li>Licences or other permissions</li>
    <li>Schools record<br/>(For example: Universities, colleges or other schools, etc.)</li>
    <li>Qualification or technique</li>
    <li>Membership of occupation Associations<br/>(For example: Category of membership, record of 
      membership and activitie.)</li>
    <li>Occupation expertise</li>
    <li>Works</li>
    <li>Current status of employment</li>
    <li>Employment experiences</li>
    <li>Leave office</li>
    <li>Working or missions record</li>
    <li>Goods or services provided by data subject</li>
    <li>Financial deals</li>
    <li>Compensation</li>
    <li>Business information</li>
    <li>Data subject's business activities</li>
    <li>Agreement or contract</li>
    <li>License relating to business</li>
    <li>Research of paper documents</li>
    <li>Data unclassified</li>
    <li>Data of radioactive fallout</li>
    <li>National intelligence service</li>
  </ol>
  <p><b>
    We Collect Information When...
  </b></p>
  <ol>
    <li>You order, return, exchange or request information about our or other member’s products and 
      services from the Sites or mobile applications.</li>
    <li>You create a member account on our sites.</li>
    <li>You connect with us regarding on licensing platforms.</li>
    <li>You visit the Sites or participate in interactive features of the Sites or licensing platforms.</li>
    <li>You use a social media service, for example, our Facebook page or YouTube channel.</li>
    <li>You sign up for e-mails, mobile messages, or social media notifications from us.</li>
    <li>You provide us with comments, suggestions, or other input.</li>
    <li>You interact with any of the Sites through your computer, tablet or mobile device</li>
  </ol>


  <h2>HOW AND WHY WE COLLECT INFORMATION</h2>
  <p><b>
      Technologies Used
    </b>
    We may use tracking pixels/web beacons, cookies and or other technologies to receive and store 
    certain types of information. This information includes Internet Protocol (IP) addresses, browser 
    information, Internet Service Provider (ISP), operating system, date/time stamp and clickstream 
    data. This information helps us customize your website experience and make our marketing messages 
    more relevant. It also allows us to provide features such as storage of items in your cart between 
    visits. This includes our content presented on other websites or mobile applications. In order to 
    provide the best customer experience possible, we also use this information for reporting and 
    analysis purposes, such as how you are using our website, performance of our marketing efforts, 
    and your response to those marketing efforts.
  </p>
  <p><b>
      Third Party Cookies
    </b>
    We allow third-party companies to collect anonymous information when you visit the Sites and to 
    use that information to serve ads for our products or services or for products or services of 
    other companies when you visit the Sites or other websites. These companies may use anonymous 
    information (e.g., navigational, non-personally identifiable information, click stream information, 
    browser type, time and date, subject of advertisements clicked or scrolled over, etc.) during your 
    visits to the Sites and other websites in order to provide advertisements about our goods and 
    services likely to be of interest to you. These parties may use a cookie or a third party web 
    beacon, or other technologies, to collect this information.
  </p>
  <p><b>
      User Experience Information
    </b>
    In order to improve customer online using experience, help with fraud identification, and to assist 
    our customer care representatives in resolving issues customers may experience in completing online 
    purchases, we use tools to monitor certain user experience information, including, but not limited to, 
    login information, IP address, data regarding pages visited, specific actions taken on pages visited 
    (e.g., information entered during checkout process), and browser information.
  </p>
  <p><b>
      Information from Other Sources
    </b>
    We may also obtain information from companies that can enhance our existing customer information 
    to improve the accuracy and add to the information we have about our customers (e.g., adding address 
    information). This may improve our ability to contact you and improve the relevancy of our marketing 
    by providing better product recommendations or special offers that we think will interest you.
  </p>
  <p><b>
      Public Forums
    </b>
    Any information you submit in a public forum (e.g., a blog, chat room, or social network) can be 
    read, collected, or used by us and other participants, and could be used to personalize your 
    experience. You are responsible for the information you choose to submit in these instances.
  </p>


  <h2>HOW AND WHY WE COLLECT INFORMATION</h2>
  <p><b>
      Product and Service Fulfillment
    </b>
	<ul>
	  <li>Fulfill and manage orders, payments, returns/exchanges, or requests for 
	    information, or to otherwise serve you.</li>
	  <li>Provide any requested services.</li>
	  <li>Administer sweepstakes and contests.</li>
	</ul>
  </p>
  <p><b>
      Marketing Purposes
    </b>
	<ul>
	  <li>Deliver newsletters, receipt messages, e-mails, and mobile 
	    messages.</li>
	  <li>Send marketing communications and other information regarding products, services and 
	    promotions.</li>
	  <li>Administer promotions.</li>
	</ul>
  </p>
  <p><b>
      Internal Operations
    </b>
	<ul>
	  <li>Improve the effectiveness of the Sites, mobile experience, and marketing efforts.</li>
	  <li>Conduct research and analysis, including focus groups and surveys.</li>
	  <li>Perform other business activities as needed, or as described elsewhere in this policy.</li>
	</ul>
  </p>
  <p><b>
      Fraud Prevention
    </b>
	<ul>
	  <li>To prevent fraudulent transactions, monitor against theft and otherwise protect our customers 
	    and our business.</li>
	</ul>
  </p>
  <p><b>
      Legal Compliance
    </b>
	<ul>
	  <li>To assist law enforcement and respond to subpoenas.</li>
	</ul>
  </p>


  <h2>HOW WE SHARE THE INFORMATION WE COLLECT</h2>
  <p><b>
      General Policy
    </b>
	We do not sell or rent customer information to third parties; except, under limited circumstances 
	outlined below, we may share information with third parties.
  </p>
  <p><b>
      The DTCO Family
    </b>
	We share information we collect with the DTCO family, which includes all of our subsidiaries and 
	affiliates. The DTCO family may use this information to offer you products and services that may 
	be of interest to you.
  </p>
  <p><b>
      Service Providers
    </b>
	We may share information with companies that provide support services to us (such as a printer, 
	e-mail, mobile marketing, or data enhancement provider) or that help us market our products and 
	services. These companies may need information about you in order to perform their functions. 
	These companies are not authorized to use the information we share with them for any other purpose.
  </p>
  <p><b>
      Legal Requirements
    </b>
	We may disclose information you provide to us when we believe disclosure is appropriate to comply 
	with the law, including to meet national security or law enforcement requirements; to enforce or 
	apply applicable terms and conditions and other agreements; or to protect the rights, property or 
	safety of our company, our customers or others.
  </p>
  <p><b>
      When You Direct Us
    </b>
	At your direction or request, we may share your information.
  </p>
  <p><b>
      Business Transfers
    </b>
	If some or all of our business assets are sold or transferred, we generally would transfer the 
	corresponding information regarding our customers. We also may retain a copy of that customer 
	information.
  </p>


  <h2>You may exercise following rights with regard to your personal information collected by DTCO:</h2>
  <ul>
  	<li>You may inquire and request for a review or make duplications of your personal information 
  	  but our may charge necessary handling fee.</li>
  	<li>You may request to supplement or correct your personal information. </li>
  	<li>In the event of a dispute regarding the accuracy of personal information, you may request us 
  	  to discontinue processing or using your personal information. However, the preceding sentence 
  	  may not be applicable when it is necessary for the performance of an official duty or fulfillment 
  	  of a legal obligation and has been recorded, or when it is agreed by you in writing.</li>
  	<li>You may request us to delete, discontinue processing or using your personal information when 
  	  the specific purpose no longer exists or time period expires. However, the preceding sentence 
  	  may not be applicable when it is necessary for the performance of an official duty or fulfillment 
  	  of a legal obligation and has been recorded, or when it is agreed by you in writing. </li>
  </ul>


  <h2>PRIVACY POLICY REVISIONS</h2>
  <p>By accessing the Site or interacting with us, you consent to our use of information that is 
    collected or submitted as described in this Privacy Policy. We may change or add to this Privacy 
    Policy, so we encourage you to review it periodically.</p>
  <br/>
  <p>This Privacy Policy was last updated on April 20, 2017.</p>

</div>