<h2><a id="zh-tw" href="#zh-tw"><i class="fa fa-link"></i> 中文</a> - 前言</h2>
<p>在全球推動生技醫藥Open Innovation的趨勢中，台灣研發型生技新藥發展協會 (下稱「TRPMA」) 與薩摩亞商數金科技有限公司 (下稱「DTCO」) 共同開發「生技醫藥產學合作信任平台Bio IPSeeds Trusted
  Platform」(下稱「本平台」，與TRPMA及DTCO以下合稱「我們」)，運用區塊鏈智財公證、追溯交易資訊的特性，協助產學建立溝通平台，提供學研界登錄研發種子，供產業界快速蒐尋，共同開發、技術轉移、或尋求資金，以促成國內產學合作，縮短新藥及新興醫材研發及上市時程。</p>

<p>我們歡迎台灣學、研及產業界醫藥先進加入本平台成為會員以及使用本平台所提供之所有相關服務（下稱「本服務」），敬請本平台及/或本服務之使用者（包括已由我們認證核准之會員及其他使用者，下稱「您」）詳閱本生技醫藥產學合作信任平台使用協議(下稱「本協議」)之內容，並請您遵守本協議各項條款</p>

<h2>一、 本平台介紹；接受協議</h2>
<ol>
  <li>本平台係由TRPMA與DTCO所共同提供之線上產學合作溝通平台。</li>
  <li>只要您訪問、接觸或以其他任何形式使用本平台，無論是否已註冊為會員（下稱「平台會員」），即表示您已閱讀、瞭解並同意接受本協議之所有內容。此外，您必須閱讀、瞭解並同意接受本協議之所有內容，才能申請註冊成為平台會員；在經過我們審核並認證核准為平台會員後，方得使用本平台所提供之所有相關服務（下稱「本服務」）。</li>
  <li>我們有權隨時修改或變更本協議內容，並將於本平台適當處公告修改或變更後之內容，而不另為分別通知；您應隨時注意該等修改或變更。只要您於任何修改或變更後繼續使用本平台及/或本服務，即表示您已閱讀、瞭解並同意接受修改或變更後之本協議內容。</li>
  <li>如果您不同意本協議之全部或一部，或者您所屬的國家或地域排除本協議之全部或一部之適用時，您應立即停止使用本平台及/或本服務。</li>
</ol>

<h2>二、 使用及註冊</h2>
<ol>
  <li>本平台實施實名制，我們得隨時以我們認為適當之方式確認使用者身分。您如以非屬自然人身分使用本平台及/或本服務，我們得隨時要求您提供我們認為適當之資訊（包括但不限於授權書或工商憑證等）以驗證您有權代表所屬之法人、機構、團體或組織使用本平台及/或本服務。</li>
  <li>為使用本平台及/或本服務，或為申請成為平台會員，您應依本平台上註冊表或其他指示，提供您所屬法人、機構、團體或組織及/或個人正確、最新及完整的資料。</li>
  <li>您應隨時維護及即時更新您所屬法人、機構、團體或組織及/或個人資料，確保前述資料為正確、最新及完整。</li>
  <li>您瞭解並同意，我們保有決定平台會員資格、審核申請、認證核准成為平台會員及決定其他相關程序及事宜之最終權限。</li>
</ol>

<h2>三、 個人資料保護法應告知事項說明</h2>
<p>我們將向您蒐集個人資料，並依據個人資料保護法（下稱「個資法」）規定向您告知下列事項，敬請詳閱：</p>
<ol>
  <li>蒐集目的：包括但不限於(1)平台會員管理、本平台營運及其他與本平台相關之事宜、(2)資通安全及管理；(3)履行本協議義務或行使本協議權利；及(4)契約、類似契約或法律關係事務。</li>
  <li>蒐集個人資料類別：包括但不限於識別個人(姓名、身分證字號、職業、聯絡方式)或識別財務(信用卡或簽帳卡之號碼、其他金融代碼或帳戶)等得以直接或間接識別個人的相關資訊。</li>
  <li>個人資料利用之期間、地區、對象及方式：(1)期間：個人資料蒐集之特定目的存續期間、依相關法令（包括但不限於商業會計法等）或契約約定之保存期限或我們因提供本服務所須之保存期間；(2)地區：中華民國、我們及我們的分支機構所在地、國際傳輸個人資料之接收者所在地或與我們有合作往來之人員或機構營業處所所在地；(3)對象：我們、我們的關係企業或相關合作對象，以及前述人等所屬代表人、代理人及受僱人；及(4)方式：書面、電子文件、電話、傳真、以自動化或其他非自動化之利用方式。</li>
  <li>依據個資法第3條規定，您就我們所保有您之個人資料，得行使下列權利：(1)得向我們查詢、請求閱覽或請求製給複製本，而我們依法得酌收必要成本費用；(2)得向我們請求補充或更正；及(3)得向我們請求停止蒐集、處理、利用及刪除。</li>
  <li>依法您得自由選擇是否提供個人資料，惟若您不提供，可能致使您無法使用本平台及/或本服務之全部或一部。</li>
</ol>

<h2>四、 平台會員帳號、密碼及安全</h2>
<p>平台會員承諾應維持使用者密碼及帳號的機密安全，利用該密碼及帳號所進行的一切行動，平台會員應負完全的責任。平台會員瞭解並同意以下事項：</p>
<ol>
  <li>平台會員完成註冊及認證後，將自訂一組專屬之區塊鏈金鑰密碼 (Pass Phrase)，應由平台會員自行記錄及保管，我們不負保管責任，我們不儲存亦無法提供該金鑰之記錄及查詢服務。</li>
  <li>平台會員之帳號密碼專屬於平台會員個人，不得轉讓、出借予第三人或使第三人繼承。</li>
  <li>平台會員的密碼或帳號遭到盜用或有其他任何安全問題發生時，平台會員須立即通知我們。</li>
  <li>平台會員應於每次使用本平台及/或本服務完畢後，均登出平台會員帳號並結束帳號連線。</li>
</ol>

<h2>五、 守法義務及承諾</h2>
<p>您承諾絕不為任何非法目的或以任何非法方式使用本平台及/或本服務，並承諾遵守中華民國相關法令及一切使用網際網路之國際慣例；您若係中華民國以外之使用者，除承諾遵守前述法規及慣例外，並同意遵守所屬國家或地域之法令。您同意並保證不得利用本平台及/或本服務從事下列之行為，包括但不限於：</p>
<ol>
  <li>公布或傳送任何誹謗、侮辱、具威脅性、攻擊性、不雅、猥褻、不實、違反公共秩序或善良風俗或其他不法之文字、圖片或任何形式的檔案、資料或數據；</li>
  <li>侵害他人名譽、隱私權、營業秘密、商標權、著作權、專利權、其他智慧財產權及其他權利及利益；</li>
  <li>違反依法律或契約所應負之義務；</li>
  <li>冒用他人名義使用本平台及/或本服務；</li>
  <li>傳輸或散佈電腦病毒；</li>
  <li>從事不法交易行為或張貼虛假不實、引人犯罪之訊息；</li>
  <li>濫發廣告郵件、訊息、文字、圖片或其他任何形式的檔案、資料或數據；</li>
  <li>任何侵害他人權益之行為；</li>
  <li>任何違反法令、法院裁判、命令或具有拘束力之行政措施之行為；及</li>
  <li>其他任何我們認為不適當之行為。</li>
</ol>

<h2>六、 使用者內容</h2>

<p>由使用者公開張貼或私下傳送的資訊、資料、文字、軟體、音樂、音訊、照片、圖形、視訊、信息或其他任何形式的檔案或數據（下稱「使用者內容」），均由使用者內容之提供者自負責任。您充分瞭解並同意，我們並未事先審查且無法控制使用者內容，因此我們並不保證使用者內容無任何事實瑕疵（包括但不限於商業適售性等）或法律瑕疵（包括但不限於安全性、可靠性、正確性、完整性、有效性、特定目的的適用性、安全等相關缺陷、錯誤或程式錯誤、權利完整、權利侵害等），且我們亦未對使用者內容有任何擔保。您充分瞭解並同意，使用本平台時，可能會接觸到令人不快、不適當、令人厭惡之使用者內容。在任何情況下我們均不為任何使用者內容負責，包括但不限於任何錯誤或遺漏，以及經由本平台張貼、發送電子郵件或傳送而衍生之任何損失或損害。您充分瞭解並同意我們有權隨時依自身考量，禁止、拒絕、移除或以任何其他方式處理任何使用者內容。您充分瞭解並同意若您使用任何使用者內容，必須自行就使用者內容之正確性、完整性、實用性或其他任何方面加以評估並承擔所有風險。您充分瞭解並同意，我們依據法令或政府機關之要求，或基於以下目的之合理必要範圍內，得加以保存及揭露使用者內容：</p>
<ol>
  <li>執行本協議；</li>
  <li>回應任何侵害第三人權利之主張；</li>
  <li>保護本平台及其使用者及公眾之權利、財產或個人安全；及</li>
  <li>其他任何我們認為適當之目的。</li>
</ol>

<h2>七、 合約簽署或其他交易行為</h2>
<p>您可能透過本平台與他人進行合約簽署或其他交易行為，前述交易行為之法律關係及效力均僅存在您與他人之間；除另有約定外，我們不介入前述交易行為，對於前述交易行為之交易標的物或其他任何內容亦不負任何擔保責任。</p>

<h2>八、 智慧財產權的保護</h2>
<p>本平台所使用之軟體或程式、網站上所有內容，包括但不限於文字、圖片、照片、檔案、資訊、資料、網站架構、網站畫面的安排、網頁設計等（下稱「平台內容」）及平台內容之衍生物，均由我們及/或其他權利人依法擁有其智慧財產權，包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。除經我們及/或其他權利人之事前書面同意外，任何人均不得逕自就平台內容為引用、轉載、使用、修改、重製、公開播送、改作、散布、發行、公開發表、進行還原工程、解編或反向組譯。您不因加入成為平台會員而取得我們及/或其他權利人關於平台內容或其他任何智慧財產權之明示或默示之授權。尊重智慧財產權是您應盡的義務，如有違反，您應對我們及/或權利人負擔損害賠償責任（包括但不限於商譽、訴訟費用及律師費用等）。</p>

<h2>九、 免責聲明</h2>
<p>您應自行考量是否使用本平台及/或本服務，且同意自行負擔因使用本平台及/或本服務所衍生之風險（包括但不限於因關於本平台及或/本服務之任何資料之瀏覽、存取而導致電腦系統、網路存取、下載或播放設備之任何損壞或資料流失），並拋棄對我們提出請求或採取任何法律行動之權利。您瞭解並同意，不論明示或默示，我們均未保證本平台及/或本服務不具有事實瑕疵（包括但不限於商業適售性等）或法律瑕疵（包括但不限於安全性、可靠性、正確性、完整性、有效性、特定目的的適用性、安全等相關缺陷、錯誤或程式錯誤、權利完整、權利侵害等），我們並無清除前述瑕疵之義務，我們亦不對本平台及/或本服務為任何擔保。您經由本平台及/或本服務所取得之任何資訊（包括但不限於本協議之前言及任何條款），無論其呈現形式（包括但不限於書面、電腦通訊或口頭）為何，均不得被視為係我們之擔保。本平台及/或本服務乃依其「現狀」及「提供使用時」之基礎提供您使用。您瞭解並同意，我們不擔保以下事項：</p>
<ol>
  <li>本平台及/或本服務符合您的需求；</li>
  <li>本平台及/或本服務不受干擾、及時提供、操作流程安全可靠或無錯誤；</li>
  <li>您使用本平台及/或本服務而取得之結果為正確、真實或可靠；及</li>
  <li>您經由本平台及/或本服務所進行之交易、受讓或取得之任何產品、權利、利益、義務、服務、資訊或其他資料符合您的期望。</li>
</ol>

<h2>十、 停止、中斷提供服務</h2>
<p>您瞭解並同意，在下列情形，我們得隨時暫停或中斷本平台及/或本服務之全部或一部份，如對您造成任何直接或間接之損害及損失，我們均不負任何責任：</p>
<ol>
  <li>依據法令或政府機關之要求時；</li>
  <li>對本平台及/或本服務相關軟硬體設備進行搬遷、更換、升級、保養或維修時；</li>
  <li>您有任何違反法令或本協議之情形時；及</li>
  <li>天災或其他不可抗力之情形時。</li>
</ol>
<p>本平台及/或本服務之系統或功能例行性之維護、改置或變動所發生之暫停或中斷，我們得於該暫停或中斷前以電子郵件、公告或其他我們認為適當之方式告知您。</p>

<h2>十一、 拒絕或終止會員的使用</h2>
<p>您瞭解並同意我們得基於本協議之約定、維護交易安全或其他我們認為必要適當之考量，在未通知您的情況下，隨時拒絕或終止您的平台會員的密碼、帳號或您對本平台及/或本服務之使用，且您同意我們並不因前述行為而對您負擔任何義務或責任。您瞭解並同意，在您違反本協議或其他我們認為有必要之情形下，我們將採取一切我們所認為適當之措施，惟此不代表我們有義務採取前述措施。</p>

<h2>十二、 資訊儲存</h2>
<p>本平台及/或本服務之資訊處理與儲存均在伺服器上完成，該伺服器可能位於任何國家或地域；透過繼續使用本平台及/或本服務，即表示您瞭解及同意您的資訊可能被跨國傳輸並且亦瞭解及同意我們在您的所在地以及所在地以外之國家或地域處理與儲存您的資訊。</p>

<h2>十三、 責任</h2>
<ol>
  <li>您因使用本平台及/或本服務所從事之所有行為及其結果，您應自行負擔一切責任。</li>
  <li>您瞭解並同意，若您使用本平台及/或本服務之行為違反法令或本協議，應對我們負責；倘我們因此受有損害及/或損失（包括但不限於商譽、訴訟費用及律師費用），您應對此負賠償責任。</li>
  <li>您瞭解並同意，除有故意或重大過失時可能須以向您依本協議所收取之給付數額為限度負賠償責任外，我們及我們的代表人、代理人及受僱人等，無須為您使用本平台及/或本服務時所發生之任何直接、間接、附隨或衍生之損害或損失負擔賠償責任。前述關於賠償責任之約定，並非對故意或重大過失責任之預先免除，而係您與我們先行合意決定賠償之範圍與數額。</li>
</ol>

<h2>十四、 個別條款之效力</h2>
<p>本協議所定之任何條款被有權機關認定無效時，不影響其他條款之效力。</p>

<h2>十五、 準據法與管轄法院</h2>
<p>本協議之解釋與適用，以及與本協議、本平台及/或本服務有關的爭議，均應依照中華民國法律予以處理，並以台灣台北地方法院為第一審管轄法院。</p>

<h2>十六、 標題</h2>
<p>本協議各條款之標題不影響各條款之內容，效力悉依各條款之文字內容為準。</p>

<h2>十七、 語言</h2>
<p>如本協議有任何翻譯與中文版本存有矛盾，或包含額外條款，或與中文版本有所差異，悉應以中文版本為準。</p>

<h2>十八、 未盡事宜</h2>
<p>您瞭解且同意，有關本協議、本平台及/或本服務之未盡事宜，我們保有最終決定及解釋權。</p>

<p>若您對於本協議、本平台及/或本服務有任何問題或疑慮，敬請以電子郵件<a href="mailto:support@ipseeds.net">support@ipseeds.net</a>或 Contact us（<a href="<%= contact_us_path(@conn, :new, @locale) %>">連結</a>）與我們聯絡。</p>
<p>電話：(02)2783-1262；電子郵件：<a href="mailto:ipseeds@trpma.org.tw">ipseeds@trpma.org.tw</a>。</p>

