<h2><a id="en" href="#en"><i class="fa fa-link"></i> English</a> - Preface</h2>
<p>As open innovation sets a global trend, the Taiwan Research-based Biopharmaceutical Manufacturers Association (TRPMA)
  and the Digital Treasury Corporation (DTCO) (hereafter “we”, “us” or “our”) jointly develop the Bio IPSeeds Trusted
  Platform (hereafter the “platform”), which uses the features of the blockchain technology, such as IP notarization and
  traceable transaction information, to help facilitate the communication between the academia and the industry. The
  platform allows researchers to register their research results, and the industry to quickly search for and locate
  suitable development projects. The platform aims to expedite the development and marketing processes of new drugs and
  new medical devices by matching the collaboration requirements between the academia and the industry, such as through
  joint development, technology transfer or fundraising.</p>

<p>We welcome any individuals from the academia or the industry to register as a member of this platform and use the
  services provided by the platform (hereafter the “service”). We would like to advise the users of the platform and/or
  the service (including all authorized members and other users, hereafter “you” or “your”) to carefully read the “Terms
  of Use” (hereafter the “agreement”) and comply with the articles in the agreement.</p>

<h2>I. Introduction of the Platform : Accept the Agreement</h2>
<ol>
  <li>This platform is an online communication platform for the collaboration between the academia and the industry.
    This platform is jointly provided by TRPMA and DTCO.
  </li>
  <li>When you visit, contact or use the platform in any ways, you are subject to the terms of use. It indicates that
    you have read, understood and accepted all contents in the agreement, no matter whether you are a registered member
    (hereafter the “member”) or not. To apply for membership, you must firstly read, understand and accept all contents
    of the agreement. After your application is reviewed and approved by us and you become an authorized member, you can
    then access all relevant services provided by the platform (hereafter the “service”).
  </li>
  <li>We reserve the rights to modify or change the contents of this agreement at any time. We will announce the revised
    contents of the agreement in an appropriate site of the platform. Members will not be informed of such changes
    personally. Please pay attention to the modifications or changes of the contents of the agreement. By using the
    platform and/or the service after the contents of the agreement are modified or changed, it indicates that you have
    read, understood and accepted the modified or changed contents.
  </li>
  <li>If you don’t agree with or accept the whole or a part of the agreement, or if the whole or a port of the agreement
    is not applicable in your country or region, you should stop using the platform and/or the service immediately.
  </li>
</ol>

<h2>II. Use and Registration</h2>
<ol>
  <li>The platform implements a real-name system. We may take appropriate measures to verify a user’s identity at any
    time. If you use the platform and/or the service as a non-natural person, we can, at any time, request appropriate
    information from you (including, without limitation, authorization letters or business certificates) in order to
    verify that you are a delegate authorized by a legal person, institute, group or organization to use the platform
    and/or the service.
  </li>
  <li>In order to use the platform and/or the service, or to register as a member, you must follow the registration form
    or other instructions and provide the most accurate, recent and complete personal information and/or the information
    of your associated legal person, institute, group or organization.
  </li>
  <li>You should maintain and update your personal information and/or the information of your associated legal person,
    institute, group or organization in a timely manner and ensure the data is most accurate, recent and complete.
  </li>
  <li>You understand and agree that we have the ultimate right to decide the qualifications for membership, to evaluate
    applications, to approve the membership and to decide relevant procedures and matters.
  </li>
</ol>

<h2>III. Personal Data Protection Act</h2>
<p>As we are going to collect your personal data, we have the obligation to inform you of the following details pursuant
  to the Personal Data Protection Act. Please read them carefully.</p>
<ol>
  <li>The purposes of data collection: Including, without limitation, (1) to manage membership, to operate the platform
    or to resolve other platform-related matters; (2) to maintain information safety; (3) to fulfil the obligations or
    to exercise the rights according to the agreement; and (4) to resolve contractual, contract-like or legal related
    matters.
  </li>
  <li>The types of data to be collected: data that can be used to directly or indirectly identify a person, including,
    without limitation, personal identity (name, ID No., profession, contact details) or financial identity (credit card
    or debit card details, bank code or account No.)
  </li>
  <li>How the personal data is to be used: (1) when: the personal data shall be retained for no longer than the period
    necessary for its specific purpose, the period as stipulated by laws (including, without limitation, the Business
    Accounting Law), the period as specified by the contract, or the period required for the provision of the service;
    (2) where: in R.O.C, the locations of our organization and our branches, the locations of the recipients of the
    personal data through international transmission, or the locations of persons or institutes in collaboration with
    us; (3) who: we, our affiliated businesses or collaborative partners, as well as their delegates, agencies and
    employees; (4) how: in written forms, electronic files, telephone, fax, or other automatic or non-automatic methods.
  </li>
  <li>According to Article 3 of the Personal Data Protection Act, you can exercise the following rights to the personal
    data retained by us: (1) you can request the access to your personal data or a duplicate copy of your personal data
    from us. By law, we can charge you a fee for necessary cost; (2) you can request us to add or correct the data; and
    (3) you can request us to delete or to stop collecting, processing and/or using the data.
  </li>
  <li>By law, you can freely decide whether to provide the personal data or not. However, without the personal data, you
    may not be able to use the whole or a port of the platform and/or the service.
  </li>
</ol>

<h2>IV. Member Account, Pass Phrase and Security</h2>
<p>Members should keep their accounts and pass phrases confidential and take the responsibilities for all activities
  that occur under the member’s account and pass phrase. Members understand and agree to the following matters:</p>
<ol>
  <li>After completing the registration and certification procedure, the member will be asked to set a unique Pass
    Phrase for accessing the blockchain. The member should keep the Pass Phrase safe. We are not responsible for keeping
    your Pass Phrase or providing enquiry service about the records of your Pass Phrase.
  </li>
  <li>Member Account and Pass Phrase belong to the member only. They cannot be transferred or lent to any third party or
    person, nor can they be inherited.
  </li>
  <li>Members should inform us immediately of stolen Account or Pass Phrase and any security-related issues.</li>
  <li>Members should completely log out and disconnect from the account after each use of the platform and/or the
    service.
  </li>
</ol>

<h2>V. Member’s Obligations and Commitments</h2>
<p>You promise that you will not use the platform and/or the service for any illegal purposes or in any illegal ways.
  You also promise to comply with relevant regulations imposed by the R.O.C Government and all international practices
  regarding the use of the internet. If you are a member located outside the R.O.C, you promise to comply with the
  regulations imposed by your local government in addition to the aforementioned regulations and practices. You also
  agree and guarantee that you will not use the platform and/or the service for the following activities, including but
  not limited to:</p>
<ol>
  <li>To publish or distribute messages, texts, pictures or any forms of files, information or data which are
    slanderous, insulting, threatening, offensive, indecent, salacious or false or in violation of public orders or
    common decency;
  </li>
  <li>To damage other people’s reputation or to infringe privacy, business secrets, trademark rights, copyrights, patent
    rights, intellectual property rights or any other rights and interests;
  </li>
  <li>To violate legal or contractual obligations;</li>
  <li>To use the platform and/or the service under other people’s name;</li>
  <li>To transmit or spread computer viruses;</li>
  <li>To engage in illegal transactions, or to post messages which are false or have an effect of inducing people to
    commit a crime;
  </li>
  <li>To circulate junk mails, messages, texts, pictures or any forms of files, information or data;</li>
  <li>To behave in a way that infringes other people’s rights;</li>
  <li>To behave in a way that breaches any laws, judicial rules, orders or legally binding administrative measures;</li>
  <li>To behave in a way deemed inappropriate by us.</li>
</ol>

<h2>VI. User’s Contents</h2>
<p>The responsibility of the materials post publicly or sent privately by users (including information, data, texts,
  software, music, photos, pictures, messages, voice messages, video messages and any forms of files and data, hereafter
  “user’s contents”) lies with the person who provides the contents. You fully understand and agree that we do not
  preview or control the user’s contents; hence, we cannot warrant that the user’s contents are free from factual flaws
  (including, without limitation, warranties of merchantability) or legal flaws (including, without limitation, flaws or
  mistakes concerning safety, reliability, accuracy, integrity, validity, security and fitness for a particular purpose,
  programming errors, and the integrity or infringement of rights). We give no warranty on the user’s contents. You
  fully understand and agree that you may encounter unpleasant, inappropriate or irritating user’s contents when you use
  the platform. Under no circumstances, we are responsible for any user’s contents, including but not limited to any
  mistakes or oversights, as well as damages or losses derived from the materials or emails transmitted or posted via
  the platform. You fully understand and agree that we have the right to ban, reject, remove or use other methods to
  process any user’s contents based on our considerations. You fully understand and agree that when you use any user’s
  contents, you are at your own risk. It is your responsibility to evaluate the accuracy, integrity, practicability or
  other features of the user’s contents. You fully understand and agree that we may retain and disclose any user’s
  contents, if such act is required by laws or by the government or is appropriate for the following purposes:</p>
<ol>
  <li>To carry out the agreement;</li>
  <li>To respond to claims of the infringement of a third person’s rights;</li>
  <li>To protect the rights, properties or security of the platform, other users or the public; and</li>
  <li>To fulfil any purposes deemed appropriate by us.</li>
</ol>

<h2>VII. Signing Contracts or Engaging in Other Transaction Activities</h2>
<p>You may decide to sign a contract or to engage in other transaction activities on this platform. The legal
  relationship and the biding power of the aforementioned behaviour work only between you and the third party. We do not
  involve in the aforementioned transaction activities unless specified otherwise. We disclaim all warranties on the
  target or other contents of the aforementioned transaction activities.</p>

<h2>VIII. Protection of Intellectual Property</h2>
<p>Regarding the software, programs and all contents on the site of the platform, (including, without limitation, texts,
  pictures, photos, files, information, data, the structure of the site and the layout and design of the webpages,
  hereafter the “platform contents”) and all derivatives of the platform contents, we and/or other right holders own the
  intellectual property rights, including, without limitation, trademark rights, patent rights, copyrights, business
  secrets and special proprietary technology, etc. Unless with prior written consent from us and/or other right holders,
  no one can cite, forward, use, revise, reproduce, publicly broadcast, convert, distribute, publish, publicly present
  the platform contents, nor can the contents be subjected to reverse engineering, coding or reverse translation. Being
  a member does not indicate that you will obtain from us and/or other right holders, either expressed or implied, the
  authorization of the platform contents or any forms of the intellectual property rights. You have an obligation to
  respect intellectual property rights. If you are in breach of the intellectual property rights, then you are liable
  for any consequential damages to us and/or other right holders (including, without limitation, goodwill, litigation
  fees, legal fees, etc.)</p>

<h2>IX. Disclaimers</h2>
<p>You should make your own judgement on whether to use the platform and/or the service. You agree to take the risk of
  using the platform and/or the service (including, without limitation, the damage to your computer system or equipment
  for network accessing, downloading or broadcasting, or any data losses caused by your viewing or saving data from the
  platform and/or the service). You agree to waive your rights of taking any legal actions against or making appeals to
  us. You understand and agree that we do not give, either expressed or implied, any guarantee that the platform and/or
  the service are free from factual flaws (including, without limitation, warranties of merchantability) or legal flaws
  (flaws or mistakes concerning safety, reliability, accuracy, integrity, validity, security or fitness for a particular
  purpose, programming errors, and the integrity or infringement of rights). We are not obliged to clear the
  aforementioned flaws, nor do we provide any warranty on the platform and/or the service. No information received by
  you from the platform and/or the service (including, without limitation, all articles previously mentioned in the
  agreement) will create a warranty from us, no matter in what form the information is received (including, without
  limitation, in written form, via telecommunication, or orally) . The platform and/or the service are provided for you
  “as it currently is” and “as when you use it”. You understand and agree that we do not guarantee you the following
  matters:</p>
<ol>
  <li>The platform and/or the service can meet your needs;</li>
  <li>The platform and/or the service provide timely service and safe/reliable operational procedures, or are free from
    interference and errors;
  </li>
  <li>The results obtained from using the platform and/or the service are accurate, true and reliable; and</li>
  <li>The products, rights, benefits, liabilities, services, information or any data which are traded with, transferred
    to or obtained by you via the platform and/or the service meet your expectation.
  </li>
</ol>

<h2>X. Service Suspension or Interruption</h2>
<p>You understand and agree that we may temporarily suspend or interrupt the whole or a part of the platform and/or the
  service under the circumstances stated below. We are not liable for any direct or indirect consequential damages or
  losses occurring to you.</p>
<ol>
  <li>As required by laws or by the government;</li>
  <li>During the migration, replacement, upgrade, maintenance or repair of the software or hardware of the platform
    and/or the service;
  </li>
  <li>When you are involved in any violation of laws, regulations or the agreement; and</li>
  <li>As a result of natural disasters or other force majeure.</li>
</ol>
<p>For suspension or interruption caused by routine maintenance, replacement or changes, we may inform you of such
  suspension or interruption in advance via emails, announcements or other appropriate methods.</p>

<h2>XI. Membership Rejection or Termination</h2>
<p>You understand and agree that we may, without giving any prior notice, reject or terminate your Pass Phrase, Account
  or your access to the platform and/or the service on grounds of the articles in the agreement, transaction security or
  any other considerations deemed appropriate by us. You agree that we assume no liabilities to you for any consequences
  of the aforementioned act. You understand and agree that we will take all measures we deem appropriate when you breach
  the agreement or under circumstances deemed necessary by us. However, it does not imply that we have the obligation to
  carry out the aforementioned measures.</p>

<h2>XII. Information Storage</h2>
<p>The platform and/or the service process and store its data on a server which can be located in any country or region.
  By using the platform and/or the service, it indicates that you understand and agree that your data can be transmitted
  across the borders. You also understand and agree that we process and store your data in the country where you are, as
  well as outside your country.</p>

<h2>XIII. Responsibilities</h2>
<ol>
  <li>You are fully responsible for your conduct and the consequences of your use of the platform and/or the service.
  </li>
  <li>You understand and agree that you are liable to us if your use of the platform and/or the service constitutes a
    breach of laws or the agreement. You are liable for the compensation for any consequential damages and/or losses
    occurring to us (including, without limitation, good will, litigation fees and legal fees).
  </li>
  <li>You understand and agree that in no event will we, our delegates, agencies and employees be liable to you for
    direct, indirect, consequential or derived damages or losses due to your use of the platform and/or the service,
    unless in situations of deliberateness or serious mistakes when we are liable to you for a limited compensation
    pursuant to the agreement. The agreement on limited liability is not about prior exemption from deliberateness or
    serious mistakes. Instead, it is a prior bilateral agreement on the scope and amount of the compensation.
  </li>
</ol>

<h2>XIV. The Validity of Individual Articles</h2>
<p>In situations where an article in the agreement deemed invalid by the authority, it does not affect the validity of
  other articles.</p>

<h2>XV. Legal Basis and the Court of Competent Jurisdiction</h2>
<p>The explanation and application of the agreement and all disputes about the platform and/or the service should be
  handled according to the laws imposed by the R.O.C Government. The Taipei District Court of the R.O.C is the court of
  competent jurisdiction for the first instance.</p>

<h2>XVI. Article Headings</h2>
<p>The heading of each article in the agreement has no effect on its contents. The validity of each article is based on
  the text in its contents.</p>

<h2>XVII. Language</h2>
<p>In situations where there are conflicts in the agreement between the Chinese version and other language translations,
  for example additional articles or difference in texts, the Chinese version prevails over other translations.</p>

<h2>XVIII. Unstated Matters</h2>
<p>You understand and agree that we have the final say for all unstated matters about the agreement, the platform and/or
  the service.</p>

<p>For any enquires or concerns about the agreement, the platform and/or the service, please contact us via email: <a href="mailto:support@ipseeds.net">support@ipseeds.net</a> or contact us (<a href="<%= contact_us_path(@conn, :new, @locale) %>">link</a>).</p>
<ul>
  <li>Telephone: (02)2783-1262</li>
  <li>Email: <a href="mailto:ipseeds@trpma.org.tw">ipseeds@trpma.org.tw</a></li>
</ul>

