<div class="w1200 cont terms_of_use">
  <h1>BioIPSeeds Trusted Platform Terms of Use<br>
    生技醫藥產學合作信任平台使用協議</h1>
  <ul class="language-menu">
    <li><i class="fa fa-chevron-circle-right"></i> <a href="#en">English</a></li>
    <li><i class="fa fa-chevron-circle-right"></i> <a href="#zh-tw">中文</a></li>
  </ul>

  <%= render "terms_en.html", assigns %>

  <hr>

  <%= render "terms_zh_tw.html", assigns %>
</div>