<p><%= link gettext("Download Google Chrome"), to: "https://www.google.com/chrome/browser/desktop/",
            target: :_blank %></p>
<p><%= link gettext("Download Mozilla Firefox"), to: "https://www.mozilla.org/en-US/firefox/new/",
            target: :_blank %></p>
