<div class="alert alert-danger">
  <p><%= Ipseeds.BrowserHelpers.partially_supported_browser_message() %></p>
  <p><%= @additional_message %></p>
  <%= render Ipseeds.SharedView, "_download_browsers.html" %>
</div>