<h2><%= gettext "Edit Admin User" %></h2>

<%= render "form.html", changeset: @changeset,
                        action: admin_admin_user_path(@conn, :update, @locale, @admin_user) %>

<%= link gettext("Back"), to: admin_admin_user_path(@conn, :index, @locale) %>
