<h2><%= gettext "Admin Users" %></h2>
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th>#</th>
    <th><%= gettext "Username" %></th>
    <th><%= gettext "Actions" %></th>
  </tr>
  </thead>
  <tbody>
  <%= for admin_user <- @admin_users do %>
    <tr>
      <td><%= admin_user.id %></td>
      <td><%= admin_user.username %></td>
      <td>
        <%= link gettext("Edit"), to: admin_admin_user_path(@conn, :edit, @locale, admin_user) %>
        |
        <%= link gettext("Delete"), to: admin_admin_user_path(@conn, :delete, @locale, admin_user),
                 method: :delete, data: [confirm: gettext("Are you sure?")] %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div>
  <%= link gettext("Invite new admin user"), to: admin_admin_user_path(@conn, :new, @locale), class: "btn btn-primary" %>
</div>
