<h2><%= gettext "New Admin User" %></h2>

<%= render "form.html", changeset: @changeset,
                        action: admin_admin_user_path(@conn, :create, @locale) %>

<%= link gettext("Back"), to: admin_admin_user_path(@conn, :index, @locale) %>
