<div class="w1200 cont contact_us">
  <h1 class="text-center">Contact us</h1>

  <div class="desc_area">
  	<h2>Email</h2>
  	<p>Email us at <a class="btn-link" href="mailto:support@ipseeds.net">support@ipseeds.net</a> or use the form below.</p>
  </div>

  <%= render Ipseeds.LayoutView, "_alerts.html", conn: @conn %>

  <%= form_for @changeset, @conn.request_path, fn f -> %>
    <div class="form-group">
      <%= label f, :first_name, class: "control-label" do "First Name:" end %>
      <%= text_input f, :first_name, class: "form-control", required: true %>
      <%= error_tag f, :first_name %>
    </div>

    <div class="form-group">
      <%= label f, :last_name, class: "control-label" do "Last Name:" end%>
      <%= text_input f, :last_name, class: "form-control", required: true %>
      <%= error_tag f, :last_name %>
    </div>

    <div class="form-group">
      <%= label f, :email, class: "control-label"  do "Your Email Address:" end %>
      <%= text_input f, :email, class: "form-control", required: true,
                     pattern: Ipseeds.ValidationHelpers.email_format %>
      <%= error_tag f, :email %>
    </div>

    <div class="form-group">
      <%= label f, :message, class: "control-label"  do "Your Question or Comments:" end %>
      <%= textarea f, :message, class: "form-control", rows: 8, required: true %>
      <%= error_tag f, :message %>
    </div>

    <%= raw Recaptcha.Template.display %>

    <div class="form-group text-center">
      <%= submit "Send Message", class: "but03" %>
    </div>
  <% end %>
</div>