.about h1 {
  margin-bottom: 15px;
}

.about h2 {
  margin-top: 50px;
  margin-bottom: 15px;
}

.about p {
  text-align: justify;
  margin-bottom: 60px;
  &:last-child {
    margin-bottom: 60px;
  }
}

.about .about-logo {
  display: inline-block;
  &.trpma-logo {
    max-width: 200px;
  }
  &.dtco-logo {
    margin-top: 30px;
    max-width: 150px;
  }
}