.cont.contact_us{
  max-width: 768px;
  padding: 10px;
}

.contact_us {

  h1 {
    line-height: 1.5em;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 0;
    font-size: 50px;
  }

  .desc_area{

    margin-bottom: 20px;

    h2 {
      line-height: 1.5em;
    }
  }

  span.help-block{
    color: red;
  }
  
}