.explorer {
  div.row {
    margin: 0;
    &:last-child {
      margin-bottom: 50px;
    }
  }

  h1.detail {
    margin-bottom: 20px;
  }

  span.entry_id {
    font-weight: bold;
    font-size: 18px;
    color: #00468c;
  }

  table.table {
    table-layout: fixed;
    width: 100%;
    td.break-word, th.break-word {
      word-wrap: break-word;

    }
  }

  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #edf6ff;
  }
}