.faq h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

.faq h2 {
  padding: 10px 15px;
  margin-bottom: 15px;
}

.faq p {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 60px;
  }
}

.faq ul.active-list-style {
  list-style: disc;
  margin-left: 18px;
  li {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.faq ol.active-list-style {
  list-style: decimal;
  margin-left: 18px;
  li {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

.faq {
  .list-group {
    a {
      border: none;
      background: transparent;
      color: #00468c;
      cursor: pointer;
      &.active,
      &.active:focus,
      &.active:hover,
      &:hover {
        background: transparent;
        border: none;
        color: #f6aa00;
        font-weight: bold;
      }
    }
  }
  .panel-group {
    display: none;
    &.active {
      display: block;
    }
    > .panel {
      border-radius: 0;
      border: none;
      box-shadow: none;
      > div {
        background: transparent;
        border: none;
        .panel-body {
          border: none;
        }
      }
      .panel-title {
        color: #888888;
        font-size: 18px;
      }
    }
  }
}