.featuresp2 > div {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #00468c;
  vertical-align: top;
  width: 1100px;
  margin: 10px auto;
  border-bottom: 1px solid #ccc;
}

.featuresp2 > div:last-child {
  border: none;
}

.featuresp2 div div {
  display: inline-block;
}

.featuresp2 div div.icon {
  width: 150px;
  margin: 20px 30px;
  vertical-align: middle;
}

.featuresp2 div div.featcon {
  text-align: left;
  width: 850px;
  height: 170px;
  vertical-align: middle;
}

.featuresp2 div p {
  color: #000;
  font-size: 18px;
  font-weight: 100;
  line-height: 18px;
  margin: 15px 0;
}

.featuresp2 div span {
  font-size: 16px;
  font-weight: 100;
  color: #666;
  display: block;

}

.indexp4 {
  text-align:center;
  margin:50px auto 80px auto;
  .tit-features {
    font-size: 36px;
    color: #00468c;
    margin: 120px 0 50px 0;
  }
  div{
    display:inline-block;
  }
  div.row {
    margin-bottom: 50px;
    > div {
      display: block;
      float: left;
      margin: 0 65px;
      border: none;
      &.feature_link {
        background-color: transparent;
        cursor: pointer;
      }
      div.icon {
        width: 150px;
        height: 150px;
        margin: 0 auto;
      }
      .name, 
      .s-desc {
        width: 250px;
      }
    }
  }
}

.indexp4 h1{
  color:#00468c;
  font-weight:bold;
  margin-bottom:20px ;
}
.indexp4 div{
  text-align:center;
  width:260px;
  margin:30px 50px;
  font-size:20px;
  font-weight:bold;
  color:#00468c;
  vertical-align:top;
}
.indexp4 div p{
  color:#000;
  font-size:14px;
  font-weight:100;
  line-height:18px;
  margin-top:15px;
}
.indexp4 div div.icon{
  width:150px;
  height:150px;
  margin:0 25px 10px 25px;
}

.indexp4 div div.icon.a1, .featuresp2 div div.icon.a1 {
  background: url(../images/icon1.gif) no-repeat;
}

.indexp4 div div.icon.a1:hover, .featuresp2 div div.icon.a1:hover {
  background: url(../images/icon1a.gif) no-repeat;
}

.indexp4 div div.icon.a2, .featuresp2 div div.icon.a2 {
  background: url(../images/icon2.gif) no-repeat;
}

.indexp4 div div.icon.a2:hover, .featuresp2 div div.icon.a2:hover {
  background: url(../images/icon2a.gif) no-repeat;
}

.indexp4 div div.icon.a3, .featuresp2 div div.icon.a3 {
  background: url(../images/icon3.gif) no-repeat;
}

.indexp4 div div.icon.a3:hover, .featuresp2 div div.icon.a3:hover {
  background: url(../images/icon3a.gif) no-repeat;
}

.indexp4 div div.icon.a4, .featuresp2 div div.icon.a4 {
  background: url(../images/icon4.gif) no-repeat;
}

.indexp4 div div.icon.a4:hover, .featuresp2 div div.icon.a4:hover {
  background: url(../images/icon4a.gif) no-repeat;
}

.indexp4 div div.icon.a5, .featuresp2 div div.icon.a5 {
  background: url(../images/icon5.gif) no-repeat;
}

.indexp4 div div.icon.a5:hover, .featuresp2 div div.icon.a5:hover {
  background: url(../images/icon5a.gif) no-repeat;
}

.indexp4 div div.icon.a6, .featuresp2 div div.icon.a6 {
  background: url(../images/icon6.gif) no-repeat;
}

.indexp4 div div.icon.a6:hover, .featuresp2 div div.icon.a6:hover {
  background: url(../images/icon6a.gif) no-repeat;
}

.indexp4 div div.icon.a7, .featuresp2 div div.icon.a7 {
  background: url(../images/icon7.gif) no-repeat;
}

.indexp4 div div.icon.a7:hover, .featuresp2 div div.icon.a7:hover {
  background: url(../images/icon7a.gif) no-repeat;
}

.indexp4 div div.icon.a8, .featuresp2 div div.icon.a8 {
  background: url(../images/icon8.gif) no-repeat;
}

.indexp4 div div.icon.a8:hover, .featuresp2 div div.icon.a8:hover {
  background: url(../images/icon8a.gif) no-repeat;
}

div.features {
  text-align: center;
  width: 100%;
  border-top: 10px solid #f6aa00;
  margin-top: 30px;
  background: #00468c;
}

.features h1 {
  color: #fff;
  padding: 50px 0;
  border-bottom: 1px solid #00468c;
}

.features h1 p {
  font-size: 28px;
  letter-spacing: 1px;
  margin-top: 80px;
}

.featuresp2 div {
  height: 200px;
}

.featuresp2 div div {
  display: inline-block;
}