.howitworks-top {
  text-align: center;
  width: 100%;
  border-top: 10px solid #f6aa00;
  margin-top: 30px;
}

.howitworks-top ul {
  width: 1200px;
  margin: 0 auto;
}

.howitworks-top ul li p {
  font-size: 25px;
  font-weight: bold;
}

.howitworks-top ul.nav {
  background: #ccc;
}

.howitworks-top ul.nav li {
  opacity: 0.5;
}

.howitworks-top ul.nav li.active, .howitworks-top ul.nav li:hover {
  opacity: 1;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  background: #00468c;
  opacity: 1;
  border-radius: 0px;
}

.howitworks-top img {
  margin: 10px 0;
}

.howitworks {
  margin: 40px auto;
  font-size: 13px;
  color: #666;
  text-align: left;
}

.howitworks > div {
  display: inline-block;
  width: 390px;
  margin: 0 6px 25px 6px;
  vertical-align: top;
}

.howitworks > div:first-child {
  margin-left: 0px;
}

.howitworks > div:nth-child(3) {
  margin-right: 0px;
}

.howitworks > div:nth-child(4) {
  margin-left: 190px;
}

.howitworks p {
  color: #00468c;
  font-size: 22px;
  font-weight: bold;
  padding: 15px 0 10px 0;
}

.howitworks img {
  vertical-align: top;
}