@charset "utf-8";
/* CSS Document */
html, body {
  width: 100%;
  min-width: 1260px;
  height: 100%;
  min-height: 800px;
  font-family: lato, 微軟正黑體;
  font-size: 15px;
  line-height: 25px;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -210px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.page-wrap:after {
  height: 210px;
}

a, div, p, span {
  font-family: lato, 微軟正黑體;
  text-decoration: none;
}

input, textarea {
  font-family: lato, 微軟正黑體;
  padding: 3px 10px;
  border: 1px solid #ccc;
}

select {
  font-family: lato, 微軟正黑體;
  padding: 2px 10px;
  border: 1px solid #ccc;
}

img {
  vertical-align: middle;
}

.hide, .details .layer.hide, .details .layer2.hide, .details .layer3.hide {
  display: none;
}

/*-------------*/
h1 {
  font-size: 30px;
  font-weight: 400;
  color: #f6aa00;
  padding-top: 50px;
}

h1 small{
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 60px;
  color:#f6aa00;
}

h2 {
  font-size: 25px;
  font-weight: 700;
  color: #f6aa00;
}

h3 {
  color: #00468c;
  font-size: 25px;
}

h4 {
  color: #00468c;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  margin-top: 10px;
}

h5 {
  color: #000;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;

}

h6 {
  font-size: 20px;
  font-weight: 700;
  color: #f6aa00;
  margin: 8px 0 7px 0;
}

.line1 {
  display: inline-block;
  width: 110px;
  border-bottom: 1px solid #f6aa00;
  margin: 10px;
}

.line2 {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  margin: 40px 0 30px 0;
}

.line3 {
  height: 1px;
  background: #eee;
  margin: 40px 0;
  width: 100%;
}

.but01 {
  background: #f6aa00;
  color: #fff;
  width: 120px;
  margin: 10px auto;
}

.but01:hover {
  background: #fff;
  color: #f6aa00;
  transition: all, 0.3s;
}

.but01.long {
  width: 220px;
}

a.but02 {
  display: inline-block;
  border: 1px solid #fff;
  padding: 0 10px;
  margin: 0 5px;
  color: #fff;
}

a.but02:hover {
  background: #fff;
  color: #00468c;
}

.but03 {
  display: inline-block;
  border: 1px solid #fff;
  background: #f6aa00;
  color: #fff;
  padding: 3px 50px;
  margin: 10px 30px;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
  &.but03-sm {
    font-size: 14px;
    padding: 3px 10px;
    margin: 0;
  }
}

.but03:hover {
  border: 1px solid #f6aa00;
  background: #fff;
  color: #f6aa00;
  transition: all, 0.3s;
}

/*-------------*/

#top {
  position: relative;
  width: 100%;
  margin: 0 auto;
}
.logo {
  display: inline-block;
  width: 198px;
  margin-top: 20px;
  margin-left: 20px;
}
.logo img {
  width: 100%;
}
.lang {
  position: absolute;
  top: 10px;
  right: 160px;
}
.lang select {
  font-size: 12px;
  padding: 1px;
  width: 100px;
}
.lang img {
  vertical-align: text-bottom;
}
.setting {
  position: absolute;
  top: 8px;
  right: 160px;
  color: #00468c;
  font-size: 13px;
}
.setting img {
  vertical-align: text-bottom;
  margin-left: 20px;
}
.setting a#btn-profile:first-child, .setting a#btn-sign-out:first-child {
    margin-right: 5px;
}
.setting a#btn-profile, .setting a#btn-sign-out {
    font-size: 16px;
    display: inline-block;
    height: 20px;
    vertical-align: middle;
}
.setting a#btn-profile span.fa, .setting a#btn-sign-out span.fa {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
    font-size: 22px;
    color: #00468c;
}
.menu {
  display: inline-block;
  font-size: 20px;
  margin-left: 100px;
  vertical-align: bottom;
}
.menu span a {
  margin-left: 70px;
  color: #000;
  cursor: pointer;
}
.menu span a:hover,
.menu span.on a {
  color:#f6aa00;
}
.number {
  position: absolute;
  top: 0;
  background: #f6aa00;
  padding: 10px;
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  line-height: 40px;
  right: 20px;
}
.number span {
  font-size: 13px;
  font-weight: normal;
  color: #00468c;
  display: block;
  line-height: 20px;
}

.graybg {
  background: #eee;
  width: 100%;
}

.w1200 {
  width: 1200px;
  margin: 0 auto;
}

.w700 {
  width: 700px;
  margin: 0 auto;
}

#footer {
  text-align: center;
  padding: 60px 0 30px 0;
}

#footer div img:first-child {
  vertical-align: bottom;
}

#footer div span {
  margin: 0 40px;
  &.footer_logo_group{
    display: inline-block;
    position: relative;
    span{
      position: absolute;
      bottom: -35px;
      left: 0px;
      margin: 0px;
      a{
        margin: 0 10px;
      }
    }
  }
}

#footer div a:hover {
  -webkit-filter: brightness(1.3);
  filter: brightness(1.3);
}

#footer div div {
  margin-top: 40px;
}

ul.nav-top {
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  background: #00468c;
  width: 100%;
  text-align: center;
}

ul.nav-top li {
  display: inline-block;
}

ul.nav-top li a {
  &, &:link, &:active, &:hover, &:visited, &:focus {
    display: block;
    margin: 0;
    padding: 10px 45px;
    font-size: 20px;
    color: #fff;
    border-bottom: 3px solid transparent;
    background: none;
  }
  &:hover {
    color: #f6aa00;
  }
}

.nav-top li.active a {
  &, &:link, &:active, &:hover, &:visited, &:focus {
    border-bottom: 3px solid #f6aa00;
    color: #f6aa00;
  }
}

.search {
  position: relative;
  padding: 5px 0;
  text-align: right;
}

.search input {
  width: 400px;
  border: none;
  height: 25px;
  vertical-align: top;
  margin-top: 3px;
}

.search div.but01 {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  margin: 3px 15px;
  width: 100px;
}

.result {
  display: inline-block;
  margin-right: 15px;
}

.logout p {
  font-size: 20px;
  font-weight: 700;
  color: #00468c;
  margin-bottom: 50px;
}

/*---------------*/
.indexp0 {
  background: url(../images/bigbg.jpg) center no-repeat #09102a;
  text-align:center;
  height: 660px;
  width: 100%;
  border-top: 10px solid #f6aa00;
  margin-top: 30px;
}
.indexp0 h1 {
  color: #fff;
  padding-top: 230px;
  font-size: 40px;
  letter-spacing: 2px;
  margin-right: 370px;
  text-shadow: 0 0 5px #08122e;
}
.indexp0 h1 small {
  font-size: 28px;
}
@media screen and (max-width:1366px) {
  .indexp0 h1 {
    font-size: 35px;
    letter-spacing: 2px;
    margin-right: 370px;
    text-shadow: 0 0 5px #08122e;
  } 
  .indexp0 h1 small {
    font-size: 23px;
  }
}

.indexp1 {
  text-align: center;
}

.indexp1 h1 {
  margin: 50px 0;
}

.signbut {
  margin-top: 200px;
  font-size: 20px;
}

.signbut a.but02 {
  padding: 6px 40px;
  margin: 0 50px;
}

.signin {
  width: 360px;
  margin: 0 auto 50px auto;
  background: #00468c;
  padding: 40px;
  text-align: center;
  color: #fff;
  line-height: 30px;
}

.signin h2 {
  margin-bottom: 30px;
}

.signin input, .signin button {
  border: none;
  width: 200px;
  margin-bottom: 20px;
}

.signin button {
  display: block;
}

.indexp02 {
  width: 96%;
  padding: 80px 2%;
}

.indexp2 {
  width: 96%;
  padding: 80px 2%;
  margin-top: 100px;
}

.indexp3 {
  text-align: center;
  margin: 50px auto 80px auto;
}

.indexp3 div {
  display: inline-block;
}

.indexp3 a div div {
  background: #00468c;
  border-radius: 130px;
  margin: 30px 60px;
  padding: 35px;
  transition: all, 0.3s;
}

.warn {
  position: absolute;
  color: #f6aa00;
  margin: -5px 0 0 -40px;
  width: 440px;
  text-align: center;
}

.forgot {
  margin-bottom: 20px;
  line-height: 15px;
}

.forgot a {
  color: #fff;
}

/*---------------*/
.passbox {
  padding: 20px 30px;
  margin: 0 auto;
  text-align: left;
}

.passboxpic {
  position: relative;
  margin: -95px 0 0 470px;
}

.passboxtext input {
  width: 540px;
  margin: 20px 0;
}

h4.enter {
  line-height: 90px;
}

.passboxpic {
  position: relative;
  margin: -95px 0 0 470px;
}

.passboxtext input {
  width: 540px;
  margin: 20px 0;
}

h4.enter {
  line-height: 90px;
}

/*---------------*/
.subnav {
  text-align: center;
}

.subnav a {
  display: inline-block;
  margin: 20px 5px 10px 5px;
  border: 1px solid #fff;
  padding: 0 10px;
  color: #666;
}

.subnav a:hover, .subnav a.on {
  border: 1px solid #00468c;
  color: #00468c;
}

.piclist {
  padding: 0 11px;
}

.piclist > a {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 10px;
  width: 340px;
  margin: 15px 24px;
  vertical-align: top;
}

.piclist > a p span {
  color: #f6aa00;
  margin-right: 10px;
}

.page {
  margin: 30px 0;
  text-align: center;
}

.page a {
  display: inline-block;
  border: 1px solid #666;
  width: 24px;
  line-height: 24px;
  margin: 0 10px;
}

.page a:hover, .page a.on {
  border: 1px solid #f6aa00;
  color: #f6aa00;
}

/*----------------*/
.sele {
  padding: 7px 0 8px 0;
  text-align: right;
}

.sele select {
  margin-right: 15px;
  border: none;
  height: 25px;
}

.cont {
  position: relative;
  margin: 20px auto;
}

.mail {
  position: absolute;
  top: 5px;
  right: 0;
}

.mail2 {
  position: absolute;
  margin: -40px 0 0 710px;
  width: 200px;
  font-weight: 700;
}

.mail2 a {
  color: #f6aa00;
}

.mail2 img {
  margin-left: 15px;
}

.dragbox {
  background: #eee;
  padding: 10px 15px;
  width: 565px;
  margin-top: 42px;
}

.dragbox div {
  display: inline-block;
  background: #fff;
  width: 505px;
  text-align: center;
  margin: 10px auto 5px auto;
  padding: 30px;
}

.block1 {
  position: relative;
  border: 1px solid #ccc;
  padding: 10px 15px;
  width: 540px;
  color: #999;
  margin-bottom: 10px;
}

.block1 p {
  font-size: 20px;
  padding-bottom: 20px;
  color: #000;
}

.block1 span {
  position: absolute;
  font-size: 20px;
  text-align: right;
  font-weight: 700;
  margin-top: -45px;
  right: 15px;
  color: #f6aa00;
}

.block1 span:last-child {
  margin-top: -5px;
}

.block1 span img {
  vertical-align: sub;
}

.block2 {
  margin-bottom: 10px;
}

.block2 input {
  width: 540px;
}

.block3 {
  border: 1px solid #ccc;
  padding: 50px 100px;
  margin-bottom: 10px;
}

.block3 div {
  display: inline-block;
  line-height: 55px;
  margin: 0 80px;
  vertical-align: top;
}

.block3 div:first-child img {
  border: 1px solid #ccc;
  display: block;
}

.block3 div p, .block3 div p a {
  color: #f6aa00;
}

.block3 div p img {
  margin-right: 20px;
}

.layer .block3 div p, .layer .block1 p {
  width: auto;
  margin: 0;
}

/*-------------*/
.myip {
  position: absolute;
  color: #00468c;
  text-align: center;
  right: 160px;
  top: 36px;
  font-size: 13px;
}

.myip p {
  font-size: 30px;
  color: #f6aa00;
  line-height: 32px;
}

.table {
  padding-top: 10px;
}

.tag1 {
  width: 100%;
  border-bottom: 1px solid #00468c;
}

.tag1 a span {
  display: inline-block;
  background: #bbb;
  padding: 2px 15px;
  text-align: center;
  min-width: 140px;
  margin-right: 2px;
  color: #fff;
  font-size: 20px;
  transition: all, 0.3s;
}

.tag1 a:hover span, .tag1 a.on span {
  background: #00468c;
}

.tablestyle1 tr td {
  padding: 10px;
  text-align: center;
  &.text-left {
    text-align: left;
  }
}

.tablestyle1 tr:not(:first-child) td:first-child {
  font-weight: 700;
  font-size: 20px;
}

.tablestyle1 tr:nth-child(odd) {
  background: #edf6ff;
}

.tablestyle1 tr:first-child {
  background: #eee;
  color: #00468c;
  font-size: 15px;
}

.tablestyle1 tr:last-child {
  border-bottom: 1px solid #00468c;
}

.loader:before, .loader:after, .loader {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: loader 1.8s infinite ease-in-out;
  animation: loader 1.8s infinite ease-in-out;
}

.loader {
  font-size: 10px;
  margin: -32px auto 0 auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before {
  left: -10px;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 10px;
}

.loader:before, .loader:after {
  content: '';
  position: absolute;
  top: 0;
}

@-webkit-keyframes loader {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #f6aa00;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #f6aa00;
  }
}

@keyframes loader {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em #f6aa00;
  }
  40% {
    box-shadow: 0 2.5em 0 0 #f6aa00;
  }
}

/*-------------*/
.details {
  margin: 25px;
}

.details > div {
  display: inline-block;
  vertical-align: top;
}

.list img {
  border: 1px solid #ccc;
}

.list ul {
  text-align: center;
  font-size: 18px;
  color: #bbb;
  line-height: 35px;
  margin-top: 15px;
}

.list ul a {
  color: #bbb;
}

.list ul a:hover li, .list ul a.on li {
  background: #bbb;
  color: #fff;
}

.list ul li {
  border: 1px solid #bbb;
  margin-top: -1px;
}

.layer {
  margin-left: 68px;
}

.tablestyle2 tr:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.tablestyle2 tr td {
  padding: 8px 20px;
}

.tablestyle2 span {
  color: #f6aa00;
  margin-right: 10px;
}

.tablestyle2.datarecord tr td {
  &:first-child {
    width: 20%;
  }
}

span.ok {
  float: right;
}

.listtitle {
  width: 100%;
  background-color: #bbb;
  color: #fff;
  font-size: 20px;
  margin: 10px 0;
  padding: 6px 15px;
}

.layer p {
  width: 840px;
  margin: 15px;
}

.tablestyle2 p {
  font-size: 20px;
  font-weight: 700;
  width: auto;
  margin: 0;
}

.download {
  margin: 40px 0;
  width: 100%;
}

.download span {
  display: inline-block;
  vertical-align: text-bottom;
}

.download span:first-child {
  color: #fff;
  background: #00468c;
  padding: 8px 0;
  text-align: center;
  width: 250px;
  font-size: 20px;
}

.download span:last-child {
  width: calc(100% - 283px);
  border: 1px solid #00468c;
  padding: 5px 15px 4px 15px;
}

.download span:last-child a {
  color: #00468c;
}

.download img {
  float: right;
}

.bgblue {
  background: #edf6ff;
}

.bgblue tr td {
  border-bottom: 1px solid #fff;
}

.topgray tr:first-child {
  background: #eee;
  color: #00468c;
  font-size: 20px;
  border: none;
}

.topgray tr:last-child, .botline tr:last-child {
  border-bottom: 1px solid #ccc;
}

.topgray {
  margin-bottom: 20px;
}

.tablestyle3 tr:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.tablestyle3 tr td {
  padding: 8px 20px;
  text-align: center;
}

.tablestyle3 span {
  color: #f6aa00;
  margin-right: 10px;
}

.tablestyle3 tr:first-child {
  background: #eee;
  color: #00468c;
}

/*-------------*/
.warnbox {
  background: #f0f0f0;
  width: 1100px;
  padding: 20px 25px;
  color: #C00;
  margin: 0 auto 25px auto;
  line-height: 25px;
  text-align: center;
}

.warnbox .close {
  position: absolute;
  margin: -10px 0 0 1090px;
}

.tag2 {
  width: 100%;
  border-bottom: 1px solid #f6aa00;
  margin-bottom: 20px;
}

.tag2 a span {
  display: inline-block;
  background: #bbb;
  padding: 2px 20px;
  text-align: center;
  margin-right: 2px;
  color: #fff;
  font-size: 20px;
  transition: all, 0.3s;
}

.tag2 a:hover span, .tag2 a.active span, .tag2 a.on span {
  background: #f6aa00;
}

.addip > div {
  margin-bottom: 20px;
  width: 1050px;
}

.addiplist, .addiplist img, .addiplist div {
  vertical-align: middle;
}

.addiplist div {
  display: inline-block;
}

.addiplist span, .addiplist2 span, .addiplist3 span:first-child {
  display: inline-block;
  text-align: right;
  margin-right: 20px;
  width: 182px;
  font-size: 18px;
  color: #f6aa00;
  font-weight: 700;
}

.addimages {
  width: 200px;
  height: 200px;
  color: #fff;
  background: #bbb;
  text-align: center;
  line-height: 200px;
  margin-right: 20px;
}

.cover {
  width: 350px;
  height: 210px;
}

.but04 {
  border: 1px solid #f6aa00;
  display: inline-block;
  padding: 2px 20px;
  background: #f6aa00;
  color: #fff;
  float: right;
  margin-top: 90px;
}

.but04:hover {
  background: #fff;
  color: #f6aa00;
}

.addip .addiplist2 {
  position: absolute;
  margin: -94px 0 0 450px;
  width: 630px;
}

.addip textarea {
  vertical-align: top;
  width: 380px;
  height: 66px;
}

.addip textarea.longtext, .addiplist input.longtext {
  width: 830px;
}

.addip .addiplist2.Phase {
  margin-top: -46px;
}

.addiplist input.techinput {
  width: 120px;
  margin: 0 0 0 5px;
}

.addiplist div.addblock {
  display: inline-block;
  width: 820px;
  vertical-align: top;
}

.block1.datarecords {
  width: 360px;
  margin-right: 15px;
}

.layer2 div.block1.datarecords p {
  padding: 10px 0 20px 0;
}

.block1.datarecords span {
  margin-top: -43px;
}

.addiplist div.datarecordsadd {
  width: 360px;
  border: 1px solid #eee;
  height: 102px;
  background: #eee;
  padding: 35px 0 0 135px;
  vertical-align: top;
}

.listtitle2 {
  width: 100%;
  background-color: #bbb;
  color: #fff;
  font-size: 20px;
  padding: 6px 15px;
  margin-top: 10px;
}

.mt40 {
  margin-top: 40px;
}

.br1 {
  border: 1px solid #ccc;
  padding-bottom: 10px;
  width: 100%;
}

.addiplist3 span:first-child {
  width: 300px;
}

.addiplist3 {
  margin: 30px 20px;
}

.okpic {
  position: absolute;
  margin: -170px 0 0 920px;
}

.layer2 p {
  padding: 15px;
}

.layer2 .block3 {
  width: 100%;
}

.layer2 .block3 div:first-child {
  margin: 0 40px;
}

.layer2 .block3 div:last-child {
  margin: 0;
  padding: 45px;
  text-align: center;
  border: 1px dashed #ccc;
}

/*----------------*/
.msetting, .msetting2 {
  position: absolute;
  width: 160px;
  padding: 30px 1px 1px 1px;
  background: #f6aa00;
  display: none;
}

.close2 {
  position: absolute;
  margin: -28px 0 0 135px;
}

.msettingone {
  background: #fff;
  padding: 2px 0 2px 10px;
  text-align: left;
  border: 1px solid #f6aa00;
  color: #f6aa00;
  cursor: pointer;
}

.msettingone input {
  float: right;
  margin: 6px 10px 0 0;
}

a.but05 {
  display: inline-block;
  border: 1px solid #f6aa00;
  width: 100px;
  color: #fff;
  background: #f6aa00;
  text-align: center;
}

a.but05:hover {
  background: #fff;
  color: #f6aa00;
}

a.but06 {
  display: inline-block;
  border: 1px solid #00468c;
  width: 100px;
  color: #fff;
  background: #00468c;
  text-align: center;
}

a.but06:hover {
  background: #fff;
  color: #00468c;
}

.tablestyle2.mess tr td {
  padding: 15px 20px;
}

.tablestyle2.mess tr td:first-child {
  text-align: center;
}

.mboxp1 {
  text-align: center;
}

.mboxp1 h3 {
  margin: 20px auto;
}

.mboxp2 {
  width: 840px;
  margin-left: 68px;
  padding: 15px;
}

.mboxp2 > div {
  margin-bottom: 20px;
}

.mbox_a h4 span, .mbox_b h4 span {
  color: #666;
  font-size: 13px;
  margin: 0 20px;
  font-weight: normal;
}

.mbox_a h4 {
  margin-left: 20px;
}

.mbox {
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #f0f8ff;
  padding: 20px;
  margin-right: 20px;
}

.mbox_b h4 {
  width: 100%;
  text-align: right;
  color: #f6aa00;
}

.mbox.re {
  background: #fffaf0;
  margin-right: 0;
  margin-left: 20px;
}

textarea.longtext2 {
  border-radius: 10px;
  width: 800px;
  height: 100px;
}

.mbox_c p {
  float: right;
  font-weight: 700;
  color: #ccc;
}

.bigpic {
  width: 868px;
  border: 1px solid #ccc;
  margin-top: 20px;
}

.bigpic img {
  width: 100%;
}

.myipp4 .but05 {
  margin: 20px 0;
}

.myipform {
  width: 870px;
}

.myipform div {
  padding: 15px 0;
}

.myipform div span {
  display: inline-block;
  text-align: right;
  margin-right: 20px;
  width: 140px;
  font-size: 18px;
  color: #f6aa00;
  font-weight: 700;
}

.myipform div input {
  margin-right: 20px;
  width: 190px;
}

.myipform div input.long {
  width: 580px;
}

.myipform div textarea.long {
  width: 570px;
  vertical-align: top;
  height: 150px;
}

h4.seth4 {
  color: #f6aa00;
  text-align: center;
  margin: 0;
}

a.but05.setbut {
  padding: 1px 20px;
  font-size: 20px;
  width: auto;
  margin: 20px 0 0 18px;
}

.settingform div {
  margin-bottom: 15px;
}

.settingform input {
  width: 220px;
  margin-right: 20px;
}

.settingform input.long {
  width: 482px;
}

.settingform input.mid {
  width: 350px;
}

.settingform a.but05 {
  width: auto;
  padding: 1px 20px;
}

.settingform a.but05.ver {
  padding: 3px 0;
  width: 400px;
  font-size: 20px;
}

.settingform .line3 {
  margin: 20px 0;
}

.settingform input[type="radio"], .settingform input[type="checkbox"] {
  width: auto;
}

.settingform input[type="radio"]:not(:first-of-type) {
  margin-left: 40px;
}

.check {
  width: 820px;
  text-indent: -22px;
  padding-left: 22px;
}

.settingform div span {
  display: inline-block;
  text-align: right;
  margin-right: 10px;
  width: 80px;
  font-size: 15px;
  color: #000;
  font-weight: 700;
}

.settingform div select {
  margin-right: 20px;
  width: 152px;
}

.settingform div textarea {
  width: 744px;
  height: 100px;
}

.settingform div span.set2 {
  width: 155px;
}

.addimages.setimg {
  margin-right: 0;
  line-height: inherit;
}

a.reset {
  color: #666;
  font-size: 12px;
}

a:hover.reset {
  text-decoration: underline;
}

.tablestyle1.contact th {
  text-align: left;
  padding: 5px 15px;
  &.actions {
    max-width: 15%;
    width: 15%;
    text-align: center;
  }
}

.tablestyle1.contact tr:not(:first-child) td {
  text-align: left;
  padding-left: 15px;
  font-size: 15px;
  &.actions {
    text-align: center;
  }
}

.mybk {
  position: relative;
  width: 420px;
  border: 1px solid #bbb;
  margin-left: 778px;
}

.mybk p {
  width: calc(100% - 30px);
  color: #fff;
  background: #bbb;
  padding: 2px 15px;
  text-align: center;
}

.mybk div {
  width: 280px;
  display: inline-block;
  word-break: break-all;
  vertical-align: middle;
}

.mybk img {
  margin: 15px;
}

.layer.contact {
  margin: 0;
}

.addip.contact {
  margin: 30px 0 0 200px;
}

.addip.contact input {
  width: 370px;
}

.warn2 {
  color: #C00;
  font-size: 13px;
  margin-top: 10px;
  width: 860px;
  line-height: 18px;
}

.settingform div span.long {
  width: auto;
}

h6 span {
  font-size: 15px;
  margin-left: 20px;
  font-weight: normal;
  color: #000;
}

textarea.longtextarea {
  margin-top: 10px;
  width: 1130px;
  height: 150px;
  line-height: 20px;
}

.tablestyle1.contract tr:not(:first-child) td:nth-child(4) {
  text-align: left;
}

.br1.addip {
  padding: 20px 0;
  margin-bottom: 20px;
}

.addiplist.nda input {
  margin: 0 5px;
  width: 160px;
}

.addiplist input.longtext3 {
  width: 400px;
}

.addiplist.nda span {
  width: 120px;
}

.addiplist4 {
  margin-left: 60px;
}

.addiplist4 input {
  margin: 0 5px;
}

ul.addiplist4 {
  margin-bottom: 20px;
}

ul.addiplist4 li {
  text-indent: -16px;
  padding: 0 60px 0 16px;
  color: #777;
}

table.sign tr {
  height: 40px;
  color: #00468c;
}

table.sign tr td:nth-child(odd) {
  text-align: right;
  padding-right: 10px;
}

table.sign tr td a.but06 {
  margin-left: 5px;
}

.ndatxt, .addip .addiplist.nda span.ndatxt {
  color: #f6aa00;
  font-size: 15px;
  width: auto;
  margin: 0 5px;
}

.secure .page-wrap {
  & > .alert {
    width: 1200px;
    margin: 30px auto 15px auto;
  }
}

img {
  max-width: 100%;
}

.fc{
  text-align: center;
  padding: 80px 0;
  font-size: 20px;
}
.fc img{
  vertical-align: middle;
}
.fc p{
  display: inline-block;
  width: 750px;
  text-align: justify;
  margin-left: 40px;
  vertical-align: middle;
  line-height: 30px;
}
.fc p b{
  font-size: 30px;
  font-weight: bold;
  vertical-align: sub;
}
.fc p span{
  display: block;
  font-style: italic;
  font-size:12px; 
  text-align: right;
  line-height: 16px;
  color: #666;
}
.fc p span b{
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
}

.pricing-cont{
  background: url(../images/pricing.jpg) center top no-repeat;
  text-align:center;
  width:100%;
  border-top:10px solid #f6aa00;
  margin:30px auto 0 auto ;
}
.pricing_list{
  margin: 0 auto;
  padding: 30px 0;
}
.pricing_cont{
  position: relative;
  display: inline-block;
  background: #fff;
  box-shadow: 0 3px 9px rgba(0,0,0,0.5);
  padding: 50px;
  margin: 50px;
  text-align: center;
  vertical-align: top;
  width: 370px;
}
.pricing_cont div:first-child{
  font-size: 22px;
  font-weight: bold;
  height: 45px;
}
.line4{
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin: 10px auto;
}
.money{
  margin-top: 20px;
  height: 60px;
  font-size: 35px;
  color: #00468c;
  line-height: 40px;
  font-weight: bold;
}
.money span:first-child{
  font-size: 20px;
  vertical-align: super;
}
.money span:nth-child(2){
  font-size: 14px;
}
.money small{
  display: block;
  font-size: 13px;
  color: #ccc;
  line-height: 0;
  font-weight: normal;
}
.pricing_check{
  text-align: left;
  height: 300px;
  line-height: 25px;
  margin-top: 30px;
  font-size: 16px;
}
.pricing_check li{
  padding: 8px 0;
  line-height: 20px;
}
.pricing_check li.checkno{
  padding-left:30px; 
}
.pricing_check li span{
  font-weight: bold;
}
.pricing_check li img{
  padding-right: 5px;
}
.pricing_check li.spe{
  color: #f6aa00;
  font-weight: bold;
  text-indent: -30px;
  padding-left: 30px;
}
.orgbut{
  position: absolute;
  background: #f6aa00;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  padding: 25px;
  width: 370px;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.orgbut:hover{
  background: #f67f00;
}

.marquee0 {
  div {
    img {
      height: 75px;
      margin-left: 50px;
    }
  }
}

.blog a > div {
  display: inline-block;
  width: 30%;
  margin: 100px 1.5% 100px 1.5%;
  vertical-align: top;
}
.blog a:hover {
  filter:drop-shadow(0 0 5px #ccc);
}
.blog a > div h2 {
  color: #999;
  line-height: 30px;
  font-size: 22px;
  margin: 15px 0;
}
.blog a > div {
  div.post-image {
    width: 362px;
    height: 200px;
    border-radius: 15px;
    border: 1px solid #ccc;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    img {
      min-height: 100%;
      min-width: 100%;
      /* IE 8 */
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      /* IE 5-7 */
      filter: alpha(opacity=0);
      /* modern browsers */
      opacity: 0;
      border-radius: 15px;
      border: 1px solid #ccc;
    }
  }
} 

.blog {
  .more{
    font-size: 12px;
    color: #fff;
    background:#f6aa00;
    padding:1px 10px ;
    line-height: 12px;
    float: right;
    margin-top: 8px;
  }
  .blog-loading {
    margin: 15px auto;
    display: block;
    width: 200px;
  }
  .hidden-container{
    display: none;
  }
} 

.print_footer{
  width: 100%;
}
.print_footer.graybg div.print_footercont{
  background-color: #fff;
}
.print_footercont{
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  border-left:30px solid #ccc; 
  margin-left:2px;
  margin: -20px auto 0 auto;
  position: relative;
}
.print_footercont > div{
  display: inline-block;
  vertical-align: middle;
  color: #000;
  line-height: 35px;
}
.print_footercont div.footerver{
  position: absolute;
  transform: rotate(-90deg);
  top: 80px;
  left: -83px;
  font-size: 20px;
  color: #fff;
}
.print_footercont > div p{
  font-weight: bold;
}

@page {
  size: A4;
  margin: 0 auto;
}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
    min-width: 210mm;
    min-height: 210mm;
  }
  img {
      page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
      page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
      page-break-inside: avoid; /* or 'auto' */
  }
  ol[type=i] {page-break-inside: avoid;}
}

.w850{
  width: 850px;
  word-break: break-all;
}
.newsletter{
  width: 100%;
  background: #00468c;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.newsletter h1{
  font-size: 40px;
  padding-top: 120px ;
}
.newsletterinput{
  padding: 50px 0 130px 0;
}
.newsletterinput input{
  border: none;
  width: 50%;
  border-radius: 5px 0 0 5px;
  padding: 5px 10px ;
  color: #555;
}
.newsletterinput input::placeholder{
  color: #ccc;
}

.newsletterinput p.alert {
  width: 715px;
  margin: 10px auto;
  font-size: 18px;
  padding: 5px 15px;
  text-align: left;
  font-weight: bold;
  border-radius: 3px;
  display: none;
}

a.but07{
  border-radius: 0 5px 5px 0;
  background: #f6aa00;
  color: #fff;
  display:inline-block;
  font-size: 15px;
  padding: 5px 20px 5px 15px;
  vertical-align: top;
  text-decoration: none;
  cursor: pointer;
}
a.but07:hover{
  background:#f67f00
}
.bluebg{
  background:#00468c;
  width:100%;
  text-align: center;
  padding: 50px 0;
}
.bluethree h1{
  color: #fff;
  font-size: 40px;
  letter-spacing: 2px;
}
.bluethree div{
  display: inline-block;
  border-left: 1px solid #fff;
  width: 380px;
  margin: 50px 0 ;
  font-size: 40px;
  color: #f6aa00;
  text-align: center;
  padding: 0 40px;
  line-height: 40px;
}
.bluethree div:nth-child(2){
  border-left: none;
}
.bluethree div span{
  font-size: 24px;
  color: #fff;
}
.water{
  position: fixed;
  right: 0;
  top: 35%;
  background:rgba(155,155,155,0.6);
  border-radius: 10px 0 0 10px;
  padding:0 5px 0 10px;
  width:55px;
}
.water a{
  display: block;
  margin: 15px 0;
  transition: all, 0.3s;
}
.carousel-control.right,.carousel-control.left{
  background: none;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next{
  color: #00468c;
}

#carousel-example-generic .carousel-inner > .item {
  height: 360px;
}

/* do not group these rules */
*::-webkit-input-placeholder {
    color: #cfcfcf;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #cfcfcf;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #cfcfcf;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #cfcfcf;
}