.page {
  .pagination > li {
    & > a, & > span {
      padding: 3px 6px;
      margin: 0 10px;
      width: auto;
      border: 1px solid #666;
      color: #000;
      &:hover, &:focus {
        background-color: #FFF;
        color: #f6aa00;
        border: 1px solid #f6aa00;
      }
    }
    &.active a,
    &.active span {
      background-color: #FFF;
      color: #f6aa00;
      border: 1px solid #f6aa00;
    }
    &:last-child > a,
    &:last-child > span,
    &:first-child > a,
    &:last-child > span {
      border-radius: 0;
    }
  }
}