.privacy h1 {
  line-height: 1.5em;
  margin-bottom: 15px;
}

.privacy ul.language-menu {
  list-style: none;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  & a {
    &, &:link, &:active, &:hover, &:visited, &:focus {
      text-decoration: underline;
    }
  }
}

.privacy h2 {
  margin-top: 20px;
  margin-bottom: 5px;
  & a {
    &, &:link, &:active, &:hover, &:visited, &:focus {
      color: inherit;
    }
  }
}

.privacy p {
  b {
    display: block;
    margin-top: 15px;
  }
}

.privacy ul {
  list-style: disc inside;
}

.privacy ol {
  list-style: decimal inside;
}

.privacy ul, .privacy ol {
  margin-top: 5px;
  padding-left: 15px;
  & li {
    padding: 5px 0;
  }
}

.privacy a {
  &, &:link, &:active, &:hover, &:visited, &:focus {
    color: blue;
    text-decoration: underline;
  }
}