.terms_of_use h1 {
  line-height: 1.5em;
  margin-bottom: 15px;
}

.terms_of_use ul.language-menu {
  list-style: none;
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  & a {
    &, &:link, &:active, &:hover, &:visited, &:focus {
      text-decoration: underline;
    }
  }
}

.terms_of_use h2 {
  margin-top: 20px;
  margin-bottom: 5px;
  & a {
    &, &:link, &:active, &:hover, &:visited, &:focus {
      color: inherit;
    }
  }
}

.terms_of_use p {

}

.terms_of_use ul {
  list-style: disc inside;
}

.terms_of_use ol {
  list-style: decimal inside;
}

.terms_of_use ul, .terms_of_use ol {
  margin-top: 5px;
  padding-left: 15px;
  & li {
    padding: 5px 0;
  }
}

.terms_of_use a {
  &, &:link, &:active, &:hover, &:visited, &:focus {
    color: blue;
    text-decoration: underline;
  }
}