#!/usr/bin/env bash
{% for json_exporter_target in json_exporter_targets %}
{{ json_exporter_bin }} --port {{ json_exporter_target.options.port }} --interval {{ json_exporter_target.options.interval_seconds }} {{ json_exporter_target.url }} {{ prometheus_config_dir }}/json_exporter_{{ json_exporter_target.name }}.yml{% if not loop.last %} & \{% endif %}
{% endfor %}
