.navbar.navbar-default {
  background: white;
  border-bottom: 10px solid $ipseeds-yellow;
  height: $nav-height;
}

.navbar-default .navbar-collapse {
  margin-top: 10px;
  @media (max-width: $screen-sm-min) {
    border: none;
    background: $ipseeds-yellow;
    margin-top: 16px;
    & .navbar-nav > li > a {
      color: white;
    }
  }
}

.navbar-toggle {
  margin-top: 20px;
}

a.navbar-brand {
  padding: 10px 15px 0 15px;
}

a.navbar-brand img {
  max-height: 50px;
  display: inline-block;
  vertical-align: baseline;
}

a.navbar-brand span {
  padding-top: 15px;
  display: inline-block;
  vertical-align: baseline;
}

.navbar-nav > li > form {
  padding: 15px;

  & a:hover {
    text-decoration: none;
  }

  @media (max-width: $screen-sm-min) {
    & a {
      color: white;
    }
  }
}