.user_registrations {
  .show {
    .heading {
      .action-buttons {
        margin-top: 25px;
        form {
          &.button {
            display: inline-block;
          }
        }
      }
    }
    .table {
      th {
        width: 250px;
      }
    }
  }
}
